//- LAYOUT

include ../includes/html

include ../includes/head

include ../variables/sitemap
include ../variables/icons
include ../variables/payments
include ../variables/shipments
include ../variables/documents
include ../variables/sluzby-detail
include ../variables/invoices
include ../variables/services
include ../variables/subnavigation

//----- BLOCK: Block for options
block opts
//----- END BLOCK

body
  
  include ../includes/header

  if pageID != null && sitemap[pageID].subpages
    include ../includes/subheader

  if breadcrumbs == true
    include ../includes/breadcrumbs

  block content

  include ../includes/footer
  include ../includes/scripts

| </html>