//- LAYOUT

include ../includes/html

include ../includes/head

include ../variables/sitemap
include ../variables/icons

//----- BLOCK: Block for options
block opts
//----- END BLOCK

body.style-guide-body
  
  block content

  include ../includes/scripts
  script(type='text/javascript', src='static/js/style-guide.js')


| </html>