extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 2;
  - var subpageID = 1;
  - var breadcrumbs = true;

//- Content
block append content

  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.ofst-s-center.col-xs-2
          p.no-mrg-top Urobte si poriadok so svojimi bločkami a archivujte si ich v Zelenej Pošte.

      .row

        .col-12.col-s-3.ofst-s-center.col-xs-2
          .row.row-space

            .col-12.no-mrg-top
              .btnline

                a.btn.btn-green(data-modal-target='modal-add-bill') Pridať bloček
                a.btn.btn-orange.disabled.js-tooltip-icon.hide-s(title="Vymazaním natrvalo zmažete danú položku, ak si želáte položku/-y vymazať označte položku/-y a stlačte tlačidlo vymazať.", data-modal-target='popup-delete-documents') Vymazať
          .row
            .col-6.col-m-3.col-s-4.pull-right
              .row
                .col-6.col-m-3.show-m.show-s.show-xs
                  .form-row
                    .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                      label Od:
                    .form-controls.form-controls-condensed-s.form-col-8.form-col-s-4
                      .form-control.form-control-postfixed
                        input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon calendar
                .col-6.col-m-3.show-m.show-s.show-xs
                  .form-row
                    .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                      label Od:
                    .form-controls.form-controls-condensed-s.form-col-8.form-col-s-4
                      .form-control.form-control-postfixed
                        input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon calendar
            .col-6.col-m-3.col-s-4.pull-right.show-m.show-s.show-xs
              .form-row
                .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                  label Vyhľadať:
                .form-controls.form-col-8.form-col-s-4
                  .form-control
                    input.input.input-search(type='text')
            
            .col-12.col-m-6.show-m.show-s.show-xs.col-space-m.no-mrg-top
              button.btn.btn-white.pull-right(type="button")
                i.icon.icon-left closesmall
                | Zrušiť filter

      .row

        .col-12.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.box-headerless.no-mrg-top
            .box-simple_content.no-pad
              table.table.table-hovers.table-responsive-s.js-table

                thead.hide-s
                  tr
                    th &nbsp;
                    th 
                      .table_sort.active
                        | Kategória
                        i.icon= icons.caretup
                    th.th-date-time
                      a.table_sort 
                        | Dátum nákupu
                        i.icon= icons.caretdown
                    th
                      a.table_sort 
                        | Obchod
                        i.icon= icons.caretdown
                    th.text-right 
                      a.table_sort 
                        | Cena (&euro;)
                        i.icon= icons.caretdown
                    th.hide-m &nbsp;
                    th &nbsp;
                  tr.hide-m
                    td 
                      .checkbox
                        input.checkbox-input(type='checkbox', id='checkbox-all', name='checkbox-all', data-check='all')
                        label.checkbox-custom(for='checkbox-all')
                    td.td-filter-category
                      select.js-select
                        option Všetky
                        each option in ['Jedlo','Benzín','Zábava','Domácnosť','Kancelrácia']
                          option #{option}
                    td.td-filter-date
                      .from-to-dropdown
                        .from-to-dropdown_wrap.js-toggle(data-target=".js-drop-picker")
                          .from-to-dropdown_content
                            .from Od: 
                              span 12.08.2014
                            .to Do: 
                              span 15.10.2014
                          .from-to-dropdown_caret
                            i.icon caretdown
                        .drop-picker.js-drop-picker.js-toggle-dropdown
                          .drop-picker_column
                            .form-row
                              .form-label.form-col-3.form-label-inline
                                label Od:
                              .form-controls.form-col-9
                                .form-control.form-control-postfixed.no-mrg
                                  input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                                  .form-control-addon
                                    a.btn.btn-green.js-datepicker-btn
                                      i.icon calendar
                          .drop-picker_column
                            .form-row
                              .form-label.form-col-3.form-label-inline
                                label Od:
                              .form-controls.form-col-9
                                .form-control.form-control-postfixed.no-mrg
                                  input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                                  .form-control-addon
                                    a.btn.btn-green.js-datepicker-btn
                                      i.icon calendar
                          .btnblock
                            button.btn.btn-green.drop-picker_confirm.js-toggle(type='button', data-target=".js-drop-picker") Potvrdiť
                    td
                      input.input.input-search(type='text')
                    td.td-filter-price
                      .form-control.form-control-prefixed.no-mrg
                        .form-control-addon
                          a.btn.btn-green &ge;
                        input.input(type='text')
                    td
                      input.input.input-search(type='text')
                    td.td-filter-close.text-right
                      button.btn.btn-white(type="button")
                        i.icon closesmall
                tbody
                  each bill, key in bills
                    tr.tr-state(class=bill.state)
                      td.hide-s
                        .checkbox
                          input.checkbox-input(type='checkbox', id='checkbox-' + key, name='checkbox-' + key)
                          label.checkbox-custom(for='checkbox-' + key)
                      td= bill.category
                      td.td-pull-right-s
                        | #{bill.date}   
                        span.hide-s , #{bill.time}
                      td.td-clear-s= bill.shop
                      td.text-right.td-pull-right-s= bill.price
                      td.hide-m
                        if bill.state != 'failed' && bill.state != 'processing'
                          .input-dynamic
                            label.input-dynamic_addon(for='textarea-bills-in-' + key)
                              unless bill.note == ''
                                i.icon.icon-s.text-color-lightgreen= icons.edit
                              else
                                i.icon.icon-s.text-color-lightgrey= icons.edit
                            textarea.input.js-autosize.js-nolinebreak(type='text', id='textarea-bills-in-' + key, placeholder='Poznámka')= bill.note
                        else if bill.state == 'processing'
                          | Dokument čaká na rozpoznanie
                      td.td-3btns.td-pull-right-s.td-clear-s.text-right

                        if bill.state != 'failed' && bill.state != 'processing'

                          if bill.note
                            button.btn.btn-clean.btn-white-s.hide-l.show-dib-m(type='button', data-modal-target='note-edit')
                              i.icon.icon-s.text-color-lightgreen= icons.notefill
                          else
                            button.btn.btn-clean.btn-white-s.hide-l.show-dib-m(type='button', data-modal-target='note-new')
                              i.icon.icon-s= icons.note

                          a.btn.btn-green.btn-fix-spaces(href='blocky-detail.html') Detail

                        else if bill.state == 'processing'
                          .icon-spin.anim-spin
                            i.icon.icon-m= icons.spinner

                        else
                          a.btn.btn-orange.hide-s(href='blocky-upravit.html') Opraviť

                  
            footer.box-simple_footer.box-simple_pagination
              ul.pagination
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleleft
                li.pagination_item
                  span.pagination_link &hellip;
                each key in [1,2,3,4,5,6,7]
                  li.pagination_item
                    - var active = ''
                    - if(key==1) active = 'active';
                    a.pagination_link(class=active)= key
                li.pagination_item
                  span.pagination_link &hellip;
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleright

    include ../includes/modals/note-new.jade
    include ../includes/modals/note-edit.jade
    include ../includes/popups/popup-delete-documents.jade
    include ../includes/modals/modal-add-bill.jade

append pageScripts
  script(type='text/javascript', src='static/plugins/fileupload/fileupload.js')
