extends ../templates/layout
  
//- Options
block prepend opts
  - var pageID = 2;
  - var subpageID = 1;
  - var breadcrumbs = true;
  - var breadcrumbsMore = [
  -   {
  -     'title': 'Detail',
  -     'href': 'blocky-detail.html'
  -   }
  - ]

//- Content
block append content

  - var bill = bills[0];

  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.ofst-s-center.col-xs-2

          .row

            .col.col-s-4

              .btnline
                a.btn.btn-green.btn-full-xs
                  i.icon.icon-left= icons.download
                  | Stiahnuť
                a.btn.btn-green.btn-full-xs(data-modal-target='popup-link')
                  i.icon.icon-left= icons.link
                  | Verejný link
                a.btn.btn-green.hide-s.btn-full-xs(href='blocky-upravit.html')
                  | Upraviť
                a.btn.btn-orange.btn-full-xs(data-modal-target='popup-delete-document') Vymazať

            .col.col-s-4.pull-right.col-space-s

              .btnline.pull-right.pull-left-s
                button.btn.btn-white(type='button', data-modal-target='modal-bill-lotery-new')
                  i.icon= icons.tipos   
                  span.hide-m  Národná bločková lotéria
                button.btn.btn-white(type='button', data-modal-target='note-new')
                  i.icon= icons.note
                button.btn.btn-white(type='button', data-modal-target='reminder-new')
                  i.icon= icons.bell
      
      .row
        .col-6.col-m-3.col-s-3.ofst-s-center.col-xs-2
          article.box-simple
            header.box-simple_header
              h3.no-mrg Informácie o bločku
            .box-simple_content

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label Obchod:
                .form-controls.form-col-6
                  label.input-static= bill.shop

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Cena:
                .form-controls.form-col-6
                  label.input-static
                    | #{bill.price} &euro;

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Dátum kúpy:
                .form-controls.form-col-6
                  label.input-static= bill.date

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Záruka:
                .form-controls.form-col-6
                  label.input-static= bill.warranty

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Kategória:
                .form-controls.form-col-6
                  label.input-static= bill.category
          
          
                  
        .col-6.col-m-3.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.document-preview
            header.box-simple_header
              h3.no-mrg Náhľad nahratého dokumentu
            .box-simple_content
              ul.bxslider.lb
                li
                  a.bxslider-lightbox_open(href="static/imgs/placeholders/vzor-blocek.jpg" rel="lightbox")
                    i.icon.icon-m= icons.search
                  img(src="static/imgs/placeholders/vzor-blocek.jpg", alt="")


  include ../includes/modals/modal-reminder-new.jade
  include ../includes/modals/modal-bill-lotery.jade
  include ../includes/modals/modal-bill-lotery-new.jade
  include ../includes/modals/note-new.jade
  include ../includes/popups/popup-link.jade
  include ../includes/popups/popup-delete-documents.jade

append pageScripts
  script(type='text/javascript', src='static/plugins/bxslider/jquery.bxslider.js')
  script(type='text/javascript', src='static/plugins/responsive-lightbox/jquery.lightbox.js')