extends ../templates/layout
  
//- Options
block prepend opts
  - var pageID = 2;
  - var subpageID = 0;
  - var breadcrumbs = true;
  - var breadcrumbsMore = [
  -   {
  -     'title': 'Detail',
  -     'href': 'dokumenty-detail.html'
  -   }
  - ]

//- Content
block append content
  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.col-s-3.ofst-s-center.col-xs-2

          .row

            .col.col-s-4

              .btnline
                a.btn.btn-green.btn-full-xs
                  i.icon.icon-left= icons.download
                  | Stiahnuť
                a.btn.btn-green.btn-full-xs(data-modal-target='popup-link')
                  i.icon.icon-left= icons.link
                  | Verejný link
                a.btn.btn-green.hide-s.btn-full-xs(href='dokumenty-sablona.html')
                  | Upraviť šablónu
                a.btn.btn-orange.btn-full-xs(data-modal-target='popup-delete-document') Vymazať

            .col.col-s-4.pull-right.col-space-s

              .btnline.pull-right.pull-left-s
                button.btn.btn-white(type='button', data-modal-target='note-new')
                  i.icon= icons.note
                button.btn.btn-white(type='button', data-modal-target='reminder-new')
                  i.icon= icons.bell
      
      .row
        .col-6.col-m-3.col-s-3.ofst-s-center.col-xs-2
          article.box-simple
            header.box-simple_header
              h3.no-mrg Detail o službe
            .box-simple_content

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label Služba:
                .form-controls.form-col-6
                  label.input-static
                    img.input-img(src="static/imgs/content/logos/orange.png", alt="")
                    | Orange Slovensko

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Typ dokumentu:
                .form-controls.form-col-6
                  label.input-static Faktúra
          
          article.box-simple
            header.box-simple_header
              h3.no-mrg Detaily dokumentu
            .box-simple_content

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Bankový účet:
                .form-controls.form-col-6
                  label.input-static 0363 987 4562 / 0900
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Cena:
                .form-controls.form-col-6
                  label.input-static 125,00
                  
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Variabilný symbol:
                .form-controls.form-col-6
                  label.input-static 1245387974
                  
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Dátum vystavenia:
                .form-controls.form-col-6
                  label.input-static 13.12.2014
                  
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Dátum splatnosti:
                .form-controls.form-col-6
                  label.input-static 14.12.2014
                  
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Stav faktúry:
                .form-controls.form-col-6
                  label.input-static 
                    i.icon.text-color-green= icons.check 
                    |  Zaplatená
                  
          article.box-simple
            header.box-simple_header
              h3.no-mrg Platobné brány
            .box-simple_content.pay-gates
              .row
                .col-6.col-m-3.col-s-3.ofst-s-center.col-xs-2
                  img.pay-gates_img.img-fluid.pull-left(src="static/imgs/content/pay-gates/tatrapay.png", alt="")
                  img.pay-gates_img.img-fluid.pull-left(src="static/imgs/content/pay-gates/vubeplatby.png", alt="")
                  img.pay-gates_img.img-fluid.pull-left(src="static/imgs/content/pay-gates/sporopay.png", alt="")
                  .btn-block.clear
                    a.btn.btn-green.text-center.ofst-s-center Označiť ako uhradené
                .col-6.col-m-3.hide-s
                  img.pay-gates_img.img-fluid.pull-right(src="static/imgs/content/pay-gates/qrcode.png", alt="")
                  
        .col-6.col-m-3.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.document-preview
            header.box-simple_header
              h3.no-mrg Náhľad nahratého dokumentu
            .box-simple_content
              ul.bxslider.lb
                li
                  a.bxslider-lightbox_open(href="static/imgs/placeholders/faktura-vzor.png" rel="lightbox")
                    i.icon.icon-m= icons.search
                  img(src="static/imgs/placeholders/faktura-vzor.png", alt="")
                li
                  a.bxslider-lightbox_open(href="static/imgs/placeholders/stats-placeholder.png" rel="lightbox")
                    i.icon.icon-m= icons.search
                  img(src="static/imgs/placeholders/stats-placeholder.png", alt="")
                li
                  a.bxslider-lightbox_open(href="static/imgs/placeholders/faktura-vzor.png" rel="lightbox")
                    i.icon.icon-m= icons.search
                  img(src="static/imgs/placeholders/faktura-vzor.png", alt="")

  include ../includes/modals/modal-reminder-new.jade
  include ../includes/modals/note-new.jade
  include ../includes/popups/popup-link.jade

append pageScripts
  script(type='text/javascript', src='static/plugins/bxslider/jquery.bxslider.js')
  script(type='text/javascript', src='static/plugins/responsive-lightbox/jquery.lightbox.js')