extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 2;
  - var subpageID = 0;
  - var breadcrumbs = true;
  - var breadcrumbsMore = [
  -   {
  -     'title': 'Šablóna',
  -     'href': 'dokumenty-sablona.html'
  -   }
  - ]

//- Content
block append content
  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.col-s-3.ofst-s-center.col-xs-2

          .row

            .col.col-s-4

              .btnline
                a.btn.btn-green.btn-full-xs(href='dokumenty-detail.html')
                  | Uložiť šablónu
                a.btn.btn-full-xs(data-modal-target='popup-delete-document') Zrušiť

            .col.col-s-4.pull-right.col-space-s

              .btnline.pull-right.pull-left-s
                button.btn.btn-white(type='button', data-modal-target='note-new')
                  i.icon= icons.note
                button.btn.btn-white(type='button', data-modal-target='reminder-new')
                  i.icon= icons.bell

      .row
        .col-6.col-s-3.ofst-s-center.col-xs-2

          article.box-simple
            header.box-simple_header
              h3.no-mrg Názov služby a typ dokumentu
            .box-simple_content

              .form-row
                .form-controls.form-col-7.form-ofst-5.form-col-s-8
                  .form-control
                    label.form-help <sup>*</sup> Všetky tieto polia sú povinné
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5
                  label Služba:
                .form-controls.form-col-7
                  .form-control.form-control-postfixed.js-input-select
                    input.input(type='text', placeholder='')
                    .form-control-addon
                      select.js-select
                        each option in services
                          option
                            | #{option.name} 
                            if option.signature
                              | - #{option.signature}

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5
                  label Typ:
                .form-controls.form-col-7
                  .form-control.form-control-postfixed.js-input-select.no-mrg
                    input.input(type='text', placeholder='')
                    .form-control-addon
                      select.js-select
                        each option in ['Faktúra','Upomienka']
                          option #{option}

          article.box-simple
            header.box-simple_header
              h3.no-mrg Rozpoznané detaily dokumentu
            .box-simple_content
              p.text-small.text-color-orange.no-mrg-top Niektoré položky neboli rozpoznané v rámci nahratého dokumentu správne, prosím označte ich v náhľade a uložte opravenú šablonu

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5
                  label Názov:
                .form-controls.form-col-7
                  .form-control.form-control-postfixed.form-control-tooltip
                    input.input.js-mark-input(type='text', placeholder='', data-mark-id='mark-01')
                    input.js-mark-position(type='hidden', name='mark-01-position', data-mark-id='mark-01')
                    input.js-mark-size(type='hidden', name='mark-01-size', data-mark-id='mark-01')
                    .form-control-addon
                      button.btn.btn-green.js-open-marking-tool(type='button', data-mark-id='mark-01', data-mark-img='static/imgs/placeholders/faktura-vzor.png')
                        i.icon= icons.lasso
                    span.tooltip-icon.js-tooltip(title='Lorem ipsum Excepteur nostrud Ut aliquip ut ex ut sint ullamco exercitation adipisicing pariatur velit in eiusmod quis Ut et.') ?

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.error
                  label Bankový účet:
                .form-controls.form-col-7.form-controls-condensed
                  .form-control
                    input.js-mark-position(type='hidden', name='mark-02-position', data-mark-id='mark-02')
                    input.js-mark-size(type='hidden', name='mark-02-size', data-mark-id='mark-02')
                    label.form-error Bankový účet nebol rozpoznaný správne, prosím označte správnu položku
                  .form-control.form-control-tooltip
                    button.btn.btn-green.btn-full.js-open-marking-tool(type='button', data-mark-id='mark-02', data-mark-img='static/imgs/placeholders/faktura-vzor-2.jpg', data-mark-text='Upraviť označenie') Označiť <span class='hide-m'>správnu položku</span>
                    span.tooltip-icon.js-tooltip(title='Lorem ipsum Excepteur nostrud Ut aliquip ut ex ut sint ullamco exercitation adipisicing pariatur velit in eiusmod quis Ut et.') ?

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5
                  label Cena:
                .form-controls.form-col-7
                  .form-control.form-control-postfixed.form-control-tooltip
                    input.input.js-mark-input(type='text', placeholder='', data-mark-id='mark-03')
                    input.js-mark-position(type='hidden', name='mark-03-position', data-mark-id='mark-03')
                    input.js-mark-size(type='hidden', name='mark-03-size', data-mark-id='mark-03')
                    .form-control-addon
                      button.btn.btn-green.js-open-marking-tool(type='button', data-mark-id='mark-03', data-mark-img='static/imgs/placeholders/faktura-vzor.png')
                        i.icon= icons.lasso
                    span.tooltip-icon.js-tooltip(title='Lorem ipsum Excepteur nostrud Ut aliquip ut ex ut sint ullamco exercitation adipisicing pariatur velit in eiusmod quis Ut et.') ?

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5
                  label Variabilný symbol:
                .form-controls.form-col-7
                  .form-control.form-control-postfixed.form-control-tooltip
                    input.input.js-mark-input(type='text', placeholder='', data-mark-id='mark-04')
                    input.js-mark-position(type='hidden', name='mark-04-position', data-mark-id='mark-04')
                    input.js-mark-size(type='hidden', name='mark-04-size', data-mark-id='mark-04')
                    .form-control-addon
                      button.btn.btn-green.js-open-marking-tool(type='button', data-mark-id='mark-04',
                        data-mark-img='static/imgs/placeholders/faktura-vzor-2.jpg')
                        i.icon= icons.lasso
                    span.tooltip-icon.js-tooltip(title='Lorem ipsum Excepteur nostrud Ut aliquip ut ex ut sint ullamco exercitation adipisicing pariatur velit in eiusmod quis Ut et.') ?

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5
                  label Dátum vystavenia:
                .form-controls.form-col-7
                  .form-control.form-control-postfixed.form-control-tooltip
                    input.input.js-mark-input(type='text', placeholder='', data-mark-id='mark-05')
                    input.js-mark-position(type='hidden', name='mark-05-position', data-mark-id='mark-05')
                    input.js-mark-size(type='hidden', name='mark-05-size', data-mark-id='mark-05')
                    .form-control-addon
                      button.btn.btn-green.js-open-marking-tool(type='button', data-mark-id='mark-05', data-mark-img='static/imgs/placeholders/faktura-vzor.png')
                        i.icon= icons.lasso
                    span.tooltip-icon.js-tooltip(title='Lorem ipsum Excepteur nostrud Ut aliquip ut ex ut sint ullamco exercitation adipisicing pariatur velit in eiusmod quis Ut et.') ?

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.error
                  label Dátum splatnosti:
                .form-controls.form-col-7.form-controls-condensed
                  .form-control
                    input.js-mark-position(type='hidden', name='mark-06-position', data-mark-id='mark-06')
                    input.js-mark-size(type='hidden', name='mark-06-size', data-mark-id='mark-06')
                    label.form-error Dátum splatnosti nebol rozpoznaný správne, prosím označte správnu položku
                  .form-control.form-control-tooltip.no-mrg
                    button.btn.btn-green.btn-full.js-open-marking-tool(type='button', data-mark-id='mark-06', data-mark-img='static/imgs/placeholders/faktura-vzor-2.jpg', data-mark-text='Upraviť označenie') Označiť <span class='hide-m'>správnu položku</span>
                    span.tooltip-icon.js-tooltip(title='Lorem ipsum Excepteur nostrud Ut aliquip ut ex ut sint ullamco exercitation adipisicing pariatur velit in eiusmod quis Ut et.') ?

        .col-6.col-s-3.ofst-s-center.col-xs-2
          article.box-simple
            header.box-simple_header
              h3.no-mrg Náhľad nahratého dokumentu
            .box-simple_content.no-pad
              ul.bxslider.lb
                li
                  a.bxslider-lightbox_open(href="static/imgs/placeholders/faktura-vzor.png" rel="lightbox")
                    i.icon.icon-m= icons.search
                  img(src="static/imgs/placeholders/faktura-vzor.png", alt="")
                li
                  a.bxslider-lightbox_open(href="static/imgs/placeholders/faktura-vzor-2.jpg" rel="lightbox")
                    i.icon.icon-m= icons.search
                  img(src="static/imgs/placeholders/faktura-vzor-2.jpg", alt="")
                li
                  a.bxslider-lightbox_open(href="static/imgs/placeholders/faktura-vzor.png" rel="lightbox")
                    i.icon.icon-m= icons.search
                  img(src="static/imgs/placeholders/faktura-vzor.png", alt="")
              .marking-tool.js-marking-tool
                img.img-fluid.js-marking-tool-img(src='')
                .marker
                  .marker_selection.js-marker-selection
                    .marker_controls
                      button.btn.js-close-marking-tool(type='button')
                        i.icon.icon-s= icons.closesmall
                      button.btn.js-confirm-marking-tool.btn-green(type='button')
                        i.icon.icon-s= icons.check

    include ../includes/modals/modal-reminder-new.jade
    include ../includes/modals/note-new.jade

append pageScripts
  script(type='text/javascript', src='static/plugins/bxslider/jquery.bxslider.js')
  script(type='text/javascript', src='static/plugins/responsive-lightbox/jquery.lightbox.js')
  script(type='text/javascript', src='static/plugins/jqueryui/jquery-ui.js')
  script(type='text/javascript', src='static/plugins/jqueryui-touch/jquery.ui.touch-punch.js')
