extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 0;
  - var breadcrumbs = false;

//- Content
block append content

  main.content-main.preloader_lock

    .grid-12col

      .row.row-space.dashboard-quick-info
        .col-12.col-s-3.ofst-s-center.col-xs-2
          p.text-big
            i.icon.icon-m.text-color-green= icons.lightbulb  
            |  Vyskúšajte odoslať zásielku cez Zelenú poštu. Môžete <a>odoslať ešte 5 zásielok zadarmo.</a>

      .row

        .col-6.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.no-mrg-top
            header.box-simple_header
              h3.no-mrg.inln-blck Prehľad platieb
              h3.no-mrg.inln-blck.pull-right.months-switcher.js-months-switcher
                input.months-switcher-input.js-datepicker-payments
                span.prev
                  i.icon= icons.chevronleft
                span.date &nbsp;
                span.date.short &nbsp;
                span.next
                  i.icon= icons.chevronright

            .box-simple_content
              .payments-overview.row
                .col-6.col-xs-2
                  .payments-overview_payment
                    p.h3.text-color-orange 180,00 &euro;
                    span.payment_desc.text-color-lightgrey Dnes splatné
                .col-6.col-xs-2
                  .payments-overview_payment.text-right
                    p.h3.text-color-red 180,00 &euro;
                    span.payment_desc.text-color-lightgrey Po splatnosti
                .col-6.col-xs-2
                  .payments-overview_payment
                    p.h3.text-color-lightgreen 1000,00 &euro;
                    span.payment_desc.text-color-lightgrey Už uhradené
                .col-6.col-xs-2
                  .payments-overview_payment.text-right
                    p.h3.text-color-grey 1360,00 &euro;
                    span.payment_desc.text-color-lightgrey Všetky platby za tento mesiac
        // end: col

        .col-6.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.dashboard-reminders.no-mrg-top
            .row
              .dr_calendar.js-datepicker-inline.col-6.hide-s
              .dr_day.col-6.col-s-4.js-reminders
                .dr_day_header
                  h3.no-mrg
                    span.prev 
                      i.icon= icons.chevronleft
                    span.date &nbsp;
                    span.next
                      i.icon= icons.chevronright
                .dr_day_content
                  ul
                    li
                      .icon-wrap
                        i.icon-s bellfill
                      .text-wrap
                        | Text on reminder Lorem ipsum.
                    li 
                      .icon-wrap 
                        i.icon-s bellfill
                      .text-wrap
                        | Text on reminder Lorem ipsum.
                    li 
                      .icon-wrap 
                        i.icon-s bellfill
                      .text-wrap
                        | Text on reminder Lorem ipsum.
                  .btnline      
                    a.btn.btn-green.add_reminder Nová pripomienka
        // end: col
          
      // end: row
            
      .row  

        .col-12.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.box-footerless.no-mrg-top
            header.box-simple_header
              h3.no-mrg Neuhradené platby
            .box-simple_content.no-pad
              table.table.table-hovers.table-responsive-s.table-payments
                thead.hide-s
                  tr
                    th &nbsp;
                    th Typ
                    th(colspan=2) Dátum splatnosti
                    th &nbsp;
                    th Odosielateľ
                    th.text-right Suma (&euro;)
                    th &nbsp;
                tbody
                  each payment in payments
                    tr.tr-state(class=payment.read + ' ' + payment.state)
                      td.td-fixed-10-s.text-center: i.icon.text-color-lightgrey.icon-s= payment.icon
                      td= payment.type
                      td.td-due-date= payment.date
                      td.td-pull-right-s: span.text-semibold(class=payment.tminus.color)= payment.tminus.period
                      td.text-right.hide-s: img.img-table-logo(src=payment.from.logo, alt=payment.from.name)
                      td.td-clear-s.td-ofst-10-s.td-2of3-sender= payment.from.name
                      td.td-pull-right-s.text-right= payment.price
                      td.td-clear-s.td-pull-right-s.text-right
                        if payment.state == 'failed'
                          a.btn.btn-orange.hide-s(href='dokumenty-sablona.html') Opraviť
                        else
                          a.btn.btn-green Detail

      // end: row

      .row  

        .col-12.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.box-footerless.no-mrg-top
            header.box-simple_header
              .box-simple_header_controls
                a(href='schranka.html'): strong Zobraziť všetky
              h3.no-mrg Prijaté zásielky

            .box-simple_content.no-pad
              table.table.table-hovers.table-responsive-s.table-shipments-in
                thead.hide-s
                  tr
                    th &nbsp;
                    th Typ
                    th Dátum a čas prijatia
                    th.text-center Stav
                    th &nbsp;
                    th Odosielateľ
                    th.hide-m &nbsp;
                    th &nbsp;
                tbody
                  each shipment, key in shipmentsIn
                    if key < 4
                      tr.tr-state(class=shipment.state)
                        td.td-fixed-10-s.text-center
                          a.no-bd
                            i.icon.icon-s(class=shipment.icon.color)= shipment.icon.icon
                        td= shipment.type
                        td
                          | #{shipment.date}   
                          span.hide-s , #{shipment.time}
                        td.td-pull-right-s.text-center.td-icon-space
                          unless shipment.state == 'failed'
                            if shipment.payed == true
                              i.icon.text-color-lightgreen.js-tooltip(title='Uhradené')= icons.check
                            else 
                              i.icon.text-color-orange.js-tooltip(title='Neuhradené')= icons.euro
                        td.hide-s: img.img-table-logo(src=shipment.from.logo, alt=shipment.from.name)
                        td.td-clear-s.td-ofst-10-s.td-break-sender= shipment.from.name
                        td.text-right.hide-m
                          unless shipment.state == 'failed'
                            .input-dynamic
                              label.input-dynamic_addon(for='textarea-shipments-in-' + key)
                                unless shipment.note == ''
                                  i.icon.icon-s.text-color-lightgreen= icons.edit
                                else
                                  i.icon.icon-s.text-color-lightgrey= icons.edit
                              textarea.input.js-autosize.js-nolinebreak(type='text', id='textarea-shipments-in-' + key, placeholder='Poznámka')= shipment.note
                        td.td-pull-right-s.td-clear-s.text-right

                          unless shipment.state == 'failed'

                            if shipment.note == true
                              button.btn.btn-clean.btn-white-s.hide-l.show-dib-m(type='button', data-modal-target='note-edit')
                                i.icon.icon-s.text-color-lightgreen= icons.notefill
                            else
                              button.btn.btn-clean.btn-white-s.hide-l.show-dib-m(type='button', data-modal-target='note-new')
                                i.icon.icon-s= icons.note

                            if shipment.reminder == true
                              button.btn.btn-clean.btn-white-s(type='button', data-modal-target='reminder-edit')
                                i.icon.icon-s.text-color-lightgreen= icons.bellfill
                            else 
                              button.btn.btn-clean.btn-white-s(type='button', data-modal-target='reminder-new')
                                  i.icon.icon-s= icons.bell

                            a.btn.btn-green.btn-fix-spaces(href='schranka-detail.html') Detail

                          else
                            a.btn.btn-orange.hide-s(href='dokumenty-sablona.html') Opraviť

      // end: row

      .row

        .col-12.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.box-footerless.no-mrg-top
            header.box-simple_header
              .box-simple_header_controls
                a(href='schranka-odoslane.html'): strong Zobraziť všetky
              h3.no-mrg Odoslané zásielky
            .box-simple_content.no-pad
              table.table.table-hovers.table-responsive-s.table-shipments-out
                thead.hide-s
                  tr
                    th &nbsp;
                    th Názov
                    th Dátum vytvorenia
                    th.text-center Stav
                    th.text-right Suma (&euro;)
                    th.hide-s.text-center Nespracované
                    th.hide-s.text-center Spracované
                    th.hide-s.text-center Zrušené
                    th.show-s.show-xs &nbsp;
                    th &nbsp;
                tbody
                  each shipment, key in shipmentsOut
                    if key < 4
                      tr
                        td.td-fixed-10-s.text-center
                          a.no-bd
                            i.icon.icon-s(class=shipment.icon.color)= shipment.icon.icon
                        td.td-1of3-xs= shipment.name
                        td
                          | #{shipment.date}   
                          span.hide-s , #{shipment.time}
                        td.td-pull-right-s.text-center
                          if shipment.payed == true
                            i.icon.text-color-lightgreen.js-tooltip(title='Uhradené')= icons.check
                          else 
                            button.btn.btn-orange(type='button', data-modal-target='popup-cancel-shipment') Zrušiť
                        td.td-clear-s.td-ofst-10-s.text-right= shipment.price
                        td.text-center.hide-s= shipment.unprocessed
                        td.text-center.hide-s= shipment.processed
                        td.text-center.hide-s= shipment.canceled
                        td.show-s.show-xs.td-pull-right-s
                          | #{shipment.unprocessed} / #{shipment.processed} / #{shipment.canceled}
                        td.text-right.td-clear-s.td-pull-right-s
                          a.btn.btn-green Detail

      // end: row

      .row

        .col-12.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.no-mrg-top
            header.box-simple_header
              .box-simple_header_controls
                a.text-color-lightgrey.disabled: strong Zobraziť všetky
              h3.no-mrg.text-color-lightgrey Moje štatistiky
            .box-simple_content
              .stats-placeholder
                p.text-color-grey Na tomto mieste sa zobrazia <br> vaše mesačné štatistiky

    include ../includes/modals/modal-reminder-new
    include ../includes/modals/modal-reminder-edit
    include ../includes/modals/note-new.jade
    include ../includes/modals/note-edit.jade
    include ../includes/popups/popup-cancel-shipment.jade

    include ../includes/preloader-overlay
    