extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 4;
  - var breadcrumbs = true;

//- Content
block append content

  main.content-main

    .grid-12col

      .row
        .col-12

          .row

            .col.col-xs-2

              .btnline
                a.btn.btn-green.btn-full-xs(data-modal-target='modal-add-reminder') Nová pripomienka


            .col.col-xs-2.pull-right.col-space-xs

              .btn-group.pull-right.pull-left-s
                a.btn.btn-green.disabled(href='kalendar.html') Mesiac
                a.btn.btn-green(href='kalendar-rok.html') Rok

      .row.row-space

        .col-12
          .calendar.js-calendar(data-calendar-view='month')

    include ../includes/modals/modal-add-reminder
    include ../includes/modals/modal-show-reminder
    include ../includes/modals/modal-show-reminder-2
    include ../includes/modals/modal-reminder-new

append pageScripts
  script(type='text/javascript', src='static/plugins/calendar/lib/moment.min.js')
  script(type='text/javascript', src='static/plugins/calendar/fullcalendar.js')
  script(type='text/javascript', src='static/plugins/calendar/fullcalendar.js')
  script(type='text/javascript', src='static/plugins/calendar/lang/sk.js')
