extends ../templates/layout

//- Options
block prepend opts
  - var pageID = null;
  - var subpageID = 0;
  - var breadcrumbs = false;
  - var subnavigationPage = 'settings';
  - var subnavigationID = 1;

//- Content
block append content

  .breadcrumbs
    a(onclick="history.back()") < Späť
      ul.breadcrumbs_list.hide-xs
        li.breadcrumbs_item
          a.breadcrumbs_link(href="index.html") Domov
        li.breadcrumbs_item >
        li.breadcrumbs_item
          a.breadcrumbs_link(href="nastavenia.html") Nastavenia
  
  main.content-main

    .grid-12col
      .row.row-space.no-mrg-bottom
        .col-12
          include ../includes/subnavigation  
      .row.row-space
        .col-12
          p
            .form-row
              .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-m-5.form-col-s-7.form-col-xs-12
                label Výber jazyka:
              .form-controls.form-col-2.form-col-m-4.form-col-s-5
                .form-control
                  select.js-select
                    each option in ['Slovenčina','Option 2','Option 3']
                      option #{option}
                      
            .form-row
              .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-m-5.form-col-s-7.form-col-xs-12
                label 
                  span.tooltip-icon.js-tooltip(title='Opakuje sa každý mesiac') ?
                  | Začiatok fakturačného obdobia:
              .form-controls.form-col-2.form-col-m-4.form-col-s-5
                .form-control.form-control-postfixed
                  input.input.js-datepicker(type='text', placeholder='dd.mm.yyyy', data-date-format='dd.mm.yyyy') 
                  .form-control-addon
                    a.btn.btn-green.js-datepicker-btn
                      i.icon!= icons.calendar
      .row
        .col-12
          article.box-simple.no-mrg-top
            header.box-simple_header
              h3.no-mrg Prepojenie so sociálnymi sieťami
            
            .box-simple_content.no-pad
              .row-switch_item.clearfix
                .row-switch_icon.pull-left
                  i.icon-xl.facebook= icons.facebook
                .row-switch_content.pull-left.offset-top
                  label Prihlásenie cez Facebook
                .row-switch_switcher.pull-right.pull-left-s
                  .js-switch(data-on-label='Pripojený', data-off-label='Nepripojený')
                    input(type='checkbox')
              .row-switch_item.clearfix
                .row-switch_icon.pull-left
                  i.icon-xl.google= icons.google
                .row-switch_content.pull-left.offset-top
                  label Prihlásenie cez Google
                .row-switch_switcher.pull-right.pull-left-s
                  .js-switch(data-on-label='Pripojený', data-off-label='Nepripojený')
                    input(type='checkbox')
              .row-switch_item.clearfix
                .row-switch_icon.pull-left
                  i.icon-xl.twitter= icons.twitter
                .row-switch_content.pull-left.offset-top
                  label Prihlásenie cez Twitter
                .row-switch_switcher.pull-right.pull-left-s
                  .js-switch(data-on-label='Pripojený', data-off-label='Nepripojený')
                    input(type='checkbox')
              .row-switch_item.clearfix
                .row-switch_icon.pull-left
                  i.icon-xl.linkedin= icons.linkedin
                .row-switch_content.pull-left.offset-top
                  label Prihlásenie cez LinkedIn
                .row-switch_switcher.pull-right.pull-left-s
                  .js-switch(data-on-label='Pripojený', data-off-label='Nepripojený')
                    input(type='checkbox')
              .row-switch_item.clearfix
                .row-switch_icon.pull-left.city 
                  i.icon-l= icons.city
                .row-switch_content.pull-left.offset-top
                  label Prihlásenie cez Digitálne mesto
                .row-switch_switcher.pull-right.pull-left-s
                  .js-switch(data-on-label='Pripojený', data-off-label='Nepripojený')
                    input(type='checkbox')