extends ../templates/layout

//- Options
block prepend opts
  - var pageID = null;
  - var subpageID = 0;
  - var breadcrumbs = false;
  - var subnavigationPage = 'settings';
  - var subnavigationID = 2;

//- Content
block append content

  .breadcrumbs
    a(onclick="history.back()") < Späť
      ul.breadcrumbs_list.hide-xs
        li.breadcrumbs_item
          a.breadcrumbs_link(href="index.html") Domov
        li.breadcrumbs_item >
        li.breadcrumbs_item
          a.breadcrumbs_link(href="nastavenia.html") Nastavenia
  
  main.content-main

    .grid-12col
      .row.row-space.no-mrg-bottom
        .col-12
          include ../includes/subnavigation  
      .row
        .col-12
          article.box-simple
            header.box-simple_header
              h3.no-mrg Prepojenie so sociálnymi sieťami
            
            .box-simple_content.no-pad
              .row-switch_item.clearfix
                .row-switch_icon.pull-left
                  i.icon-xl= icons.phone
                .row-switch_content.pull-left
                  label.text-bold Názov zariadenia: 
                  span.device-name Adamovo zariadenia
                  br
                  label.text-bold Platnosť do:
                  span.date Prepojené od 22.5.2014 8:50
                  button.btn.btn-green.change-name Zmeniť názov zariadenia
                .row-switch_switcher.pull-right.pull-left-s
                  .js-switch(data-on-label='Pripojený', data-off-label='Nepripojený')
                    input(type='checkbox')
              .row-switch_item.clearfix
                .row-switch_icon.pull-left
                  i.icon-xl= icons.laptop
                .row-switch_content.pull-left
                  label.text-bold Názov zariadenia: 
                  span.device-name Adamovo zariadenia
                  br
                  label.text-bold Platnosť do:
                  span.date Prepojené od 22.5.2014 8:50
                  button.btn.btn-green.change-name Zmeniť názov zariadenia
                .row-switch_switcher.pull-right.pull-left-s
                  .js-switch(data-on-label='Pripojený', data-off-label='Nepripojený')
                    input(type='checkbox')
              .row-switch_item.clearfix
                .row-switch_icon.pull-left
                  i.icon-xl= icons.phone
                .row-switch_content.pull-left
                  label.text-bold Názov zariadenia: 
                  span.device-name Adamovo zariadenia
                  br
                  label.text-bold Platnosť do:
                  span.date Prepojené od 22.5.2014 8:50
                  button.btn.btn-green.change-name Zmeniť názov zariadenia
                .row-switch_switcher.pull-right.pull-left-s
                  .js-switch(data-on-label='Pripojený', data-off-label='Nepripojený')
                    input(type='checkbox')
              .row-switch_item.clearfix
                .row-switch_icon.pull-left
                  i.icon-xl= icons.laptop
                .row-switch_content.pull-left
                  label.text-bold Názov zariadenia: 
                  span.device-name Adamovo zariadenia
                  br
                  label.text-bold Platnosť do:
                  span.date Prepojené od 22.5.2014 8:50
                  button.btn.btn-green.change-name Zmeniť názov zariadenia
                .row-switch_switcher.pull-right.pull-left-s
                  .js-switch(data-on-label='Pripojený', data-off-label='Nepripojený')
                    input(type='checkbox')
              .row-switch_item.clearfix
                .row-switch_icon.pull-left
                  i.icon-xl= icons.phone
                .row-switch_input.pull-left
                  .form-row
                    .form-label
                      label 
                        strong Názov zariadenia:
                    .form-controls.form-controls-inline
                      .form-control
                        input.input
                      .form-control
                        button.btn.btn-green Uložiť