extends ../templates/layout

//- Options
block prepend opts
  - var pageID = null;
  - var subpageID = 0;
  - var breadcrumbs = false;
  - var subnavigationPage = 'settings';
  - var subnavigationID = 4;

//- Content
block append content

  .breadcrumbs
    a(onclick="history.back()") < Späť
      ul.breadcrumbs_list.hide-xs
        li.breadcrumbs_item
          a.breadcrumbs_link(href="index.html") Domov
        li.breadcrumbs_item >
        li.breadcrumbs_item
          a.breadcrumbs_link(href="nastavenia.html") Nastavenia
  
  main.content-main

    .grid-12col
      .row.row-space.no-mrg-bottom
        .col-12
          include ../includes/subnavigation  
      .row
        .col-12
          article.box-simple
            header.box-simple_header
              h3.no-mrg Dobitie kreditu
            
            .box-simple_content
              .row
                .col-4.col-s-4
                  p.no-mrg-top 1. Zvoľte výšku kreditu
                  .form-row
                    .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-2
                      label Suma:
                    .form-controls.form-col-4.form-col-m-6.form-col-s-4
                      .form-control
                        select.js-select
                          each option in ['50€','Option 2','Option 3']
                            option #{option}
                  p.no-mrg-top 2. Vyberte su spôsob platby
                  .form-row
                    .form-controls.form-col-12
                      .radio-group.with-images.js-radio-toggle
                        .radio
                          input.radio-input(type='radio', id='radio-02-01', name='radio-02', data-target=".js-prevod")
                          label.radio-custom(for='radio-02-01')
                          label.radio-label(for='radio-02-01', data-toggle='radio') Prevodom na účet 
                            span.hide-xs (alebo použitím QR kódu)
                        .radio.with-image
                          input.radio-input(type='radio', id='radio-02-02', name='radio-02', data-target=".js-paygate", checked)
                          label.radio-custom(for='radio-02-02')
                          label.radio-label(for='radio-02-02') 
                            img(src="static/imgs/content/pay-gates/tatrapay_small.png", alt="")
                        .radio.with-image
                          input.radio-input(type='radio', id='radio-02-03', name='radio-02', data-target=".js-paygate")
                          label.radio-custom(for='radio-02-03')
                          label.radio-label(for='radio-02-03')
                            img(src="static/imgs/content/pay-gates/vubeplatby_small.png", alt="")
                        .radio.with-image
                          input.radio-input(type='radio', id='radio-02-04', name='radio-02', data-target=".js-paygate")
                          label.radio-custom(for='radio-02-04')
                          label.radio-label(for='radio-02-04')
                            img(src="static/imgs/content/pay-gates/sporopay_small.png", alt="")
                .col-8.col-s-4.radio-toggle.js-prevod
                  p.text-bold.no-mrg-top Prosím použite nasledovné údaje pre platbu
                  .row.row-space
                    .col-4.hide-xs
                      img.img-fluid(src="static/imgs/content/pay-gates/qrcode.png", alt="")
                    .col-8.col-xs-2
                      dl.inline.clearfix.no-mrg-top
                        dt Suma: 
                        dd 50€
                        dt Číslo účtu: 
                        dd 2923871233/1100
                        dt IBAN: 
                        dd SK4211000000002923871233
                        dt Swift kód / BIC: 
                        dd TATRSKBX
                        dt Konštantný symbol: 
                        dd 0308
                        dt Variabilný symbol: 
                        dd 100075300
                        dt Poznámka: 
                        dd Vaše meno a priezvisko
                      p.text-bold Kredit bude pripočítaný až potom, ako príjmeme vašu platbu.
                      btnline
                        button.btn.btn-grey(type='button') Zrušiť
                        button.btn.btn-green(type='button') Prejisť na ďalšiu platbu
                .col-8.col-s-4.radio-toggle.js-paygate.active
                  .inline-box.pull-left 
                    .inline-box_content.clearfix
                      .paygate-line
                        p.no-mrg-top Ďakujeme, vaša platba bola úspešne zaevidovaná a váš kredit je vo výške 50€.
                        .btnline.btnline-stack-xs
                          a.btn.btn-green(href="") Prejisť na ďalšiu platbu
                          a.btn.btn-green(href="") Vytvoriť novú zásielku
      .row
        .col-12
          article.box-simple.no-mrg-top
            header.box-simple_header
              h3.no-mrg Uskutočnené transakcie
            .box-simple_content.no-pad
              p.table-actions Pozrite si prehľad o vašich transakciách
              table.table.table-hovers.table-responsive-s.table-border-top
                thead.hide-s
                  tr
                    th Dátum
                    th Popis
                    th.text-right Cena
                tbody
                  tr
                    td 25.11.2014
                    td.td-clear-s Spracovanie dávky: Zásielka odoslaná cez webstránku
                    td.td-pull-right-s.text-color-red.text-bold.text-right - 0,87
                  tr
                    td 25.11.2014
                    td.td-clear-s Spracovanie dávky: Zásielka odoslaná cez webstránku
                    td.td-pull-right-s.text-color-green.text-bold.text-right + 0,55
                  tr
                    td 25.11.2014
                    td.td-clear-s Spracovanie dávky: Zásielka odoslaná cez webstránku
                    td.td-pull-right-s.text-color-red.text-bold.text-right - 0,87
                  tr
                    td 25.11.2014
                    td.td-clear-s Spracovanie dávky: Zásielka odoslaná cez webstránku
                    td.td-pull-right-s.text-color-green.text-bold.text-right + 0,55
            footer.box-simple_footer.box-simple_pagination
              ul.pagination
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleleft
                li.pagination_item
                  span.pagination_link &hellip;
                each key in [1,2,3,4,5,6,7]
                  li.pagination_item
                    - var active = ''
                    - if(key==1) active = 'active';
                    a.pagination_link(class=active)= key
                li.pagination_item
                  span.pagination_link &hellip;
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleright
                    