extends ../templates/layout

//- Options
block prepend opts
  - var pageID = null;
  - var subpageID = 0;
  - var breadcrumbs = false;
  - var subnavigationPage = 'settings';
  - var subnavigationID = 0;

//- Content
block append content

  .breadcrumbs
    a(onclick="history.back()") < Späť
      ul.breadcrumbs_list.hide-xs
        li.breadcrumbs_item
          a.breadcrumbs_link(href="index.html") Domov
        li.breadcrumbs_item >
        li.breadcrumbs_item
          a.breadcrumbs_link(href="nastavenia.html") Nastavenia
  
  main.content-main

    .grid-12col
      .row.row-space.no-mrg-bottom
        .col-12
          include ../includes/subnavigation  
      .row.js-sticky-cont  
        .col-3.hide-s
          .js-sticky
            article.box-simple.headerless
              .box-simple_content.no-pad
                ul.side-menu.js-scrollspy.js-sidemenu
                  li.side-menu_item.active
                    a(href="#", data-target="#prihlasovacie-udaje") Prihlasovacie údaje
                  li.side-menu_item
                    a(href="#", data-target="#osobne-udaje") Osobné údaje
                  li.side-menu_item
                    a(href="#", data-target="#udaje-o-firme") Údaje o firme
                  li.side-menu_item
                    a(href="#", data-target="#adresa") Adresa
        .col-6.col-m-4.col-s-4.col-xs-2
          article.box-simple#prihlasovacie-udaje
            header.box-simple_header
              h3.no-mrg Prihlasovacie údaje
            .box-simple_content
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                .form-controls.form-col-8.form-col-s-7
                  .form-control
                    .form-help.form-helper * Všetky položky sú povinné
                    
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label E-mail:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input(type='email')
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Heslo:
                .form-controls.form-col-5
                  a.btn.btn-green(data-modal-target="modal-change-password") Zmena hesla
        
          article.box-simple#osobne-udaje
            header.box-simple_header
              h3.no-mrg Osobné údaje
            .box-simple_content
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Typ:
                .form-controls.form-col-5.form-col-s-7
                  .radio-group
                    .radio
                      input.radio-input(type='radio', id='radio-typ-1', name='radio-typ-group', checked)
                      label.radio-custom(for='radio-typ-1')
                      label.radio-label(for='radio-typ-1') jednotlivec
                    .radio
                      input.radio-input(type='radio', id='radio-typ-2', name='radio-typ-group')
                      label.radio-custom(for='radio-typ-2')
                      label.radio-label(for='radio-typ-2') firma
                      
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Titul:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Meno:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Priezvisko:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
          
          article.box-simple#udaje-o-firme
            header.box-simple_header
              h3.no-mrg Údaje o firme
            .box-simple_content
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label 
                    span.hide-s Obchodné meno:
                    span.show-s.show-xs Obchodné m.:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label IČO:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label DIČ:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label IČ DPH:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Logo:
                .form-controls.form-col-8.form-col-s-7
                  .form-control
                    label.input-static Logo je ikona zobrazená s vašimi zásielkami v kontách vaších príjemcov
                  .form-control
                    .fileinput.fileinput-new.js-fileinput
                      a.btn.btn-green.btn-file
                        span.fileinput-new Vyberte súbor
                        span.fileinput-exists Zmeniť
                        input(type='file', name='...')
                      a.btn.fileinput-exists.close(data-dismiss='fileinput')
                        i.icon= icons.close
                      span.fileinput-filename
          
          article.box-simple.no-mrg-bottom#adresa
            header.box-simple_header
              h3.no-mrg Adresa
            .box-simple_content 
              .form-row
                .form-label.form-label-inline.form-col-4.form-col-s-5.hide-xs
                .form-controls.form-col-8.form-col-s-7.form-col-xs-12
                  .checkbox
                    input.checkbox-input(type='checkbox', id='checkbox-address', name='checkbox-address')
                    label.checkbox-custom(for='checkbox-address')
                    label.checkbox-label(for='checkbox-address') Korešpondenčná adresa sa odlišuje
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Ulica a č. domu:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label PSČ:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Mesto:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Štát:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    select.js-select
                      each option in ['Slovensko','Option 2','Option 3']
                        option #{option}
            
            header.box-simple_header
              h3.no-mrg Korešpondenčná adresa
            .box-simple_content
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Ulica a č. domu:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label PSČ:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Mesto:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Štát:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    select.js-select
                      each option in ['Slovensko','Option 2','Option 3']
                        option #{option}
          p
            .form-row
              .form-controls.form-col-12
                .checkbox
                  input.checkbox-input(type='checkbox', id='checkbox-news', name='checkbox-news')
                  label.checkbox-custom(for='checkbox-news')
                  label.checkbox-label(for='checkbox-news') Chcem byť informovaný o novinkách a službách
          p.text-center
            button.btn.btn-green(type='button') Uložiť zmeny v nastaveniach
    
    include ../includes/modals/modal-change-password.jade
    include ../includes/modals/modal-forgotten-password.jade
    include ../includes/popups/popup-password-changed.jade
    include ../includes/popups/popup-email-sent.jade
                        
append pageScripts
  script(type='text/javascript', src='static/plugins/fileupload/fileupload.js')
  script(type='text/javascript', src='static/plugins/sticky/jquery.sticky.js')
  script(type='text/javascript', src='static/plugins/scrollspy/scrollspy.js')