extends ../templates/layout

//- Options
block prepend opts
  - var pageID = null;
  - var subpageID = 0;
  - var breadcrumbs = false;
  - var subnavigationPage = 'settings';
  - var subnavigationID = 3;

//- Content
block append content

  .breadcrumbs
    a(onclick="history.back()") < Späť
      ul.breadcrumbs_list.hide-xs
        li.breadcrumbs_item
          a.breadcrumbs_link(href="index.html") Domov
        li.breadcrumbs_item >
        li.breadcrumbs_item
          a.breadcrumbs_link(href="nastavenia.html") Nastavenia
  
  main.content-main

    .grid-12col
      .row.row-space.no-mrg-bottom
        .col-12
          include ../includes/subnavigation  
      .row.row-space
        .col-12
          p.text-big Zdielajte Zelenú poštu s Vašou rodinou, priateľmi, alebo kolegami.
          p Ak si želáte aby mohli nahliadnuť do vašej prijatej alebo odoslanej pošty aj iní používatelia, pozvite ich aby ste siu spoločne zdielalli schránku v Zelenej pošte.
          p
            button.btn.btn-green(type='button', data-modal-target='modal-add-user') Pridať používateľa
      .row
        .col-12
          article.box-simple.headerless.no-mrg-top
            .box-simple_content.no-pad
              table.table.table-hovers.table-responsive-s.table-shipments-out
                thead.hide-s
                  tr
                    th Meno a priezvisko
                    th E-mail
                    th Stav prepojenia klienta
                    th Dátum prepojenia
                    th Prijaté zásielky
                    th Odoslané zásielky
                    th &nbsp;
                tbody
                  tr
                    td Michaela Kočiová
                    td.td-pull-right-s kociova@zelenaposta.sk
                    td.td-clear-s.text-color-green.text-bold Prepojené
                    td.td-pull-right-s 24.9.2014
                    td.td-clear-s.text-center
                      .checkbox
                        input.checkbox-input.success(type='checkbox', id='checkbox-01', name='checkbox-01', checked)
                        label.checkbox-custom(for='checkbox-01')
                        label.checkbox-label(for='checkbox-01') 
                          span.show-s.show-xs Prijaté
                    td.td-pull-right-s.text-center
                      .checkbox
                        input.checkbox-input.success(type='checkbox', id='checkbox-02', name='checkbox-02')
                        label.checkbox-custom(for='checkbox-02')
                        label.checkbox-label(for='checkbox-02') 
                          span.show-s.show-xs Odoslané
                    td.hide-s.text-right
                      a.btn.btn-orange Zmazať
                  tr
                    td Michaela Kočiová
                    td.td-pull-right-s kociova@zelenaposta.sk
                    td.td-clear-s.text-color-orange.text-bold Čakám na odpoveď
                    td.td-pull-right-s 24.9.2014
                    td.td-clear-s.text-center
                      .checkbox
                        input.checkbox-input.error(type='checkbox', id='checkbox-03', name='checkbox-03')
                        label.checkbox-custom(for='checkbox-03')
                        label.checkbox-label(for='checkbox-03') 
                          span.show-s.show-xs Prijaté
                    td.td-pull-right-s.text-center
                      .checkbox
                        input.checkbox-input.error(type='checkbox', id='checkbox-04', name='checkbox-04', checked)
                        label.checkbox-custom(for='checkbox-04')
                        label.checkbox-label(for='checkbox-04') 
                          span.show-s.show-xs Odoslané
                    td.hide-s.text-right
                      a.btn.btn-orange Zmazať
            footer.box-simple_footer.box-simple_pagination
              ul.pagination
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleleft
                li.pagination_item
                  span.pagination_link &hellip;
                each key in [1,2,3,4,5,6,7]
                  li.pagination_item
                    - var active = ''
                    - if(key==1) active = 'active';
                    a.pagination_link(class=active)= key
                li.pagination_item
                  span.pagination_link &hellip;
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleright  
                    
  include ../includes/modals/modal-add-user.jade
