extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 1;
  - var subpageID = 1;
  - var breadcrumbs = true;
  - var breadcrumbsMore = [
  -   {
  -     'title': 'Nová zásielka',
  -     'href': 'schranka-odoslane-nova.html'
  -   }
  - ]

//- Content
block append content
  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.col-s-3.ofst-s-center.col-xs-2
          
          .row

            .col.col-s-4

              .btnline
                a.btn.btn-green.btn-full-xs.js-tooltip-icon(href="schranka-odoslane-nova-odoslana.html", title="Cena za zásielky sa zobrazí po vyplnení údajov ako je štát, mesto a doručenie") Odoslať zásielku
                a.btn.btn-full-xs Zrušiť

            .col.col-s-4.pull-right.col-space-s

              .btnline.pull-right.pull-left-s
                button.btn.btn-white(type='button', data-modal-target='note-new')
                  i.icon= icons.note
                button.btn.btn-white(type='button', data-modal-target='reminder-new')
                  i.icon= icons.bell
      
      .row
        .col-6.col-m-3.col-s-3.ofst-s-center.col-xs-2
          article.box-simple
            header.box-simple_header
              h3.no-mrg Cena
            .box-simple_content

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5
                  label Cena:
                .form-controls.form-col-7
                  label.input-static 32,21€
          
          article.box-simple
            header.box-simple_header
              h3.no-mrg Detaily o zásielke
            .box-simple_content
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                .form-controls.form-col-6
                  .form-control
                    .form-help.form-helper * Všetky polia sú povinné
                    
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label Názov zásielky:
                .form-controls.form-col-7
                  .form-control
                    input.input
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5
                  label Doručovanie:
                .form-controls.form-controls-block.form-col-7
                  .form-control
                    select.js-select
                      each option in ['Zásielka 2. triedy','Option 2','Option 3']
                        option #{option}
                  .form-control
                    select.js-select
                      each option in ['A4 jednostranna','Option 2','Option 3','Option 4']
                        option #{option}    
                  .form-control
                    select.js-select
                      each option in ['Dvojokienková obálka C4','Option 2','Option 3','Option 4']
                        option #{option}
          
          
          article.box-simple
            header.box-simple_header
              h3.no-mrg Príjemca
            
            .box-simple_content
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5
                .form-controls.form-col-7
                  .form-control
                    .form-help.form-helper * Všetky polia okrem "Spoločnosť" sú povinné
            
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label Príjemca:
                .form-controls.form-col-7
                  .form-control
                    input.input
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label Meno:
                .form-controls.form-col-7
                  .form-control
                    input.input
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label Priezvisko:
                .form-controls.form-col-7
                  .form-control
                    input.input
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label Ulica a <span class='hide-s'>číslo domu</span><span class='show-s show-xs'>č. d.</span>:
                .form-controls.form-col-7
                  .form-control
                    input.input
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label Mesto:
                .form-controls.form-col-7
                  .form-control
                    input.input
                  
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label PSČ:
                .form-controls.form-col-7
                  .form-control
                    input.input
                  
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label Štát:
                .form-controls.form-col-7
                  .form-control
                    select.js-select
                      each option in ['Slovenská republika','Option 2','Option 3','Option 4']
                        option #{option}
          
          article.box-simple
            header.box-simple_header
              h3.no-mrg Odosieľateľ
            .box-simple_content
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5
                .form-controls.form-col-7
                  .form-control
                    .form-help.form-helper * Všetky polia okrem "Spoločnosť" sú povinné
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label Odosieľateľ:
                .form-controls.form-col-7
                  .form-control
                    input.input
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label Meno:
                .form-controls.form-col-7
                  .form-control
                    input.input
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label Priezvisko:
                .form-controls.form-col-7
                  .form-control
                    input.input
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label Ulica a <span class='hide-s'>číslo domu</span><span class='show-s show-xs'>č. d.</span>:
                .form-controls.form-col-7
                  .form-control
                    input.input
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label Mesto:
                .form-controls.form-col-7
                  .form-control
                    input.input
                  
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label PSČ:
                .form-controls.form-col-7
                  .form-control
                    input.input
                  
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12
                  label Štát:
                .form-controls.form-col-7
                  .form-control
                    select.js-select
                      each option in ['Slovenská republika','Option 2','Option 3','Option 4']
                        option #{option}
                  
        .col-6.col-m-3.col-s-3.ofst-s-center.col-xs-2
          
          article.box-simple.dropzone_box
            header.box-simple_header.clearfix
              h3.no-mrg Náhľad novej zásielky
            .box-simple_content.no-pad
              .dropzone.center-unknown
              .dropzone-preview
          
          // after upload      
            article.box-simple.document-preview
              header.box-simple_header.clearfix.contain-btn
                .box-simple_header_controls
                  a.btn.btn-orange Odstrániť
                h3.no-mrg Náhľad novej zásielky
              .box-simple_content
                ul.bxslider.lb
                  li
                    a.bxslider-lightbox_open(href="static/imgs/placeholders/faktura-vzor.png" rel="lightbox")
                      i.icon.icon-m= icons.search
                    img(src="static/imgs/placeholders/faktura-vzor.png", alt="")
                  li
                    a.bxslider-lightbox_open(href="static/imgs/placeholders/stats-placeholder.png" rel="lightbox")
                      i.icon.icon-m= icons.search
                    img(src="static/imgs/placeholders/stats-placeholder.png", alt="")
                  li
                    a.bxslider-lightbox_open(href="static/imgs/placeholders/faktura-vzor.png" rel="lightbox")
                      i.icon.icon-m= icons.search
                    img(src="static/imgs/placeholders/faktura-vzor.png", alt="")
          
          article.box-simple.hide-xs
            .box-simple_content
              .zelena-tlaciaren
                  .zelena-tlaciaren_icon.text-color-green
                    i.icon.icon-l= icons.print
                  .zelena-tlaciaren_text
                    | Máte záujem posielať viac zásielok naraz?
                    br
                    | Stiahnite si aplikáciu 
                    a(href="#") Zelená tlačiareň
  include ../includes/popups/popup-link.jade
  include ../includes/modals/modal-reminder-new
  include ../includes/modals/note-new.jade
  
append pageScripts
  script(type='text/javascript', src='static/plugins/dropzone/dropzone.js')
  script(type='text/javascript', src='static/plugins/bxslider/jquery.bxslider.js')
  script(type='text/javascript', src='static/plugins/responsive-lightbox/jquery.lightbox.js')