extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 1;
  - var subpageID = 0;
  - var breadcrumbs = true;

//- Content
block append content

  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.ofst-s-center.col-xs-2
          p.no-mrg-top 
            | Prijaté zásielky môžete zdieľať aj <a>s inými používateľmi.</a>
            br
            | Ak chcete mať prehľad aj o ďalších platbách, stačí si len založit <a>novú službu.</a>

      .row

        .col-12.col-s-3.ofst-s-center.col-xs-2
          .row

            .col-6.col-m-6.col-space-m.no-mrg-top.hide-s
              .btnline

                a.btn.btn-green.disabled.js-tooltip-icon(title="Predtým ako budete chcieť exportovať zásielku je potrebné si ju najskôr vyznačiť. Exportovať môžete buď jednu alebo viac zásielok naraz.") Export
                a.btn.btn-orange.disabled.js-tooltip-icon(title="Vymazaním natrvalo zmažete danú položku, ak si želáte položku/-y vymazať označte položku/-y a stlačte tlačidlo vymazať.") Vymazať
            
            .col-6.col-m-2.col-s-4.pull-right
              .form-row
                .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                  label Prijaté zásielky:
                .form-controls.form-col-8.form-col-s-4.form-controls-condensed-s
                  .form-control
                    select.js-select(multiple, data-addlink-href="#", data-addlink-text="Pridať nového používateľa")
                      each option, key in ['Moje zásielky','Janko Hraško','Ferko Mrkvička', 'Mortimer Murdo']
                        if key == 0
                          option(selected='selected') #{option}
                        else
                          option #{option}
            .col-6.col-m-2.col-s-4.pull-right.show-m.show-s.show-xs
              .row
                .col-6.col-m-3
                  .form-row
                    .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                      label Od:
                    .form-controls.form-controls-condensed-s.form-col-8.form-col-s-4
                      .form-control.form-control-postfixed
                        input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon calendar
                .col-6.col-m-3
                  .form-row
                    .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                      label Od:
                    .form-controls.form-controls-condensed-s.form-col-8.form-col-s-4
                      .form-control.form-control-postfixed
                        input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon calendar
            .col-6.col-m-2.col-s-4.pull-right.show-m.show-s.show-xs
              .form-row
                .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                  label Vyhľadať:
                .form-controls.form-col-8.form-col-s-4
                  .form-control
                    input.input.input-search(type='text')

            .col-12.col-m-6.show-m.show-s.show-xs.col-space-m.no-mrg-top
              button.btn.btn-white.pull-right(type="button")
                i.icon.icon-left closesmall
                | Zrušiť filter
      .row

        .col-12.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.box-headerless.no-mrg-top
            .box-simple_content.no-pad
              table.table.table-hovers.table-responsive-s.js-table
                thead.hide-s
                  tr
                    th &nbsp;
                    th &nbsp;
                    th 
                      a.table_sort.active
                        | Typ
                        i.icon= icons.caretup
                    th.th-date-time
                      a.table_sort 
                        | Dátum a čas prijatia
                        i.icon= icons.caretdown
                    th.text-center
                      a.table_sort 
                        | Stav
                        i.icon= icons.caretdown
                    th(colspan=2) 
                      a.table_sort
                        | Odosielateľ
                        i.icon= icons.caretdown
                    th.hide-m &nbsp;
                    th &nbsp;
                  tr.hide-m
                    td 
                      .checkbox
                        input.checkbox-input(type='checkbox', id='checkbox-all', name='checkbox-all', data-check='all')
                        label.checkbox-custom(for='checkbox-all')
                    td.td-filter-flag
                      select.js-select
                        option Všetky
                        option(data-content='<i class="icon text-color-lightgrey">flag</i>')
                        each option in ['blue','green','yellow','orange','red','black']
                          option(data-content='<i class="icon text-color-#{option}">flagfill</i>')
                    td.td-filter-type
                      select.js-select
                        each option in ['Všetky','Faktúra','Upomienka','Zásielka']
                          option #{option}
                    td.td-filter-date
                      .from-to-dropdown
                        .from-to-dropdown_wrap.js-toggle(data-target=".js-drop-picker")
                          .from-to-dropdown_content
                            .from Od: 
                              span 12.08.2014
                            .to Do: 
                              span 15.10.2014
                          .from-to-dropdown_caret
                            i.icon caretdown
                        .drop-picker.js-drop-picker.js-toggle-dropdown
                          .drop-picker_column
                            .form-row
                              .form-label.form-col-3.form-label-inline
                                label Od:
                              .form-controls.form-col-9
                                .form-control.form-control-postfixed.no-mrg
                                  input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                                  .form-control-addon
                                    a.btn.btn-green.js-datepicker-btn
                                      i.icon calendar
                          .drop-picker_column
                            .form-row
                              .form-label.form-col-3.form-label-inline
                                label Od:
                              .form-controls.form-col-9
                                .form-control.form-control-postfixed.no-mrg
                                  input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                                  .form-control-addon
                                    a.btn.btn-green.js-datepicker-btn
                                      i.icon calendar
                          .btnblock
                            button.btn.btn-green.drop-picker_confirm.js-toggle(type='button', data-target=".js-drop-picker") Potvrdiť
                    td.td-filter-state
                      select.js-select
                        option Všetky
                        option(data-content='<i class="icon text-color-lightgreen">check</i>') Uhradené
                        option(data-content='<i class="icon text-color-orange">euro</i>') Neuhradené
                    td(colspan=2)
                      input.input.input-search(type='text')
                    td.hide-m
                      input.input.input-search(type='text')
                    td.td-filter-close.text-right
                      button.btn.btn-white(type="button")
                        i.icon closesmall
                      
                tbody
                  each shipment, key in shipmentsIn
                    tr.tr-state(class=shipment.state)
                      td.hide-s
                        .checkbox
                          input.checkbox-input(type='checkbox', id='checkbox-' + key, name='checkbox-' + key)
                          label.checkbox-custom(for='checkbox-' + key)
                      td.td-fixed-10-s.text-center
                        a.no-bd
                          i.icon.icon-s(class=shipment.icon.color)= shipment.icon.icon
                      td= shipment.type
                      td
                        | #{shipment.date}   
                        span.hide-s , #{shipment.time}
                      td.td-pull-right-s.text-center.td-icon-space
                        unless shipment.state == 'failed'
                          if shipment.payed == true
                            i.icon.text-color-lightgreen.js-tooltip(title='Uhradené')= icons.check
                          else 
                            i.icon.text-color-orange.js-tooltip(title='Neuhradené')= icons.euro
                      td.hide-s: img.img-table-logo(src=shipment.from.logo, alt=shipment.from.name)
                      td.td-clear-s.td-ofst-10-s.td-break-sender= shipment.from.name
                      td.text-right.hide-m
                        unless shipment.state == 'failed'
                          .input-dynamic
                            label.input-dynamic_addon(for='textarea-shipments-in-' + key)
                              unless shipment.note == ''
                                i.icon.icon-s.text-color-lightgreen= icons.edit
                              else
                                i.icon.icon-s.text-color-lightgrey= icons.edit
                            textarea.input.js-autosize.js-nolinebreak(type='text', id='textarea-shipments-in-' + key, placeholder='Poznámka')= shipment.note
                      td.td-3btns.td-pull-right-s.td-clear-s.text-right

                        unless shipment.state == 'failed'

                          if shipment.note
                            button.btn.btn-clean.btn-white-s.hide-l.show-dib-m(type='button', data-modal-target='note-edit')
                              i.icon.icon-s.text-color-lightgreen= icons.notefill
                          else
                            button.btn.btn-clean.btn-white-s.hide-l.show-dib-m(type='button', data-modal-target='note-new')
                              i.icon.icon-s= icons.note

                          if shipment.reminder == true
                            button.btn.btn-clean.btn-white-s(type='button', data-modal-target='reminder-edit')
                              i.icon.icon-s.text-color-lightgreen= icons.bellfill
                          else 
                            button.btn.btn-clean.btn-white-s(type='button', data-modal-target='reminder-new')
                              i.icon.icon-s= icons.bell

                          a.btn.btn-green.btn-fix-spaces(href="schranka-detail.html") Detail

                        else
                          a.btn.btn-orange.hide-s(href='dokumenty-sablona.html') Opraviť
            footer.box-simple_footer.box-simple_pagination
              ul.pagination
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleleft
                li.pagination_item
                  span.pagination_link &hellip;
                each key in [1,2,3,4,5,6,7]
                  li.pagination_item
                    - var active = ''
                    - if(key==1) active = 'active';
                    a.pagination_link(class=active)= key
                li.pagination_item
                  span.pagination_link &hellip;
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleright

    include ../includes/modals/modal-reminder-new
    include ../includes/modals/modal-reminder-edit
    include ../includes/modals/note-new.jade
    include ../includes/modals/note-edit.jade
    include ../includes/popups/popup-delete-shipments.jade
