extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 1;
  - var subpageID = 1;
  - var breadcrumbs = true;
  - var breadcrumbsMore = [
  -   {
  -     'title': 'Nová zásielka',
  -     'href': 'schranka-odoslane-nova-odoslana.html'
  -   }
  - ]

//- Content
block append content
  main.content-main

    .grid-12col
      .row
        .col-12.text-center.shipment-sent-hero
          p.text-big.no-mrg-bottom Vaša zásielka bola úspešne odoslaná.
          p.no-mrg-top Ďakujeme, že ste využili naše služby.
          .btnline.btn-bar-stack-xs
            a.btn.btn-full-xs(href="schranka-odoslane.html") Prejsť na odoslané zásielky
            a.btn.btn-green.btn-full-xs(href="schranka-odoslane-nova.html") Poslať ďalšiu zásielku
      .row
        .col-12
          article.box-simple.hide-xs
            .box-simple_content
              .zelena-tlaciaren
                  .zelena-tlaciaren_icon.text-color-green
                    i.icon.icon-l= icons.print
                  .zelena-tlaciaren_text
                    | Máte záujem posielať viac zásielok naraz?
                    br
                    | Stiahnite si aplikáciu 
                    a(href="#") Zelená tlačiareň
  
  include ../includes/popups/popup-link.jade
  include ../includes/modals/modal-reminder-new
  include ../includes/modals/note-new.jade
  
append pageScripts

