extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 1;
  - var subpageID = 1;
  - var breadcrumbs = true;

//- Content
block append content

  main.content-main

    .wrapper-main.text-center
      p.text-big Zatiaľ ste ešte neodoslali žiadnu zásielku. Cez Zelenú poštu môžete posielať zásielky z pohodlia vašej kancelárie alebo priamo z domu, a to bez čakania v rade na pošte. Vyskúšajte si prvú zásielku tzadarmo.
      a.btn.btn-green Vytvoriť novú zásielku