extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 1;
  - var subpageID = 1;
  - var breadcrumbs = true;

//- Content
block append content

  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.ofst-s-center.col-xs-2
          p.no-mrg-top 
            | Odoslané zásielky môžete zdieľať aj <a>s inými používateľmi.</a>
            br
            | Vaše zásielky si môžete prezerať ako dávky, alebo zásielky, stačí si zmeniť zobrazenie.

      .row

        .col-12.col-s-3.ofst-s-center.col-xs-2
          .row

            .col-7.col-m-6.col-space-m.no-mrg-top
              .btn-bar
                .btn-group
                    a.btn.btn-green.disabled(href='schranka-odoslane-zasielky.html') Zásielky
                    a.btn.btn-green(href='schranka-odoslane.html') Dávky
                .btnline.hide-s
                  a.btn.btn-green(href='schranka-odoslane-nova.html') Vytvoriť novú zásielku
                  a.btn.btn-green.disabled.js-tooltip-icon(title="Predtým ako budete chcieť exportovať zásielku je potrebné si ju najskôr vyznačiť. Exportovať môžete buď jednu alebo viac zásielok naraz.") Export
                  a.btn.btn-orange.disabled.js-tooltip-icon(title="Vymazaním natrvalo zmažete danú položku, ak si želáte položku/-y vymazať označte položku/-y a stlačte tlačidlo vymazať.") Vymazať

            .col-5.col-m-2.col-s-4.pull-right
              .form-row
                .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                  label Prijaté zásielky:
                .form-controls.form-controls-condensed-s.form-col-8.form-col-s-4
                  .form-control
                    select.js-select(multiple, data-addlink-href="#", data-addlink-text="Pridať nového používateľa")
                      each option, key in ['Moje zásielky','Janko Hraško','Ferko Mrkvička', 'Mortimer Murdo']
                        if key == 0
                          option(selected='selected') #{option}
                        else
                          option #{option}
            .col-6.col-m-2.col-s-4.pull-right.show-m.show-s.show-xs
              .row
                .col-6.col-m-3
                  .form-row
                    .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                      label Od:
                    .form-controls.form-controls-condensed-s.form-col-8.form-col-s-4
                      .form-control.form-control-postfixed
                        input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon= icons.calendar
                .col-6.col-m-3
                  .form-row
                    .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                      label Od:
                    .form-controls.form-controls-condensed-s.form-col-8.form-col-s-4
                      .form-control.form-control-postfixed
                        input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon= icons.calendar
            .col-6.col-m-2.col-s-4.pull-right.show-m.show-s.show-xs
              .form-row
                .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                  label Vyhľadať:
                .form-controls.form-col-8.form-col-s-4
                  .form-control
                    input.input.input-search(type='text')

      .row

        .col-12.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.box-headerless.no-mrg-top
            .box-simple_content.no-pad
              table.table.table-hovers.table-responsive-s.js-table
                thead.hide-s
                  tr
                    th &nbsp;
                    th Dátum podania
                    th Príjemca
                    th.text-right Cena (&euro;)
                    th Podacie číslo
                    th.text-center Stav
                    th &nbsp;
                  tr.hide-m
                    td 
                      .checkbox
                        input.checkbox-input(type='checkbox', id='checkbox-all', name='checkbox-all', data-check='all')
                        label.checkbox-custom(for='checkbox-all')
                    td.td-filter-date
                      .from-to-dropdown
                        .from-to-dropdown_wrap.js-toggle(data-target=".js-drop-picker")
                          .from-to-dropdown_content
                            .from Od: 
                              span 12.08.2014
                            .to Do: 
                              span 15.10.2014
                          .from-to-dropdown_caret
                            i.icon caretdown
                        .drop-picker.js-drop-picker.js-toggle-dropdown
                          .drop-picker_column
                            .form-row
                              .form-label.form-col-3.form-label-inline
                                label Od:
                              .form-controls.form-col-9
                                .form-control.form-control-postfixed.no-mrg
                                  input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                                  .form-control-addon
                                    a.btn.btn-green.js-datepicker-btn
                                      i.icon calendar
                          .drop-picker_column
                            .form-row
                              .form-label.form-col-3.form-label-inline
                                label Od:
                              .form-controls.form-col-9
                                .form-control.form-control-postfixed.no-mrg
                                  input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                                  .form-control-addon
                                    a.btn.btn-green.js-datepicker-btn
                                      i.icon calendar
                          .btnblock
                            button.btn.btn-green.drop-picker_confirm.js-toggle(type='button', data-target=".js-drop-picker") Potvrdiť
                    td
                      input.input.input-search(type='text')
                    td.td-filter-price
                      .form-control.form-control-prefixed.no-mrg
                        .form-control-addon
                          a.btn.btn-green &ge;
                        input.input(type='text')
                    td
                      input.input.input-search(type='text')
                    td.td-filter-state
                      select.js-select
                        option Všetky
                        option(data-content='<i class="icon text-color-lightgreen">check</i>') Uhradené
                        option(data-content='<i class="icon text-color-orange">euro</i>') Neuhradené
                    td &nbsp;
                tbody
                  each shipment, key in shipmentsBatch
                    tr
                      td.hide-s
                        .checkbox
                          input.checkbox-input(type='checkbox', id='checkbox-' + key, name='checkbox-' + key)
                          label.checkbox-custom(for='checkbox-' + key)
                      td
                        | #{shipment.date}   
                        span.hide-s , #{shipment.time}
                      td
                        address
                          | #{shipment.to.name}
                          br
                          | #{shipment.to.street}
                          br
                          | #{shipment.to.city}
                          br
                          | #{shipment.to.country}
                      td.td-pull-right-s.text-right= shipment.price
                      td.hide-s= shipment.id
                      td.td-pull-right-s.td-clear-s.text-center
                        if shipment.payed == true
                          i.icon.text-color-lightgreen.js-tooltip(title='Uhradené')= icons.check
                        else 
                          button.btn.btn-orange(type='button', data-modal-target='popup-cancel-shipment') Zrušiť
                      td.td-clear-s.td-fixed-4of4-s.text-right
                        span.pull-left.show-s.show-xs= shipment.id 
                        a.btn.btn-green.pull-right(href='schranka-odoslane-detail.html') Detail

            footer.box-simple_footer.box-simple_pagination
              ul.pagination
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleleft
                li.pagination_item
                  span.pagination_link &hellip;
                each key in [1,2,3,4,5,6,7]
                  li.pagination_item
                    - var active = ''
                    - if(key==1) active = 'active';
                    a.pagination_link(class=active)= key
                li.pagination_item
                  span.pagination_link &hellip;
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleright

    include ../includes/popups/popup-cancel-batch
    include ../includes/popups/popup-cancel-shipment
    include ../includes/popups/popup-delete-batch