extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 1;
  - var subpageID = 1;
  - var breadcrumbs = true;
  - var breadcrumbsMore = [
  -   {
  -     'title': 'Detail',
  -     'href': 'schranka-odoslane-detail.html'
  -   }
  - ]

//- Content
block append content
  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.col-s-3.ofst-s-center.col-xs-2
          
          .row

            .col.col-s-4

              .btnline
                a.btn.btn-green.btn-full-xs
                  i.icon.icon-left= icons.download
                  | Stiahnuť
                a.btn.btn-green.btn-full-xs(data-modal-target='popup-link')
                  i.icon.icon-left= icons.link
                  | Verejný link
                a.btn.btn-orange.btn-full-xs(data-modal-target='popup-delete-document') Vymazať

            .col.col-s-4.pull-right.col-space-s

              .btnline.pull-right.pull-left-s
                button.btn.btn-white(type='button', data-modal-target='note-new')
                  i.icon= icons.note
                button.btn.btn-white(type='button', data-modal-target='reminder-new')
                  i.icon= icons.bell
      
      .row
        .col-6.col-m-3.col-s-3.ofst-s-center.col-xs-2
          article.box-simple
            header.box-simple_header
              h3.no-mrg Cena
            .box-simple_content

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label Cena:
                .form-controls.form-col-6
                  label.input-static 32,21 €
          
          article.box-simple
            header.box-simple_header
              h3.no-mrg Detaily o zásielke
            .box-simple_content

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Názov zásielky:
                .form-controls.form-col-6
                  label.input-static List starej mame
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Doručovanie:
                .form-controls.form-col-6
                  label.input-static Zásielka 2. triedy, A4
          
          article.box-simple
            header.box-simple_header
              h3.no-mrg Príjemca
            .box-simple_content

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Spoločnosť:
                .form-controls.form-col-6
                  label.input-static Lighting Beetle
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Meno:
                .form-controls.form-col-6
                  label.input-static Michaela
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Priezvisko:
                .form-controls.form-col-6
                  label.input-static Kočiová
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Ulica a číslo domu:
                .form-controls.form-col-6
                  label.input-static SNP 73/6
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Mesto:
                .form-controls.form-col-6
                  label.input-static Nová Dubnica
                  
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left PSČ:
                .form-controls.form-col-6
                  label.input-static 018 51
                  
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Štát:
                .form-controls.form-col-6
                  label.input-static Slovenská republika
          
          article.box-simple
            header.box-simple_header
              h3.no-mrg Odosielateľ
            .box-simple_content

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Odosieľateľ:
                .form-controls.form-col-6
                  label.input-static Lighting Beetle
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Meno:
                .form-controls.form-col-6
                  label.input-static Michaela
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Priezvisko:
                .form-controls.form-col-6
                  label.input-static Kočiová
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Ulica a číslo domu:
                .form-controls.form-col-6
                  label.input-static SNP 73/6
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Mesto:
                .form-controls.form-col-6
                  label.input-static Nová Dubnica
                  
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left PSČ:
                .form-controls.form-col-6
                  label.input-static 018 51
                  
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Štát:
                .form-controls.form-col-6
                  label.input-static Slovenská republika
                  
        .col-6.col-m-3.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.document-preview
            header.box-simple_header
              h3.no-mrg Náhľad prijatej zásielky
            .box-simple_content
              ul.bxslider.lb
                li
                  a.bxslider-lightbox_open(href="static/imgs/placeholders/faktura-vzor.png" rel="lightbox")
                    i.icon.icon-m= icons.search
                  img(src="static/imgs/placeholders/faktura-vzor.png", alt="")
                li
                  a.bxslider-lightbox_open(href="static/imgs/placeholders/stats-placeholder.png" rel="lightbox")
                    i.icon.icon-m= icons.search
                  img(src="static/imgs/placeholders/stats-placeholder.png", alt="")
                li
                  a.bxslider-lightbox_open(href="static/imgs/placeholders/faktura-vzor.png" rel="lightbox")
                    i.icon.icon-m= icons.search
                  img(src="static/imgs/placeholders/faktura-vzor.png", alt="")

  include ../includes/popups/popup-link.jade
  include ../includes/modals/modal-reminder-new
  include ../includes/modals/note-new.jade
  
append pageScripts
  script(type='text/javascript', src='static/plugins/bxslider/jquery.bxslider.js')
  script(type='text/javascript', src='static/plugins/responsive-lightbox/jquery.lightbox.js')