extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 3;
  - var breadcrumbs = true;
  
//- Content
block append content
  main.content-main
    
    .grid-12col
    
      .row  
        .col-12.no-mrg-top
          .btnline  
            a.btn.btn-green.btn-full-xs Vymazať službu
            a.btn.btn-orange.btn-full-xs Archivovať službu
      
      .row
        .col-12.col-m-6.col-s-4.col-xs-2
          article.box-simple.service-detail
            header.box-simple_header.contain-btn
              .box-simple_header_controls
                a.btn.btn-green Uložiť
              h3.no-mrg Detail služby
              
            .box-simple_content
              .row
                .col-8.col-m-4.col-s-4.col-xs-2
                  .service-detail_img.pull-left
                    img.img-fluid(src="http://placehold.it/300x300", alt="", style="max-width: 100px;")
                  .service-detail_settings.pull-left
                    .form-row
                      .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12.hide-xs
                        label Služba:
                      .form-controls.form-col-7
                        .form-control
                          input.input(value="Orange")
                    .form-row
                      .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-xs-12.hide-xs
                        label Vlastné označenie:
                      .form-controls.form-col-7
                        .form-control
                          input.input(value="Manželka")
                
                .col-4.col-m-2.col-s-4.col-xs-2
                  .form-row
                    .form-label.form-label-inline.form-col-7.form-col-s-4.form-col-xs-6.text-left-s
                      label.text-color-orange Dnes splatné:
                    .form-controls.form-col-5.form-col-xs-6
                      label.input-static 32,21€
                  .form-row
                    .form-label.form-label-inline.form-col-7.form-col-s-4.form-col-xs-6.text-left-s
                      label.text-color-red Po splatonsti:
                    .form-controls.form-col-5.form-col-xs-6
                      label.input-static 32,21€
                  .form-row
                    .form-label.form-label-inline.form-col-7.form-col-s-4.form-col-xs-6.text-left-s
                      label Zákazníkom od:
                    .form-controls.form-col-5.form-col-xs-6
                      label.input-static 25.4.2013
                      
      .row
        .col-12.col-m-6.col-s-4.col-xs-2
          ul.tabs.tabs-collapse-xs.js-tabs(data-tabpanel=".service-details-tabpanel", role="tablist")
            li.tabs_item.active(data-tab=".tab1", role="tab")
              h3.no-mrg Detaily o službe
            li.tabs_item(data-tab=".tab2", role="tab")
              h3.no-mrg Dokumenty
            li.tabs_item(data-tab=".tab3", role="tab")
              h3.no-mrg Faktúry
          article.box-simple.box-headerless.no-mrg-top.service-details-tabpanel
            .box-simple_content.tabs_panel.tab1.active(role="tabpanel")
              .row
                .col-5.col-s-4.col-xs-2
                  each detail, key in serviceDetails
                    .form-row
                      .form-label.form-label-inline.form-label-stack-xs.form-col-6.form-col-s-5.form-col-xs-12
                        label= detail.label
                      .form-controls.form-col-6.form-col-s-7
                        .form-control
                          input.input(value=detail.value)
                .col-7.col-s-4.col-xs-2
                  .form-row
                    .form-label.form-label-inline.form-label-stack-xs.form-col-6.form-col-m-5.form-col-s-5.form-col-xs-12.text-left.text-right-s
                      label 
                        span.tooltip-icon.js-tooltip(title='Prostredníctvom SMS notifikácie Vás budeme včas informovať o tom, ak sa bude blížiť čas zaplatenia faktúry, alebo o tom, že Vám prišla nová Zásielka do Zelenej pošty. Ak viac nebude chcieť dostávať notifikačné SMS, stačí si službu vypnúť.') ?
                        | SMS notifikácie:
                    .form-controls.form-col-6.form-col-m-7.form-col-s-7
                      .radio-group
                        .radio
                          input.radio-input(type='radio', id='radio-sms-1', name='radio-sms-group')
                          label.radio-custom(for='radio-sms-1')
                          label.radio-label(for='radio-sms-1') vypnuté
                        .radio.with-input
                          input.radio-input(type='radio', id='radio-sms-2', name='radio-sms-group', checked)
                          label.radio-custom(for='radio-sms-2')
                          label.radio-label(for='radio-sms-2') zapnuté
                            .form-controls
                              .form-control.form-control-fixed-4
                                input.input(type="text", value="0902123123")
                  .form-row
                    .form-label.form-label-inline.form-label-stack-xs.form-col-6.form-col-m-7.form-col-s-5.form-col-xs-12.text-left.text-right-s
                      label 
                        span.tooltip-icon.js-tooltip(title='Vypnutím elektronického doručovania budete opät dostávať fyzické tlačené dokumenty do vašej poštovej srchánky.') ?
                        | Elektronické doručovanie:
                    .form-controls.form-col-6.form-col-m-5.form-col-s-6
                      .radio-group
                        .radio
                          input.radio-input(type='radio', id='radio-ed-1', name='radio-ed-group')
                          label.radio-custom(for='radio-ed-1')
                          label.radio-label(for='radio-ed-1') vypnuté
                        .radio
                          input.radio-input(type='radio', id='radio-ed-2', name='radio-ed-group', checked)
                          label.radio-custom(for='radio-ed-2')
                          label.radio-label(for='radio-ed-2') zapnuté
                          
                          
                  .form-row
                    .form-label.form-label-inline.form-label-stack-xs.form-col-6.form-col-m-7.form-col-s-5.form-col-xs-12.text-left.text-right-s
                      label Heslo na rozbalenie ZIP súboru:
                    .form-controls.form-col-4.form-col-s-5
                      .form-control
                        input.input(value='123123123123')
                          
                  .form-row
                    .form-label.form-col-12
                      label Poznámka:
                    .form-controls.form-col-12
                      .form-control
                        textarea.input(rows="6")
                  .btnline
                    button.btn.btn-green.pull-right(type="button") Uložiť
                              
            .box-simple_content.no-pad.tabs_panel.tab2(role="tabpanel")
              .col-12
                .row.row-space
                  .col-12
                    .btnline
                      button.btn.btn-orange(type="button" disabled) Vymazať
              table.table.table-hovers.table-responsive-s.js-table.table-border-top.clear
                thead.hide-s
                  tr
                    th &nbsp;
                    th &nbsp;
                    th 
                      a.table_sort.active
                        | Typ
                        i.icon= icons.caretup
                    th.th-date-time
                      a.table_sort 
                        | Dátum a čas nahratia
                        i.icon= icons.caretdown
                    th.text-center
                      a.table_sort 
                        | Stav
                        i.icon= icons.caretdown
                    th(colspan=2) 
                      a.table_sort
                        | Odosielateľ / Služba
                        i.icon= icons.caretdown
                    th.hide-m &nbsp;
                    th &nbsp;
                  tr.hide-m
                    td 
                      .checkbox
                        input.checkbox-input(type='checkbox', id='checkbox-docs-all', name='checkbox-docs-all', data-check='all')
                        label.checkbox-custom(for='checkbox-docs-all')
                    td.td-filter-flag
                      select.js-select
                        option Všetky
                        option(data-content='<i class="icon text-color-lightgrey">flag</i>')
                        each option in ['blue','green','yellow','orange','red','black']
                          option(data-content='<i class="icon text-color-#{option}">flagfill</i>')
                    td.td-filter-type
                      select.js-select
                        each option in ['Všetky','Faktúra','Upomienka','Zásielka']
                          option #{option}
                    td.td-filter-date
                      .from-to-dropdown
                        .from-to-dropdown_wrap.js-toggle(data-target=".js-drop-picker")
                          .from-to-dropdown_content
                            .from Od: 
                              span 12.08.2014
                            .to Do: 
                              span 15.10.2014
                          .from-to-dropdown_caret
                            i.icon caretdown
                        .drop-picker.js-drop-picker.js-toggle-dropdown
                          .drop-picker_column
                            .form-row
                              .form-label.form-col-3.form-label-inline
                                label Od:
                              .form-controls.form-col-9
                                .form-control.form-control-postfixed.no-mrg
                                  input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                                  .form-control-addon
                                    a.btn.btn-green.js-datepicker-btn
                                      i.icon calendar
                          .drop-picker_column
                            .form-row
                              .form-label.form-col-3.form-label-inline
                                label Od:
                              .form-controls.form-col-9
                                .form-control.form-control-postfixed.no-mrg
                                  input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                                  .form-control-addon
                                    a.btn.btn-green.js-datepicker-btn
                                      i.icon calendar
                          .btnblock
                            button.btn.btn-green.drop-picker_confirm.js-toggle(type='button', data-target=".js-drop-picker") Potvrdiť
                    td.td-filter-state
                      select.js-select
                        option Všetky
                        option(data-content='<i class="icon text-color-lightgreen">check</i>') Uhradené
                        option(data-content='<i class="icon text-color-orange">euro</i>') Neuhradené
                    td(colspan=2)
                      input.input.input-search(type='text')
                    td.hide-m
                      input.input.input-search(type='text')
                    td.td-filter-close.text-right
                      button.btn.btn-white(type="button")
                        i.icon closesmall
                tbody
                  each doc, key in documents
                    tr.tr-state(class=doc.state)
                      td.hide-s
                        .checkbox
                          input.checkbox-input(type='checkbox', id='checkbox-docs-' + key, name='checkbox-docs-' + key)
                          label.checkbox-custom(for='checkbox-docs-' + key)
                      td.td-fixed-10-s.text-center
                        a.no-bd
                          i.icon.icon-s(class=doc.icon.color)= doc.icon.icon
                      td= doc.type
                      td
                        | #{doc.date}   
                        span.hide-s , #{doc.time}
                      td.td-pull-right-s.text-center.td-icon-space
                        unless doc.state == 'failed'
                          if doc.payed == true
                            i.icon.text-color-lightgreen.js-tooltip(title='Uhradené')= icons.check
                          else 
                            i.icon.text-color-orange.js-tooltip(title='Neuhradené')= icons.euro
                      td.hide-s: img.img-table-logo(src=doc.from.logo, alt=doc.from.name)
                      td.td-clear-s.td-ofst-10-s.td-break-sender= doc.from.name
                      td.hide-m
                        if doc.state != 'failed' && doc.state != 'processing'
                          .input-dynamic
                            label.input-dynamic_addon(for='textarea-docs-in-' + key)
                              unless doc.note == ''
                                i.icon.icon-s.text-color-lightgreen= icons.edit
                              else
                                i.icon.icon-s.text-color-lightgrey= icons.edit
                            textarea.input.js-autosize.js-nolinebreak(type='text', id='textarea-docs-in-' + key, placeholder='Poznámka')= doc.note
                        else if doc.state == 'processing'
                          | Dokument čaká na rozpoznanie
                      td.td-3btns.td-pull-right-s.td-clear-s.text-right

                        if doc.state != 'failed' && doc.state != 'processing'

                          if doc.note
                            button.btn.btn-clean.btn-white-s.hide-l.show-dib-m(type='button', data-modal-target='note-edit')
                              i.icon.icon-s.text-color-lightgreen= icons.notefill
                          else
                            button.btn.btn-clean.btn-white-s.hide-l.show-dib-m(type='button', data-modal-target='note-new')
                              i.icon.icon-s= icons.note

                          if doc.reminder == true
                            button.btn.btn-clean.btn-white-s(type='button', data-modal-target='reminder-edit')
                              i.icon.icon-s.text-color-lightgreen= icons.bellfill
                          else 
                            button.btn.btn-clean.btn-white-s(type='button', data-modal-target='reminder-new')
                              i.icon.icon-s= icons.bell

                          a.btn.btn-green.btn-fix-spaces(href="dokumenty-detail.html") Detail

                        else if doc.state == 'processing'
                          .icon-spin.anim-spin
                            i.icon.icon-m= icons.spinner

                        else
                          a.btn.btn-orange.hide-s(href='dokumenty-sablona.html') Opraviť
              footer.box-simple_footer.box-simple_pagination
                ul.pagination
                  li.pagination_item
                    a.btn.btn-white
                      i.icon= icons.doubleleft
                  li.pagination_item
                    span.pagination_link &hellip;
                  each key in [1,2,3,4,5,6,7]
                    li.pagination_item
                      - var active = ''
                      - if(key==1) active = 'active';
                      a.pagination_link(class=active)= key
                  li.pagination_item
                    span.pagination_link &hellip;
                  li.pagination_item
                    a.btn.btn-white
                      i.icon= icons.doubleright
            .box-simple_content.no-pad.tabs_panel.tab3(role="tabpanel")
              .col-12
                .row.row-space
                  .col-12
                    .btnline
                      button.btn.btn-orange(type="button" disabled) Vymazať
              table.table.table-hovers.table-responsive-s.js-table.table-border-top.clear
                thead.hide-s
                  tr
                    th &nbsp;
                    th &nbsp;
                    th 
                      a.table_sort.active
                        | Typ
                        i.icon= icons.caretup
                    th.th-date-time
                      a.table_sort 
                        | Dátum a čas nahratia
                        i.icon= icons.caretdown
                    th.text-center
                      a.table_sort 
                        | Stav
                        i.icon= icons.caretdown
                    th.text-right
                      a.table_sort
                        | Cena (&euro;)
                        i.icon= icons.caretdown
                    th.hide-m &nbsp;
                    th &nbsp;
                  tr.hide-m
                    td 
                      .checkbox
                        input.checkbox-input(type='checkbox', id='checkbox-all', name='checkbox-all', data-check='all')
                        label.checkbox-custom(for='checkbox-all')
                    td.td-filter-flag
                      select.js-select
                        option Všetky
                        option(data-content='<i class="icon text-color-lightgrey">flag</i>')
                        each option in ['blue','green','yellow','orange','red','black']
                          option(data-content='<i class="icon text-color-#{option}">flagfill</i>')
                    td.td-filter-type
                      select.js-select
                        each option in ['Všetky','Faktúra','Upomienka','Zásielka']
                          option #{option}
                    td.td-filter-date
                      .from-to-dropdown
                        .from-to-dropdown_wrap.js-toggle(data-target=".js-drop-picker")
                          .from-to-dropdown_content
                            .from Od: 
                              span 12.08.2014
                            .to Do: 
                              span 15.10.2014
                          .from-to-dropdown_caret
                            i.icon caretdown
                        .drop-picker.js-drop-picker.js-toggle-dropdown
                          .drop-picker_column
                            .form-row
                              .form-label.form-col-3.form-label-inline
                                label Od:
                              .form-controls.form-col-9
                                .form-control.form-control-postfixed.no-mrg
                                  input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                                  .form-control-addon
                                    a.btn.btn-green.js-datepicker-btn
                                      i.icon calendar
                          .drop-picker_column
                            .form-row
                              .form-label.form-col-3.form-label-inline
                                label Od:
                              .form-controls.form-col-9
                                .form-control.form-control-postfixed.no-mrg
                                  input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                                  .form-control-addon
                                    a.btn.btn-green.js-datepicker-btn
                                      i.icon calendar
                          .btnblock
                            button.btn.btn-green.drop-picker_confirm.js-toggle(type='button', data-target=".js-drop-picker") Potvrdiť
                    td.td-filter-state
                      select.js-select
                        option Všetky
                        option(data-content='<i class="icon text-color-lightgreen">check</i>') Uhradené
                        option(data-content='<i class="icon text-color-orange">euro</i>') Neuhradené
                    td.td-filter-price
                      .form-control.form-control-prefixed.no-mrg
                        .form-control-addon
                          a.btn.btn-green &ge;
                        input.input(type='text')
                    td.hide-m
                      input.input.input-search(type='text')
                    td.td-filter-close.text-right
                      button.btn.btn-white(type="button")
                        i.icon closesmall
                tbody
                  each invoice, key in invoices
                    tr.tr-state(class=invoice.state)
                      td.hide-s
                        .checkbox
                          input.checkbox-input(type='checkbox', id='checkbox-' + key, name='checkbox-' + key)
                          label.checkbox-custom(for='checkbox-' + key)
                      td.td-fixed-10-s.text-center
                        a.no-bd
                          i.icon.icon-s(class=invoice.icon.color)= invoice.icon.icon
                      td= invoice.type
                      td
                        | #{invoice.date}   
                        span.hide-s , #{invoice.time}
                      td.td-pull-right-s.text-center.td-icon-space
                        unless invoice.state == 'failed'
                          if invoice.payed == true
                            i.icon.text-color-lightgreen.js-tooltip(title='Uhradené')= icons.check
                          else 
                            i.icon.text-color-orange.js-tooltip(title='Neuhradené')= icons.euro
                      td.td-clear-s.td-ofst-10-s.text-right= invoice.price
                      td.hide-m
                        if invoice.state != 'failed' && invoice.state != 'processing'
                          .input-dynamic
                            label.input-dynamic_addon(for='textarea-invoices-in-' + key)
                              unless invoice.note == ''
                                i.icon.icon-s.text-color-lightgreen= icons.edit
                              else
                                i.icon.icon-s.text-color-lightgrey= icons.edit
                            textarea.input.js-autosize.js-nolinebreak(type='text', id='textarea-invoices-in-' + key, placeholder='Poznámka')= invoice.note
                        else if invoice.state == 'processing'
                          | Dokument čaká na rozpoznanie
                      td.td-3btns.td-pull-right-s.td-clear-s.text-right

                        if invoice.state != 'failed' && invoice.state != 'processing'

                          if invoice.note
                            button.btn.btn-clean.btn-white-s.hide-l.show-dib-m(type='button', data-modal-target='note-edit')
                              i.icon.icon-s.text-color-lightgreen= icons.notefill
                          else
                            button.btn.btn-clean.btn-white-s.hide-l.show-dib-m(type='button', data-modal-target='note-new')
                              i.icon.icon-s= icons.note

                          if invoice.reminder == true
                            button.btn.btn-clean.btn-white-s(type='button', data-modal-target='reminder-edit')
                              i.icon.icon-s.text-color-lightgreen= icons.bellfill
                          else 
                            button.btn.btn-clean.btn-white-s(type='button', data-modal-target='reminder-new')
                              i.icon.icon-s= icons.bell

                          a.btn.btn-green.btn-fix-spaces(href="dokumenty-detail.html") Detail

                        else if invoice.state == 'processing'
                          .icon-spin.anim-spin
                            i.icon.icon-m= icons.spinner

                        else
                          a.btn.btn-orange.hide-s(href='dokumenty-sablona.html') Opraviť
              footer.box-simple_footer.box-simple_pagination
                ul.pagination
                  li.pagination_item
                    a.btn.btn-white
                      i.icon= icons.doubleleft
                  li.pagination_item
                    span.pagination_link &hellip;
                  each key in [1,2,3,4,5,6,7]
                    li.pagination_item
                      - var active = ''
                      - if(key==1) active = 'active';
                      a.pagination_link(class=active)= key
                  li.pagination_item
                    span.pagination_link &hellip;
                  li.pagination_item
                    a.btn.btn-white
                      i.icon= icons.doubleright

    include ../includes/modals/modal-reminder-new
    include ../includes/modals/modal-reminder-edit
    include ../includes/modals/note-new.jade
    include ../includes/modals/note-edit.jade