extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 3;
  - var breadcrumbs = true;
  - var breadcrumbsMore = [
  -   {
  -     'title': 'Archív služieb',
  -     'href': 'sluzby-archiv.html'
  -   }
  - ]

//- Content
block append content

  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.ofst-s-center.col-xs-2
          h3.no-mrg-top Zoznam archivovaných služieb

      .row.row-space

        .col-12.col-s-3.ofst-s-center.col-xs-2
            .btnline

              a.btn.btn-link.pull-right(href='sluzby.html') Prejsť na aktívne služby

              a.btn.btn-green.disabled.js-tooltip-icon.hide-s(title="Lorem ipsum Ea nisi occaecat.", data-modal-target='popup-delete-documents') Vrátiť späť do aktívnych
              a.btn.btn-orange.disabled.js-tooltip-icon.hide-s.btn-full-xs(title="Vymazaním natrvalo zmažete danú položku, ak si želáte položku/-y vymazať označte položku/-y a stlačte tlačidlo vymazať.", data-modal-target='popup-delete-documents') Vymazať
              

      .row

        .col-12.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.box-headerless.no-mrg-top
            .box-simple_content.no-pad
              table.table.table-large.table-hovers.table-responsive-s.js-table.table-archived
                tbody
                  each service, key in services
                    tr
                      td.hide-s
                        .checkbox
                          input.checkbox-input(type='checkbox', id='checkbox-' + key, name='checkbox-' + key)
                          label.checkbox-custom(for='checkbox-' + key)
                      td: img.img-table-logo.img-l(src=service.logo, alt=service.name)
                      td.td-break-sender
                        strong= service.name
                        if service.signature
                          br
                          | #{service.signature}
                      td.td-clear-s
                        | <strong>Číslo účtu:</strong> #{service.accnumber}
                        br
                        | <strong>Zákazníkom od</strong>: #{service.usersince}
                      td.td-clear-s
                        | <strong>Inforlinka</strong>: #{service.infocall}
                        br
                        | #{service.email}
                      td.td-pull-right-s.text-right 
                        a.btn.btn-green(href='sluzby-detail.html') Detail
              
            footer.box-simple_footer.box-simple_pagination
              ul.pagination
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleleft
                li.pagination_item
                  span.pagination_link &hellip;
                each key in [1,2,3,4,5,6,7]
                  li.pagination_item
                    - var active = ''
                    - if(key==1) active = 'active';
                    a.pagination_link(class=active)= key
                li.pagination_item
                  span.pagination_link &hellip;
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleright

