extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 3;
  - var subpageID = 0;
  - var breadcrumbs = true;
  - var breadcrumbsMore = [
  -   {
  -     'title': 'Nová služba',
  -     'href': 'sluzby-blank.html'
  -   }
  - ]

//- Content
block append content

  main.content-main

    .grid-12col

      .row
        .col-12.col-s-4.col-xs-2
          p.text-big.no-mrg-top
            | Zatiaľ ste ešte neprijali žiadnu zásielku. Aktivujte si elektronické faktúry cez UID a PIN, alebo presmerujte súčasné alebo nové elektornické faktúry na jedno miesto a to do Zelenej Pošty.
          p 
            | Pridať odosielateľa môžete troma spôsobmi:
      
      .row
        .col-6.col-s-4.col-xs-2.no-mrg-top
          article.box-simple.no-mrg-top
            header.box-simple_header
              h3.no-mrg 1. Zadaním UID a PIN
            .box-simple_content.insert-uid-pin_box
              .row
                .col-12.col-s-4
                  p.no-mrg-top 
                    | Prosím zadajte UID a PIN, ktoré sú zobrazené na vašej papierovej zásielke.
                  img.img-fluid.sticker(src="static/imgs/sticker_2x.png", alt="")
                .col-12.col-s-4
                  .form-row
                    .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-m-5.form-col-s-5
                    .form-controls.form-col-6.form-col-m-7.form-col-s-6
                      .form-control
                        label.form-help.form-helper * Všetky polia sú povinné
                  
                  .form-row
                    .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-m-5.form-col-s-5
                      label UID:
                    .form-controls.form-col-6.form-col-m-7.form-col-s-7
                      .form-control
                        input.input(type='text', placeholder='')
                  
                  .form-row
                    .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-m-5.form-col-s-5
                      label PIN:
                    .form-controls.form-col-6.form-col-m-7.form-col-s-7
                      .form-control
                        input.input(type='text', placeholder='')
                  
                  .form-row
                    .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-m-5.form-col-s-5
                      label Vlastné označenie:
                    .form-controls.form-col-6.form-col-m-7.form-col-s-7
                      .form-control
                        input.input(type='text', placeholder='')
                        label.form-help Vlastné označenie sa bude zobrazovať v zozname odosielateľov
                  
                  .form-row
                    .form-label.form-label-inline.form-col-4.form-col-m-5.form-col-s-5.hide-xs
                    .form-controls.form-col-7.form-col-m-7.form-col-s-7
                      .form-control.no-mrg
                        a.btn.btn-green.disabled.js-tooltip-icon(title="Pridaním novej služby si aktivujete novú službu z torej Vám budú posielať Vaše faktúry priamo na jedno miesto do Zelenej Pošty.") Pridať novú službu
                
        .col-6.col-s-4.col-xs-2
          article.box-simple.no-mrg-top
            header.box-simple_header
              h3.no-mrg 2. Posielanie zásielok na e-mail 
                .email 120-123-456@zelenaposta.sk
            .box-simple_content
              .row
                .col-12.col-s-4
                  p.no-mrg-top
                    strong Ak máte aktivovanú elektornickú faktúru u vášho poskytovateľa:
                  p 
                   | Stačí zmeniť adresu na webstránke vášho poskytovateľa na doručenie faktúr na adresu vášho konta: 123-123-132@zelenaposta.sk.
                  
                  p
                    strong Ak máte aktivovanú elektornickú faktúru u vášho poskytovateľa:
                  p 
                   | Stačí zmeniť adresu na webstránke vášho poskytovateľa na doručenie faktúr na adresu vášho konta: 123-123-132@zelenaposta.sk.
                .col-12.col-s-4
                  p.no-mrg-top
                    strong Spoločnosti, ktoré poporujú elektronické faktúry:
                  .logo-grid
                    .logo-grid_row
                      .logo-grid_item
                        img.logo(src="static/imgs/content/logo-grid/o2.png", alt="") 
                      .logo-grid_item
                        img.logo(src="static/imgs/content/logo-grid/telekom.png", alt="") 
                      .logo-grid_item
                        img.logo(src="static/imgs/content/logo-grid/orange.png", alt="")
                    .logo-grid_row
                      .logo-grid_item
                        img.logo(src="static/imgs/content/logo-grid/sse.png", alt="") 
                      .logo-grid_item
                        img.logo(src="static/imgs/content/logo-grid/upc.png", alt="") 
                      .logo-grid_item
                        img.logo(src="static/imgs/content/logo-grid/zse.png", alt="") 