extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 5;
  - var breadcrumbs = true;

//- Content
block append content

  main.content-main

    .grid-12col

      .row
        .col-12

          .box-simple.box-headerless
            .box-simple_content 

              .row
                .col-9.col-s-4
                  .form-row
                    .form-controls.form-controls-inline.form-col-12
                      .form-control.form-control-fixed-4
                        select.js-select(multiple)
                          each option, key in ['Všetky','Orange Slovensko a.s.','Západoslovenská energetika a.s.','Slovak Telekom','Zelená pošta s.r.o.','O2 Slovakia, s.r.o.']
                            if key == 0
                              option(selected='selected') #{option}
                            else
                              option #{option}
                      .form-control.form-control-postfixed.form-control-fixed-4
                        input.input.js-datepicker(type='text', placeholder='yyyy', data-date-format='yyyy', data-view=2) 
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon!= icons.calendar
                      .form-control.form-control-fixed-5
                        a.btn.btn-green Zobraziť graf

                .col-3.col-s-4
                  .btn-bar.btn-bar-stack
                    .btn-group.btn-group-stack-full-xs.pull-right.pull-left-s
                      a.btn.btn-white(href='statistiky-doughnut.html') Mesačne
                      a.btn.btn-white.active(href='statistiky-doughnut-year.html') Ročne
                    .btn-group.btn-group-stack-full-xs.pull-right.pull-left-s
                      a.btn.btn-white(href='statistiky.html', title='Stĺpcový graf')
                        i.icon= icons.barchart
                      a.btn.btn-white.active(href='statistiky-doughnut-year.html')
                        i.icon= icons.piechart

              .row.row-space
                .col-12
                  .chart_container.chart-doughnut_container
                    canvas#chart(data-chartype='doughnut')
                  .legend_container.js-legend_container

          

append pageScripts
  script(type='text/javascript', src='static/plugins/chartjs/Chart.js')
  script(type='text/javascript').
    var chartData = [
      {
        value: 12,
        color: '#5ec258',
        highlight: '#68c963',
        label: "Orange"
      },
      {
        value: 78,
        color: '#d6ca42',
        highlight: '#e5d956',
        label: "ZSE"
      },
      {
        value: 64,
        color: '#fe884f',
        highlight: '#f99261',
        label: "ZEP"
      },
      {
        value: 29,
        color: '#c2585f',
        highlight: '#d56b72',
        label: "O2"
      }
    ];
