extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 5;
  - var breadcrumbs = true;

//- Content
block append content

  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.ofst-s-center.col-xs-2
          h3.no-mrg Prehľad uhradených platieb

      .row
        .col-12

          .box-simple.box-headerless
            .box-simple_content 

              .row
                .col-9.col-s-4
                  .form-row
                    .form-controls.form-controls-inline.form-col-12
                      .form-control.form-control-fixed-4
                        select.js-select(multiple)
                          each option, key in ['Všetky','Orange Slovensko a.s.','Západoslovenská energetika a.s.','Slovak Telekom','Zelená pošta s.r.o.','O2 Slovakia, s.r.o.']
                            if key == 0
                              option(selected='selected') #{option}
                            else
                              option #{option}
                      .form-control.form-control-postfixed.form-control-fixed-4
                        input.input.js-datepicker(type='text', placeholder='mm.yyyy', data-date-format='dd.mm.yyyy', data-view=1) 
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon!= icons.calendar
                      .form-control.form-control-postfixed.form-control-fixed-4
                        input.input.js-datepicker(type='text', placeholder='mm.yyyy', data-date-format='dd.mm.yyyy', data-view=1) 
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon!= icons.calendar
                      .form-control.form-control-fixed-5
                        a.btn.btn-green Zobraziť graf

                .col-3.col-s-4
                  .btn-bar.btn-bar-stack
                    .btn-group.btn-group-stack-full-xs.pull-right.pull-left-s
                      a.btn.btn-white.active(href='statistiky-months.html') Mesačne
                      a.btn.btn-white(href='statistiky-year.html') Ročne
                    .btn-group.btn-group-stack-full-xs.pull-right.pull-left-s
                      a.btn.btn-white.active(href='statistiky-months.html', title='Stĺpcový graf')
                        i.icon= icons.barchart
                      a.btn.btn-white(href='statistiky-doughnut.html')
                        i.icon= icons.piechart

              .row.row-space
                .col-12
                  .chart_container
                    canvas#chart(data-chartype='bar')
                  .legend_container.js-legend_container
          

append pageScripts
  script(type='text/javascript', src='static/plugins/chartjs/Chart.js')
  script(type='text/javascript').
    var chartData = {
      labels: [
        "Januar",
        "Februar",
        "Marec ",
        "Aril",
        "Maj",
        "Jun"
      ],
      datasets: [
        {
          label: "Orange",
          fillColor: '#5ec258',
          strokeColor: '#5ec258',
          highlightFill: '#68c963',
          highlightStroke: '#68c963',
          data: [45,75,39,39,68,39],
        },
        {
          label: 'Telekom', 
          fillColor: '#d6ca42',
          strokeColor: '#d6ca42',
          highlightFill: '#e5d956',
          highlightStroke: '#e5d956',
          data: [88,79,79,120,81,80],
        }
      ]
    };
