extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 5;
  - var breadcrumbs = true;

//- Content
block append content

  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.ofst-s-center.col-xs-2
          h3.no-mrg Prehľad uhradených platieb

      .row
        .col-12

          .box-simple.box-headerless
            .box-simple_content 

              .row
                .col-9.col-s-4
                  .form-row
                    .form-controls.form-controls-inline.form-col-12
                      .form-control.form-control-fixed-4.form-control-full-xs
                        select.js-select(multiple)
                          each option, key in ['Všetky','Orange Slovensko a.s.','Západoslovenská energetika a.s.','Slovak Telekom','Zelená pošta s.r.o.','O2 Slovakia, s.r.o.']
                            if key == 0
                              option(selected='selected') #{option}
                            else
                              option #{option}
                      .form-control.form-control-postfixed.form-control-fixed-4.form-control-full-xs
                        input.input.js-datepicker(type='text', placeholder='mm.yyyy', data-date-format='dd.mm.yyyy', data-view=1) 
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon!= icons.calendar
                      .form-control.form-control-postfixed.form-control-fixed-4.form-control-full-xs
                        input.input.js-datepicker(type='text', placeholder='mm.yyyy', data-date-format='dd.mm.yyyy', data-view=1) 
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon!= icons.calendar
                      .form-control.form-control-fixed-5.form-control-full-xs
                        a.btn.btn-green.btn-full-xs Zobraziť graf

                .col-3.col-s-4
                  .btn-bar.btn-bar-stack
                    .btn-group.btn-group-stack-full-xs.pull-right.pull-left-s
                      a.btn.btn-white.active(href='statistiky.html') Mesačne
                      a.btn.btn-white(href='statistiky-year.html') Ročne
                    .btn-group.btn-group-stack-full-xs.pull-right.pull-left-s
                      a.btn.btn-white.active(href='statistiky.html', title='Stĺpcový graf')
                        i.icon= icons.barchart
                      a.btn.btn-white(href='statistiky-doughnut.html')
                        i.icon= icons.piechart

              .row.row-space
                .col-12
                  .chart_container
                    canvas#chart(data-chartype='bar-rainbow')

          

append pageScripts
  script(type='text/javascript', src='static/plugins/chartjs/Chart.js')
  script(type='text/javascript').
    var chartData = {
      labels: [
        "Orange",
        "ZSE",
        "Telekom ",
        "ZEP",
        "O2 "
      ],
      datasets: [
        {
          label: "Januar",
          fillColor: [
            '#5ec258',
            '#d6ca42',
            '#fe884f',
            '#ff2b2b',
            '#c2585f',
          ],
          strokeColor: [
            '#5ec258',
            '#d6ca42',
            '#fe884f',
            '#ff2b2b',
            '#c2585f',
          ],
          highlightFill: [
            '#68c963',
            '#e5d956',
            '#f99261',
            '#fa4c4c',
            '#d56b72',
          ],
          highlightStroke: [
            '#68c963',
            '#e5d956',
            '#f99261',
            '#fa4c4c',
            '#d56b72',
          ],
          data: [45,78,12,47, 12],
        }
      ]
    };
