extends ../templates/layout-style-guide

//- Options
block prepend opts

//- Content
block append content

  header.style-guide-header
    .wrapper-main.center-unknown
      h1.style-guide-header_headline.text-color-white Style Guide - Zelená Pošta
    // end: wrapper-main
  //- style-guide-header

  article.style-guide-content

    section#sg-color-pallete.style-guide-section

      header.style-guide-section_header
        .wrapper-main
          a.js-toggle(data-target='#sg-color-pallete', data-toggle-icon=icons.arrowup)
            h2 Color Palette
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown
            

      .style-guide-section_content
        .wrapper-main
          ul.style-guide_color-palette
            li.style-guide_color-palette_color
            li.style-guide_color-palette_color
            li.style-guide_color-palette_color
            li.style-guide_color-palette_color
            li.style-guide_color-palette_color
            li.style-guide_color-palette_color
            li.style-guide_color-palette_color
            li.style-guide_color-palette_color
            li.style-guide_color-palette_color

    //- style-guide-section

    section#sg-typography.style-guide-section

      header.style-guide-section_header
        .wrapper-main
          
          a.js-toggle(data-target='#sg-typography', data-toggle-icon=icons.arrowup)
            h2 Typography
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown

      .style-guide-section_content
        .wrapper-main
          h1 Headline 1: Lorem ipsum

          h2 Headline 2: Lorem ipsum Dolore eiusmod.

          h3 Headline 3: Lorem ipsum Cupidatat irure dolor est.

          p.text-big <strong>Hero text:</strong> Lorem ipsum Dolor quis adipisicing in in minim laborum adipisicing eu irure voluptate quis dolore sit cillum minim in adipisicing adipisicing occaecat laborum.

          p <strong>Body text:</strong> Lorem ipsum <a>Ullamco voluptate</a> veniam consectetur mollit adipisicing labore cupidatat ad in dolore reprehenderit minim incididunt sunt exercitation in in labore ullamco enim aliqua dolore pariatur ullamco Ut velit adipisicing pariatur mollit tempor cupidatat magna Excepteur ut in sed nostrud deserunt do laborum occaecat laborum Ut dolor elit ad consectetur culpa sit Duis cupidatat Duis laboris <a>voluptate</a> est nulla dolore elit ullamco sed pariatur pariatur sed Duis reprehenderit voluptate officia non enim laboris sit sint deserunt ullamco in fugiat dolor ullamco esse id ut <em>aliqua labore</em> pariatur labore aliqua enim cillum aute nostrud nulla ea et in nostrud do in veniam commodo consectetur reprehenderit minim <strong>consectetur incididunt</strong> adipisicing deserunt pariatur non eiusmod velit ut quis aliquip qui occaecat in ex in adipisicing sunt.

          p.text-desc <strong>Description text:</strong> Lorem ipsum Sed dolor magna cillum aliquip adipisicing occaecat nisi veniam deserunt est magna qui consequat Ut enim commodo laboris reprehenderit eu nostrud et tempor velit.

          p.text-small <strong>Small text:</strong> Lorem ipsum Dolore veniam in ex ut culpa sunt incididunt aliquip et eu consectetur culpa quis elit anim magna enim dolor dolor officia occaecat sed tempor irure fugiat ullamco et laboris reprehenderit amet tempor sit nulla ut proident ex exercitation veniam.

          hr

    //- style-guide-section

    section#sg-icons.style-guide-section

      header.style-guide-section_header
        .wrapper-main
          
          a.js-toggle(data-target='#sg-icons', data-toggle-icon=icons.arrowup)
            h2 Icons
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown

      .style-guide-section_content
        .wrapper-main

          ul.style-guide_icons-list.list-inline.list-inline-expanded
            each icon in icons
              li.style-guide_icons-list_item
                i.icon-l= icon
                br
                abbr(title=icon).text-color-semiblack= icon

          h3 Icons sizes

          ul.style-guide_icons-list.list-inline.list-inline-expanded
            li.style-guide_icons-list_item
              span XL
              br
              i.icon-xl= icons.calendar
            li.style-guide_icons-list_item
              span L
              br
              i.icon-l= icons.calendar
            li.style-guide_icons-list_item
              span M
              br
              i.icon-m= icons.calendar
            li.style-guide_icons-list_item
              span S
              br
              i.icon-S= icons.calendar

    //- style-guide-section

    section#sg-grid.style-guide-section

      header.style-guide-section_header
        .wrapper-main
          
          a.js-toggle(data-target='#sg-grid', data-toggle-icon=icons.arrowup)
            h2 Grid system
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown

      .style-guide-section_content
        .wrapper-main
          h3 Main Breakpoints

          dl 
            dt L
            dd 1030px +
            dt M
            dd 768px - 1029px
            dt S
            dd 320px - 767px

        .grid-12col

          h3 12 columns grid system 
          p.text-big: strong (L: 12cols, M: 6 cols, S: 4cols)

          p.text-big: strong Basic layout

          - for(i = 1; i <= 12; i++) {
            .row.row-space
                div(class='col-' + i)
                  .debug: abbr(title='.col-' + i)= i
          - }

          p.text-big: strong Complex layout

          .row.row-space
            .col-xl-3.col-2.col-m-1.col-s-1.col-xs-1
              .debug: abbr(title='.col-xl-3.col-2.col-m-1.col-s-1.col-xs-1')
                span.show-xl XL: 3/12
                span.show-l L: 2/12
                span.show-m M: 1/6
                span.show-s S: 1/4
                span.show-xs XS: 1/2
          .row.row-space
            .col-xl-3.col-4.col-m-2.col-s-2.col-xs-1
              .debug: abbr(title='.col-xl-.col-4.col-m-2.col-s-2.col-xs-1')
                span.show-xl XL: 3/12
                span.show-l L: 4/12
                span.show-m M: 2/6
                span.show-s S: 2/4
                span.show-xs XS: 1/2
          .row.row-space
            .col-xl-4.col-6.col-m-3.col-s-3.col-xs-2
              .debug: abbr(title='.col-xl-4.col-6.col-m-3.col-s-3.col-xs-2')
                span.show-xl XL: 4/12
                span.show-l L: 6/12
                span.show-m M: 3/6
                span.show-s S: 3/4
                span.show-xs XS: 2/2
          .row.row-space
            .col-xl-6.col-8.col-m-4.col-s-4.col-xs-2
              .debug: abbr(title='.col-xl-6.col-8.col-m-4.col-s-4.col-xs-2')
                span.show-xl XL: 6/12
                span.show-l L: 8/12
                span.show-m M: 4/6
                span.show-s S: 4/4
                span.show-xs XS: 2/2
          .row.row-space
            .col-xl-8.col-10.col-m-5.col-s-1.col-xs-1
              .debug: abbr(title='.col-xl-8.col-10.col-m-5.col-s-1.col-xs-1')
                span.show-xl XL: 8/12
                span.show-l L: 10/12
                span.show-m M: 5/6
                span.show-s S: 1/4
                span.show-xs XS: 1/2
          .row.row-space
            .col-xl-10.col-12.col-m-6.col-s-2.col-xs-2
              .debug: abbr(title='.col-xl-10.col-12.col-m-6.col-s-2.col-xs-2')
                span.show-xl XL: 10/12
                span.show-l L: 12/12
                span.show-m M: 6/6
                span.show-s S: 2/4
                span.show-xs XS: 2/2

          p.text-big: strong Offsets

          .row.row-space
            .col-4.ofst-1.col-m-3.ofst-m-0.col-s-2.ofst-s-0
              .debug: abbr(title='.col-4.ofst-1.col-m-3.ofst-m-0.col-s-2.ofst-s-0') 
                span.show-l.show-xl L: Ofst: 1, W: 4
                span.show-m M: Ofst: 0, W: 3
                span.show-s.show-xs S: Ofst: 0, W: 2

            .col-4.ofst-2.col-m-3.ofst-m-0.col-s-2.ofst-s-0
              .debug: abbr(title='.col-4.ofst-1.col-m-3.ofst-m-0.col-s-2.ofst-s-0')
                span.show-l.show-xl L: Ofst: 2, W: 4
                span.show-m M: Ofst: 0, W: 3
                span.show-s.show-xs S: Ofst: 0, W: 2

    //- style-guide-section

    section#sg-buttons.style-guide-section

      header.style-guide-section_header
        .wrapper-main
            
          a.js-toggle(data-target='#sg-buttons', data-toggle-icon=icons.arrowup)
            h2 Buttons
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown

      .style-guide-section_content

        .grid-12col
          .row.row-space
            .col-2.col-m-1.col-xs-2
              p.text-big: strong Default
              .btnblock
                a.btn.btn-full-xs Default
                a.btn.btn-full-xs.disabled(disabled) Default

            .col-2.col-m-1.col-xs-2
              p.text-big: strong Green
              .btnblock
                a.btn.btn-green.btn-full-xs Green
                a.btn.btn-green.btn-full-xs.disabled Green

            .col-2.col-m-1.col-xs-2
              p.text-big: strong Orange
              .btnblock
                a.btn.btn-orange.btn-full-xs Orange
                a.btn.btn-orange.btn-full-xs.disabled Orange

            .col-2.col-m-1.col-xs-2
              p.text-big: strong White
              .btnblock
                a.btn.btn-white.btn-full-xs White
                a.btn.btn-white.btn-full-xs.disabled White


            .col-2.col-m-1.col-xs-2
              p.text-big: strong White 2
              .btnblock
                a.btn.btn-white-2.btn-full-xs White 2
                a.btn.btn-white-2.btn-full-xs.disabled White 2

            .col-2.col-m-1.col-xs-2
              p.text-big: strong Clean
              .btnblock
                a.btn.btn-clean.btn-full-xs Clean
                a.btn.btn-clean.btn-full-xs.disabled Clean

          .row.row-space
            .col-12
              h3 Button sizes

            .col-6.col-s-2.col-xs-2
              p.text-big: strong Button L/M/S
              .btnblock
                a.btn Medium
            .col-6.col-s-2.col-xs-2
              p.text-big: strong Button width sizes
              .btnblock
                .btn.btn-full Full width
                .btn.btn-full-s Full width for S layout
                .btn.btn-full-xs Full width for XS layout

          .row.row-space
            .col-12
              h3 Button layouts

            .col-6.col-s-2.col-xs-2
              p.text-big: strong Button block
              .btnblock
                a.btn Button
                a.btn Button
            .col-6.col-s-2.col-xs-2
              p.text-big: strong Button line
              .btnline
                a.btn Button
                a.btn Button

          .row.row-space
            .col-12
              h3 Buttons with icons

            .col-6.col-s-4
              p.text-big: strong Floating icons

              .btninline
                .btn.btn-green
                  i.icon.icon-left download
                  | Download
                .btn.btn-white
                  | Edit
                  i.icon.icon-right edit

            .col-4.col-s-2
              p.text-big: strong Positioned icons
              .btnblock
                .btn.btn-full.btn-icon-left
                  i.icon.icon-s doubleleft
                  | Back
                .btn.btn-white.btn-full.btn-icon-right
                  | Next
                  i.icon.icon-s doubleright

          .row.row-space
            .col-12
              h3 Button groups

            .col-6.col-m-6.col-s-4
              p.text-big: strong Button groups inline

              .btn-group.btn-group-stack-full-xs
                a.btn Button 1
                a.btn Button 2
                a.btn Button 3
              br
              .btn-group.btn-group-stack-full-xs
                a.btn.btn-green Button 1
                a.btn.btn-green Button 2
                a.btn.btn-green 
                  i.icon  edit
              br
              .btn-group.btn-group-stack-full-xs
                a.btn.btn-white Button 1
                a.btn.btn-white Button 2
                a.btn.btn-white 
                  i.icon.icon-left download
                  | Button 3

            .col-6.col-m-3.col-s-2.col-xs-2
              p.text-big: strong Button groups vertical

              .btn-group.btn-group-stack.btn-group-stack-full-m
                a.btn Button 1
                a.btn Button 2
                a.btn Button 3

            .col-12

              p.text-big: strong Button bars

              .btn-bar.btn-bar-stack-xs
                .btn-group.btn-group-stack-s.btn-group-stack-full-xs
                  a.btn Button 1
                  a.btn Button 2
                .btn-group.btn-group-stack-s.btn-group-stack-full-xs
                  a.btn.btn-orange Button 3
                  a.btn.btn-orange Button 4
                  a.btn.btn-orange Button 5
          
          .row.row-space
            .col-12
              h3 Button dropdowns

            .col-6.col-xs-2
              p.text-big: strong Dropdowns
              .btn-dropdown.btn-dropdown-full-xs
                a.btn.js-toggle(data-target='parent', data-toggle='dropdown', data-toggle-icon='chevronup') 
                  | Button dropdown  
                  i.icon.icon-s.icon-dropdown chevrondown
                ul.dropdown-list
                  each item in [1,2,3,4,5]
                    li
                      a.dropdown-list_item List item #{item}
              br
              br
              .btn-dropdown.btn-dropdown-full-xs
                a.btn.btn-green.btn-l.js-toggle(data-target='parent', data-toggle='dropdown', data-toggle-icon='chevronup') 
                  | Button dropdown  
                  i.icon.icon-dropdown chevrondown
                ul.dropdown-list
                  each item in [1,2,3,4,5]
                    li
                      a.dropdown-list_item List item #{item}
              br
              br
              .btn-dropdown.btn-dropdown-full-xs
                a.btn.btn-white.js-toggle(data-target='parent', data-toggle='dropdown', data-toggle-icon='chevronup') 
                  | Button dropdown  
                  i.icon.icon-dropdown chevrondown
                ul.dropdown-list
                  each item in [1,2,3,4,5]
                    li
                      a.dropdown-list_item List item #{item}

            .col-6.col-xs-2
              p.text-big: strong Split buttons

              .btn-dropdown-split.btn-dropdown-full-xs
                a.btn.btn-split-control.js-toggle(data-target='parent', data-toggle='dropdown', data-toggle-icon='chevronup')
                  i.icon chevrondown
                a.btn.btn-split.btn-dropdown-full-xs Button split
                ul.dropdown-list
                  each item in [1,2,3,4,5]
                    li
                      a.dropdown-list_item List item #{item}

              br
              br

              .btn-dropdown-split.btn-dropdown-full-xs
                a.btn.btn-orange.btn-split-control.js-toggle(data-target='parent', data-toggle='dropdown', data-toggle-icon='chevronup')
                  i.icon chevrondown
                a.btn.btn-orange.btn-split.btn-dropdown-full-xs Button split
                ul.dropdown-list
                  each item in [1,2,3,4,5]
                    li
                      a.dropdown-list_item List item #{item}
              br
              br

              .btn-dropdown-split.btn-dropdown-full-xs
                a.btn.btn-green.btn-split-control.js-toggle(data-target='parent', data-toggle='dropdown', data-toggle-icon='chevronup')
                  i.icon chevrondown
                a.btn.btn-green.btn-split.btn-dropdown-full-xs Button split
                ul.dropdown-list
                  each item in [1,2,3,4,5]
                    li
                      a.dropdown-list_item List item #{item}

    //- style-guide-section

    section#sg-forms.style-guide-section

      header.style-guide-section_header
        .wrapper-main
            
          a.js-toggle(data-target='#sg-forms', data-toggle-icon=icons.arrowup)
            h2 Form components
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown

      .style-guide-section_content
        form.grid-12col

          h3 Inputs

          .row
            
            .col-6.col-xs-2
              p.text-big: strong Input L/M/S
              .form-row
                .form-controls.form-col-12
                  .form-control
                    input.input(type='text', placeholder='Input medium') 
            .col-6.col-xs-2
              p.text-big: strong Input states
              .form-row
                .form-controls.form-col-12
                  .form-control
                    input.input(type='text', disabled, placeholder='Input disabled')
              .form-row
                .form-controls.form-col-12
                  .form-control
                    input.input(type='text', readonly, placeholder='Input readonly', value='Input readonly')
              .form-row
                .form-controls.form-col-12
                  .form-control
                    input.input.error(type='text', placeholder='Input error', value='Input error')
                    label.form-error Lorem ipsum In culpa eu velit nulla
            .col-6.col-xs-2
              p.text-big: strong Customized inputs
              .form-row
                .form-controls.form-col-12
                  .form-control
                    input.input.input-search(type='text', placeholder='Search') 


          h3 Textarea

          .row
            .col-6.col-xs-2
              .form-row
                .form-controls.form-col-12
                  .form-control
                    textarea.input(rows=4)

          h3 Checkbox / Radio

          .row
            .col-6.col-xs-2
              p.text-big: strong Checkboxes

              .form-row
                .form-controls.form-col-12
                  .checkbox
                    input.checkbox-input(type='checkbox', id='checkbox-01', name='checkbox-01')
                    label.checkbox-custom(for='checkbox-01')
                    label.checkbox-label(for='checkbox-01') Checkbox
              .form-row
                .form-controls.form-col-12
                  .checkbox
                    input.checkbox-input(type='checkbox', id='checkbox-02', name='checkbox-02', disabled)
                    label.checkbox-custom(for='checkbox-02')
                    label.checkbox-label(for='checkbox-02') Checkbox disabled
              .form-row
                .form-controls.form-col-12
                  .checkbox
                    input.checkbox-input.error(type='checkbox', id='checkbox-03', name='checkbox-03')
                    label.checkbox-custom(for='checkbox-03')
                    label.checkbox-label(for='checkbox-03') Checkbox error
                    label.form-error Lorem ipsum In culpa eu velit nulla.


            .col-6.col-xs-2
              p.text-big: strong Radios

              .form-row
                .form-controls.form-col-12
                  .radio
                    input.radio-input(type='radio', id='radio-01-01', name='radio-01')
                    label.radio-custom(for='radio-01-01')
                    label.radio-label(for='radio-01-01') Radio
              .form-row
                .form-controls.form-col-12
                  .radio
                    input.radio-input(type='radio', id='radio-01-02', name='radio-01', disabled)
                    label.radio-custom(for='radio-01-02')
                    label.radio-label(for='radio-01-02') Radio disabled
              .form-row
                .form-controls.form-col-12
                  .radio
                    input.radio-input.error(type='radio', id='radio-01-03', name='radio-01')
                    label.radio-custom(for='radio-01-03')
                    label.radio-label(for='radio-01-03') Radio error
                    label.form-error Lorem ipsum In culpa eu velit nulla.

          .row
            .col-6.col-xs-2
              p.text-big: strong Checkbox group

              .form-row
                .form-controls.form-col-12
                  .checkbox-group
                    .checkbox
                      input.checkbox-input(type='checkbox', id='checkbox-04', name='checkbox-04')
                      label.checkbox-custom(for='checkbox-04')
                      label.checkbox-label(for='checkbox-04') Checkbox 1
                    .checkbox
                      input.checkbox-input(type='checkbox', id='checkbox-05', name='checkbox-05')
                      label.checkbox-custom(for='checkbox-05')
                      label.checkbox-label(for='checkbox-05') Checkbox 2
                    .checkbox
                      input.checkbox-input(type='checkbox', id='checkbox-06', name='checkbox-06')
                      label.checkbox-custom(for='checkbox-06')
                      label.checkbox-label(for='checkbox-06') Checkbox 3

            .col-6.col-xs-2
              p.text-big: strong Radio group

              .form-row
                .form-controls.form-col-12
                  .radio-group
                    .radio
                      input.radio-input(type='radio', id='radio-02-01', name='radio-02')
                      label.radio-custom(for='radio-02-01')
                      label.radio-label(for='radio-02-01') Radio 1
                    .radio
                      input.radio-input(type='radio', id='radio-02-02', name='radio-02')
                      label.radio-custom(for='radio-02-02')
                      label.radio-label(for='radio-02-02') Radio 2
                    .radio
                      input.radio-input(type='radio', id='radio-02-03', name='radio-02')
                      label.radio-custom(for='radio-02-03')
                      label.radio-label(for='radio-02-03') Radio 3
 
          h3 Select
          .row
            .col-6.col-xs-2
              p.text-big: strong Basic select

              .form-row
                .form-controls.form-col-12
                  .form-control
                    select.js-select
                      each option in [1,2,3,4,5]
                        option Option #{option}

              .form-row
                .form-controls.form-col-12
                  .form-control
                    select.js-select(disabled)
                      each option in [1,2,3,4,5]
                        option Option #{option}

              .form-row
                .form-controls.form-col-12
                  .form-control
                    select.js-select.error
                      each option in [1,2,3,4,5]
                        option Option #{option}
                    label.form-error Lorem ipsum In culpa eu velit nulla.

            .col-6.col-xs-2
              p.text-big: strong Multiple select
              .form-row
                .form-controls.form-col-12
                  .form-control
                    select.js-select(multiple)
                      each option in [1,2,3,4,5]
                        option Option #{option}
            .col-6.col-xs-2
              p.text-big: strong Select with link
              .form-row
                .form-controls.form-col-12
                  .form-control
                    select.js-select(multiple, data-addlink-text='Pridať položku', data-addlink-href='#')
                      each option in [1,2,3,4,5]
                        option Option #{option}

          h3 Switch
          .row

            .col-12
              .form-row
                .form-controls.form-col-12
                  .form-control
                    .js-switch(data-on-label='Zapnuté', data-off-label='Vypnuté')
                      input(type='checkbox')

          h3 Fileinput
          .row
            .col-6.col-xs-2
              .form-row
                .form-controls.form-col-12
                  .form-control
                    .fileinput.fileinput-new.js-fileinput
                      a.btn.btn-green.btn-file
                        span.fileinput-new Vyberte súbor
                        span.fileinput-exists Zmeniť
                        input(type='file', name='...')
                      a.btn.fileinput-exists.close(data-dismiss='fileinput')
                        i.icon= icons.close
                      span.fileinput-filename
            .col-6.col-xs-2
              .form-row
                .form-controls.form-col-12
                  .form-control
                    .fileinput.fileinput-new.js-fileinput
                      a.btn.btn-green.btn-file
                        span.fileinput-new Vyberte súbor
                        span.fileinput-exists Zmeniť
                        input(type='file', name='...')
                      a.btn.fileinput-exists.close(data-dismiss='fileinput')
                        i.icon= icons.close
                      span.fileinput-filename
                    label.form-error Lorem ipsum In culpa eu velit nulla.

                      

          h3 Form component groups
          .row

            .col-6.col-xs-2
              p.text-big: strong Postfix

              .form-row
                .form-controls.form-col-12
                  .form-control.form-control-postfixed
                    input.input(type='text', placeholder='Placeholder')
                    .form-control-addon
                      a.btn.btn-green =

              .form-row
                .form-controls.form-col-12
                  .form-control.form-control-postfixed
                    input.input.error(type='text', placeholder='Placeholder')
                    .form-control-addon
                      a.btn.btn-green =
                  .form-control.form-control-error
                    label.form-error Lorem ipsum In culpa eu velit nulla.

              .form-row
                .form-controls.form-col-12
                  .form-control.form-control-postfixed.js-input-select
                    input.input(type='text', placeholder='Placeholder')
                    .form-control-addon
                      select.js-select
                        each option in [1,2,3,4,5]
                          option Option #{option}

              .form-row
                .form-controls.form-col-12
                  .form-control.form-control-postfixed.js-input-select
                    input.input.error(type='text', placeholder='Placeholder')
                    .form-control-addon
                      select.js-select.error
                        each option in [1,2,3,4,5]
                          option Option #{option}
                  .form-control.form-control-error
                    label.form-error Lorem ipsum In culpa eu velit nulla.

            .col-6.col-xs-2
              p.text-big: strong Prefix

              .form-row
                .form-controls.form-col-12
                  .form-control.form-control-prefixed
                    .form-control-addon
                      a.btn.btn-orange &gt;
                    input.input(type='text', placeholder='Placeholder')

              .form-row
                .form-controls.form-col-12
                  .form-control.form-control-prefixed
                    .form-control-addon
                      a.btn.btn-orange &gt;
                    input.input.error(type='text', placeholder='Placeholder')
                  .form-control.form-control-error
                    label.form-error Lorem ipsum In culpa eu velit nulla.

              .form-row
                .form-controls.form-col-12
                  .form-control.form-control-prefixed.js-input-select
                    .form-control-addon
                      select.js-select
                        each option in [1,2,3,4,5]
                          option Option #{option}
                    input.input(type='text', placeholder='Placeholder')

              .form-row
                .form-controls.form-col-12
                  .form-control.form-control-prefixed.js-input-select
                    .form-control-addon
                      select.js-select.error
                        each option in [1,2,3,4,5]
                          option Option #{option}
                    input.input.error(type='text', placeholder='Placeholder')
                  .form-control.form-control-error
                    label.form-error Lorem ipsum In culpa eu velit nulla.

          h3 Special inputs
          .row
            .col-6.col-xs-2
              p.text-big: strong Dynamic input
              .form-row
                .form-controls.form-col-12
                  .form-control
                    .input-dynamic
                      label.input-dynamic_addon(for='textarea-dynamic-01')
                        i.icon.icon-s.text-color-lightgrey= icons.edit
                      textarea.input.js-autosize.js-nolinebreak(type='text', id='textarea-dynamic-01', placeholder='Write here')
              .form-row
                .form-controls.form-col-12
                  .form-control
                    .input-dynamic
                      label.input-dynamic_addon(for='textarea-dynamic-02')
                        i.icon.icon-s.text-color-lightgreen= icons.edit
                      textarea.input.js-autosize.js-nolinebreak(type='text', id='textarea-dynamic-02', placeholder='Write here') There is something written
              .form-row
                .form-controls.form-col-12
                  .form-control
                    .input-dynamic
                      label.input-dynamic_addon(for='textarea-dynamic-03')
                        i.icon.icon-s.text-color-lightgreen= icons.edit
                      textarea.input.js-autosize.js-nolinebreak(type='text', disabled, id='textarea-dynamic-03', placeholder='Write here') Disabled
              .form-row
                .form-controls.form-col-12
                  .form-control
                    .input-dynamic
                      label.input-dynamic_addon(for='textarea-dynamic-04')
                        i.icon.icon-s.text-color-orange= icons.edit
                      textarea.input.js-autosize.js-nolinebreak.error(type='text', id='textarea-dynamic-04', placeholder='Write here') Error

            .col-6.col-xs-2
              p.text-big: strong Input with icons
              .form-row
                .form-controls.form-col-12
                  .form-control
                    input.input.input-search(type='text', placeholder='Search') 

          h3 Datepicker &amp; Timepicker
          .row
            .col-6.col-xs-2
              p.text-big: strong Datepicker
              .form-row
                .form-controls.form-col-12
                  .form-control.form-control-postfixed
                    input.input.js-datepicker(type='text', placeholder='dd.mm.yyyy', data-date-format='dd.mm.yyyy') 
                    .form-control-addon
                      a.btn.btn-green.js-datepicker-btn
                        i.icon!= icons.calendar

              .form-row
                .form-controls.form-col-12
                  .form-control.form-control-postfixed
                    input.input.js-datepicker(disabled, type='text', placeholder='dd.mm.yyyy', data-date-format='dd.mm.yyyy') 
                    .form-control-addon
                      a.btn.btn-green.js-datepicker-btn.disabled
                        i.icon!= icons.calendar

              .form-row
                .form-controls.form-col-12
                  .form-control.form-control-postfixed
                    input.input.js-datepicker.error(type='text', placeholder='dd.mm.yyyy', data-date-format='dd.mm.yyyy') 
                    .form-control-addon
                      a.btn.btn-green.js-datepicker-btn
                        i.icon!= icons.calendar
                  .form-control.form-control-error
                    label.form-error Lorem ipsum In culpa eu velit nulla.
          
            .col-6.col-xs-2
              p.text-big: strong Timepicker

              .form-row
                .form-controls.form-col-12
                  .form-control.form-control-postfixed
                    input.input.js-timepicker(type='text', placeholder='hh.mm') 
                    .form-control-addon
                      a.btn.btn-green
                        i.icon!= icons.clock

              .form-row
                .form-controls.form-col-12
                  .form-control.form-control-postfixed
                    input.input.error.js-timepicker(type='text', placeholder='hh.mm') 
                    .form-control-addon
                      a.btn.btn-green
                        i.icon!= icons.clock
                  .form-control.form-control-error
                    label.form-error Lorem ipsum In culpa eu velit nulla.

          h3 Form error texts
          .row   

            .col-6.col-s-2.col-xs-2
              .form-row
                .form-label.form-col-12.error
                  label Form label:
                .form-controls.form-col-12
                  .form-control
                    input.input.error(type='text', placeholder='Placeholder')
                    label.form-error Lorem ipsum Dolor anim pariatur officia.

              .form-row
                .form-label.form-col-12.error
                  label Form label:
                .form-controls.form-col-12
                  .radio-group
                    .radio
                      input.radio-input.error(type='radio', id='radio-03-01', name='radio-03')
                      label.radio-custom(for='radio-03-01')
                      label.radio-label(for='radio-03-01') Radio 1
                    .radio
                      input.radio-input.error(type='radio', id='radio-03-02', name='radio-03')
                      label.radio-custom(for='radio-03-02')
                      label.radio-label(for='radio-03-02') Radio 2
                    .radio
                      input.radio-input.error(type='radio', id='radio-03-03', name='radio-03')
                      label.radio-custom(for='radio-03-03')
                      label.radio-label(for='radio-03-03') Radio 3
                    label.form-error Lorem ipsum In culpa eu velit nulla.

            .col-6.col-s-4
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-3.error
                  label Form label:
                .form-controls.form-col-8.form-col-s-4
                  .form-control
                    input.input.error(type='text', placeholder='Placeholder')
                    label.form-error Lorem ipsum Laboris reprehenderit anim dolor.

          h3 Form help texts
          .row   

            .col-6.col-xs-2
              .form-row
                .form-label.form-col-12
                  label Form label:
                .form-controls.form-col-12
                  .form-control
                    input.input(type='text', placeholder='Placeholder')
                    label.form-help Lorem ipsum Sint dolor in nostrud.

          h3 Form layouts
          .row
            .col-6.col-xs-2
              p.text-big: strong Vertical layout
              .form-row
                .form-label.form-col-12
                  label Form label:
                .form-controls.form-col-12
                  .form-control
                    input.input(type='text', placeholder='Placeholder')
              .form-row
                .form-label.form-col-12
                  label Form label:
                .form-controls.form-col-12
                  .form-control
                    input.input(type='text', placeholder='Placeholder')
            .col-6.col-s-4.col-xs-2
              p.text-big: strong Horizontal layout
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-3
                  label Form label:
                .form-controls.form-col-8.form-col-s-4
                  .form-control
                    input.input(type='text', placeholder='Placeholder')
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-3
                  label Form label:
                .form-controls.form-col-8.form-col-s-4
                  .form-control
                    input.input(type='text', placeholder='Placeholder')

          .row
            .col-6.col-s-2.col-xs-2
              p.text-big: strong Vertical block layout
              .form-row
                .form-label.form-col-12
                  label Form label:
                .form-controls.form-controls-block.form-col-12
                  .form-control
                    input.input(type='text', placeholder='Placeholder')
                  .form-control
                    input.input(type='text', placeholder='Placeholder')

            .col-6.col-s-4.col-xs-2
              p.text-big: strong Horizontal block layout
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-3
                  label Form label:
                .form-controls.form-controls-block.form-col-8.form-col-s-4
                  .form-control
                    input.input(type='text', placeholder='Placeholder')
                  .form-control
                    input.input(type='text', placeholder='Placeholder')
                  .form-control
                    input.input(type='text', placeholder='Placeholder')

          .row
            .col-12
              p.text-big: strong Multicolumn layout
              .row
                .col-4.col-s-1.col-xs-2
                  .form-row
                    .form-label.form-col-12
                      label Form label:
                    .form-controls.form-col-12
                      .form-control
                        input.input(type='text', placeholder='Placeholder')
                .col-4.col-s-1.col-xs-2
                  .form-row
                    .form-label.form-col-12
                      label Form label:
                    .form-controls.form-col-12
                      .form-control
                        input.input(type='text', placeholder='Placeholder')
                .col-4.col-s-1.col-xs-2
                  .form-row
                    .form-label.form-col-12
                      label Form label:
                    .form-controls.form-col-12
                      .form-control
                        input.input(type='text', placeholder='Placeholder')

          .row
            .col-12
              p.text-big: strong Inline layout

              .row
                .col-6.col-s-2.col-xs-2
                  .form-row
                    .form-controls.form-controls-inline.form-col-12
                      .form-control.form-control-fixed-5
                        input.input(placeholder='Placeholder')
                      .form-control.form-control-fixed-2
                        input.input(placeholder='Placeholder')

          .row
            .col-12
              p.text-big: strong Form controls with fixed width
              - var i = 1
              while i < 13
                .form-row
                  .form-label.form-label-inline.form-label-stack-s.form-col-1.form-col-m-1.form-col-s-4.text-left
                    label Size #{i}:
                  .form-controls.form-col-10.form-col-m-5
                    .form-control(class='form-control-fixed-' + i)
                      input.input(type='text', placeholder='Placeholder')
                - i++

    //- style-guide-content

    section#sg-modals.style-guide-section

      header.style-guide-section_header
        .wrapper-main
            
          a.js-toggle(data-target='#sg-modals', data-toggle-icon=icons.arrowup)
            h2 Modals
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown

      .style-guide-section_content

        .grid-12col
          .row
            .col-6
              p.text-big: strong Popups

              .btnblock
                a.btn.btn-green(data-modal-target='sg-popup-01') Show Pop-up
                a.btn.btn-orange(data-modal-target='sg-popup-error') Show Error Pop-up
                a.btn(data-modal-target='sg-popup-warning') Show Warning Pop-up

              article.modal.modal-popup(data-modal-id='sg-popup-01')
                header.modal_header.modal-popup_header
                  h3.no-mrg 
                    i.icon= icons.info  
                    |  Sucess / notice / message
                  a.modal-close
                    i.icon= icons.closesmall
                .modal_content.modal-popup_content
                  p.no-mrg-top Lorem ipsum In Excepteur dolor et amet culpa veniam sint et voluptate reprehenderit enim exercitation ea incididunt.
                  .text-center
                    a.btn.btn-green.modal-confirm Áno

              article.modal.modal-popup.modal-popup-error(data-modal-id='sg-popup-error')
                header.modal_header.modal-popup_header
                  h3.no-mrg 
                    i.icon= icons.info  
                    |  Error popup
                  a.modal-close
                    i.icon= icons.closesmall
                .modal_content.modal-popup_content
                  p.no-mrg-top Lorem ipsum In Excepteur dolor et amet culpa veniam sint et voluptate reprehenderit enim exercitation ea incididunt.
                  .text-center
                    a.btn.btn.modal-confirm Zavrieť

              article.modal.modal-popup.modal-popup-warning(data-modal-id='sg-popup-warning')
                header.modal_header.modal-popup_header
                  h3.no-mrg 
                    i.icon= icons.info  
                    |  Warning popup
                  a.modal-close
                    i.icon= icons.closesmall
                .modal_content.modal-popup_content
                  p.no-mrg-top Lorem ipsum In Excepteur dolor et amet culpa veniam sint et voluptate reprehenderit enim exercitation ea incididunt.
                  .text-center
                    a.btn.btn.modal-confirm Zavrieť

            .col-6
              p.text-big: strong Modals

              a.btn.btn-green(data-modal-target='sg-modal-01') Show Modal

              article.modal(data-modal-id='sg-modal-01')
                header.modal_header
                  h3.no-mrg 
                    i.icon= icons.bellfill  
                    |  Modal box
                  a.modal-close
                    i.icon= icons.closesmall
                .modal_content
                  p.no-mrg-top Lorem ipsum In Excepteur dolor et amet culpa veniam sint et voluptate reprehenderit enim exercitation ea incididunt.
                footer.modal_footer
                  .btnline.text-right
                    button.btn.modal-cancel(type='button') Zrušiť
                    a.btn.btn-green.modal-confirm Uložiť

    //- style-guide-content

    section#sg-tooltips.style-guide-section

      header.style-guide-section_header
        .wrapper-main
            
          a.js-toggle(data-target='#sg-tooltips', data-toggle-icon=icons.arrowup)
            h2 Tooltips
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown

      .style-guide-section_content

        .grid-12col
          .row
            .col-3.col-s-2.col-xs-2

              p.text-big: strong On buttons

              .btnblock
                a.btn.js-tooltip-icon(title='Lorem ipsum Eiusmod et Ut enim amet ullamco id est reprehenderit amet aliqua.') Button 
                a.btn.btn-green.js-tooltip-icon(title='Lorem ipsum Eiusmod et Ut enim amet ullamco id est reprehenderit amet aliqua.') Button
                a.btn.btn-orange.js-tooltip-icon(title='Lorem ipsum Eiusmod et Ut enim amet ullamco id est reprehenderit amet aliqua.') Button
                a.btn.btn-white.js-tooltip-icon(title='Lorem ipsum Eiusmod et Ut enim amet ullamco id est reprehenderit amet aliqua.') Button
                a.btn.btn-white-2.js-tooltip-icon(title='Lorem ipsum Eiusmod et Ut enim amet ullamco id est reprehenderit amet aliqua.') Button

            .col-3.col-s-2.col-xs-2.col-space-xs

              p.text-big: strong On disabled buttons

              .btnblock
                a.disabled.btn.js-tooltip-icon(title='Lorem ipsum Eiusmod et Ut enim amet ullamco id est reprehenderit amet aliqua.') Button 
                a.disabled.btn.btn-green.js-tooltip-icon(title='Lorem ipsum Eiusmod et Ut enim amet ullamco id est reprehenderit amet aliqua.') Button
                a.disabled.btn.btn-orange.js-tooltip-icon(title='Lorem ipsum Eiusmod et Ut enim amet ullamco id est reprehenderit amet aliqua.') Button
                a.disabled.btn.btn-white.js-tooltip-icon(title='Lorem ipsum Eiusmod et Ut enim amet ullamco id est reprehenderit amet aliqua.') Button
                a.disabled.btn.btn-white-2.js-tooltip-icon(title='Lorem ipsum Eiusmod et Ut enim amet ullamco id est reprehenderit amet aliqua.') Button

            .col-3.col-s-2.col-xs-2.col-space-s

              p.text-big: strong On text

              p.no-mrg Lorem ipsum Culpa cillum elit commodo culpa ad ea dolor consequat dolor enim cupidatat <a class='js-tooltip' title='Lorem ipsum Velit aliquip minim ad proident.'>Excepteur</a> et anim.

              p
                span.tooltip-icon.js-tooltip(title='Lorem ipsum Commodo amet Duis fugiat.') ?
                | Lorem ipsum Ad sint exercitation sunt.

            .col-3.col-s-2.col-xs-2.col-space-s

              p.text-big: strong On inputs

              .form-row
                .form-controls.form-col-12
                  .form-control
                    input.input.js-tooltip(type='text', placeholder='Input', title='Lorem ipsum Eiusmod eu id nostrud exercitation amet.') 

              .form-row
                .form-controls.form-col-12
                  .form-control.form-control-tooltip
                    input.input(type='text', placeholder='Input') 
                    span.tooltip-icon.js-tooltip(title='Lorem ipsum Commodo amet Duis fugiat.') ?

            .col-12
              p.text-desc Buttons with tooltip icons work only with &lt;a&gt; tag (Firefox bug)

    //- style-guide-content

    section#sg-boxes.style-guide-section

      header.style-guide-section_header
        .wrapper-main
            
          a.js-toggle(data-target='#sg-boxes', data-toggle-icon=icons.arrowup)
            h2 Boxes
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown

      .style-guide-section_content
        .grid-12col
          .row

            .col-3.col-m-2.col-s-2.col-xs-2
              article.box-simple
                header.box-simple_header
                  h3.no-mrg Box simple
                .box-simple_content Lorem ipsum Ullamco non dolore nisi pariatur ut sunt do dolor Duis proident proident.
            .col-4.col-m-2.col-s-2.col-xs-2
              article.box-simple
                header.box-simple_header
                  h3.no-mrg Box simple with footer
                .box-simple_content 
                  p.no-mrg Lorem ipsum Ullamco non dolore nisi pariatur ut sunt do dolor Duis proident proident.
                footer.box-simple_footer.text-center
                  p.no-mrg.text-color-lightgrey.text-big Lorem Ipsum
            .col-5.col-m-2.col-s-4.col-xs-2
              article.box-simple
                header.box-simple_header
                  h3.no-mrg Box simple
                .box-simple_content

                  .form-row
                    .form-label.form-label-inline.text-left.form-label-stack-xs.form-col-6
                      label Spoločnosť:
                    .form-controls.form-col-6
                      label.input-static Lighting Beetle

                  .form-row
                    .form-label.form-label-inline.text-left.form-label-stack-xs.form-col-6
                      label.text-left Meno:
                    .form-controls.form-col-6
                      label.input-static Michaela

                  .form-row
                    .form-label.form-label-inline.text-left.form-label-stack-xs.form-col-6
                      label.text-left Priezvisko:
                    .form-controls.form-col-6
                      label.input-static Kočiová

                  .form-row
                    .form-label.form-label-inline.text-left.form-label-stack-xs.form-col-6
                      label.text-left Ulica a číslo domu:
                    .form-controls.form-col-6
                      label.input-static SNP 73/6

                  .form-row
                    .form-label.form-label-inline.text-left.form-label-stack-xs.form-col-6
                      label.text-left Mesto:
                    .form-controls.form-col-6
                      label.input-static Nová Dubnica

                  .form-row
                    .form-label.form-label-inline.text-left.form-label-stack-xs.form-col-6
                      label.text-left PSČ:
                    .form-controls.form-col-6
                      label.input-static 018 51

                  .form-row
                    .form-label.form-label-inline.text-left.form-label-stack-xs.form-col-6
                      label.text-left Štát: 
                    .form-controls.form-col-6
                      label.input-static Slovenský republika
                 
          .row
            .col-3.col-m-2.col-s-2.col-xs-2 
              article.box-simple.box-headerless
                .box-simple_content
                  h3 Box headerless
                  p Lorem ipsum Esse anim magna in mollit ut ullamco adipisicing laborum consequat qui ex pariatur cupidatat do.                     
    
            .col-4.col-m-2.col-s-2.col-xs-2 
              article.box-simple
                header.box-simple_header
                  h3.no-mrg Box with pagination
                .box-simple_content
                  p Lorem ipsum Pariatur incididunt in incididunt minim ea Ut id aliquip esse nisi aliquip veniam culpa laboris eu esse proident dolore.
                footer.box-simple_footer.box-simple_pagination
                  ul.pagination
                    li.pagination_item
                      a.btn.btn-white
                        i.icon= icons.doubleleft
                    li.pagination_item
                      span.pagination_link &hellip;
                    each key in [1,2,3,4,5,6,7]
                      li.pagination_item
                        - var active = ''
                        - if(key==1) active = 'active';
                        a.pagination_link(class=active)= key
                    li.pagination_item
                      span.pagination_link &hellip;
                    li.pagination_item
                      a.btn.btn-white
                        i.icon= icons.doubleright

    //- style-guide-content

    section#sg-preloaders.style-guide-section

      header.style-guide-section_header
        .wrapper-main
            
          a.js-toggle(data-target='#sg-preloaders', data-toggle-icon=icons.arrowup)
            h2 Preloaders
              span.style-guide-section_toggle
                i.icon.icon-semiwhite.icon-h-white= icons.arrowdown

      .style-guide-section_content
        .grid-12col
          .row

            .col-3.col-m-2.col-s-2.col-xs-2
              p.text-big: strong In box
              article.box-simple
                header.box-simple_header
                  h3.no-mrg Box simple
                .box-simple_content
                  .preloader.preloader-center.preloader-small 

            .col-3.col-m-2.col-s-2.col-xs-2
              p.text-big: strong In button
              .btnblock
                a.btn
                  .preloader.preloader-left.preloader-xsmall
                  | Pridať nový dokument
                a.btn.btn-green
                  | Pridať nový dokument
                  .preloader.preloader-right.preloader-xsmall

    //- style-guide-content


append pageScripts
  script(type='text/javascript', src='static/plugins/dropzone/dropzone.js')
  script(type='text/javascript', src='static/plugins/fileupload/fileupload.js')

