// ---------------------------------------------
// TRANSFORM 2D
// ---------------------------------------------

@mixin transform-2d(
  $arguments...){
    -webkit-transform: $arguments;
        -ms-transform: $arguments;
            transform: $arguments;
}

@mixin transform-origin(
  $origin) {
    -webkit-transform-origin: $origin;
            transform-origin: $origin;
}

@mixin transform-translate(
  $x,
  $y){
    -webkit-transform: translate($x,$y);
        -ms-transform: translate($x,$y);
            transform: translate($x,$y);
}

@mixin transform-translateX(
  $x){
    -webkit-transform: translateX($x);
        -ms-transform: translateX($x);
            transform: translateX($x);
}

@mixin transform-translateY(
  $y){
    -webkit-transform: translateY($y);
        -ms-transform: translateY($y);
            transform: translateY($y);
}

@mixin transform-scale(
  $x,
  $y){
    -webkit-transform: scale($x,$y);
        -ms-transform: scale($x,$y);
            transform: scale($x,$y);
}

@mixin transform-rotate(
  $deg){
    -webkit-transform: rotate($deg);
        -ms-transform: rotate($deg);
            transform: rotate($deg);
}

@mixin transform-skew(
  $deg){
    -webkit-transform: skew($deg);
        -ms-transform: skew($deg);
            transform: skew($deg);
}