// ---------------------------------------------
// TRANSFORM 3D
// ---------------------------------------------

@mixin transform-3d(
  $arguments...) {
    -webkit-transform: $arguments;
            transform: $arguments;
}

@mixin transform-3d-translate(
  $x, 
  $y, 
  $z) {
    -webkit-transform: translate3d($x,$y,$z);
            transform: translate3d($x,$y,$z);
}

@mixin transform-3d-rotateX(
  $x) {
    -webkit-transform: rotateX($x);
            transform: rotateX($x);
}

@mixin transform-3d-style(
  $style) {
    -webkit-transform-style: $style;
            transform-style: $style;
}

@mixin perspective(
  $perspective) {
    -webkit-perspective: $perspective;
            perspective: $perspective;
}

@mixin perspective-origin(
  $origin) {
    -webkit-perspective-origin: $origin;
            perspective-origin: $origin;
}

@mixin backface-visibility(
  $visibility) {
    -webkit-backface-visibility: $visibility;
            backface-visibility: $visibility;
}