// ---------------------------------------------
// BORDERS
// ---------------------------------------------

@mixin border-radius(
  $radius,
  $border: '',
  $clipped: false ){

    $moz-border: '';
    
    @if $border == 'top left' {
      $border: '-top-left';
    }
    @else if $border == 'top right' {
      $border: '-top-right';
    }
    @else if $border == 'bottom left' {
      $border: '-bottom-left';
    }
    @else if $border == 'bottom right' {
      $border: '-bottom-right';
    }


    border#{unquote($border)}-radius: $radius;

    @if $clipped == false {
      //fix bg leaking outside the border
      @include background-clip(padding-box);
    }
}

@mixin border-top-radius(
  $radius,
  $clipped: false ){
    @include border-radius($radius, 'top left', true);
    @include border-radius($radius, 'top right', $clipped);
}

@mixin border-right-radius(
  $radius,
  $clipped: false ){
    @include border-radius($radius, 'top right', true);
    @include border-radius($radius, 'bottom right', $clipped);
}

@mixin border-bottom-radius(
  $radius,
  $clipped: false ){
    @include border-radius($radius, 'bottom left', true);
    @include border-radius($radius, 'bottom right', $clipped);
}

@mixin border-left-radius(
  $radius,
  $clipped: false ){
    @include border-radius($radius, 'top left', true);
    @include border-radius($radius, 'bottom left', $clipped);
}

@mixin box-shadow(
  $arguments...){
    @if nth($arguments,1) == none {
      -webkit-box-shadow: 0 0 0 0 transparent;
              box-shadow: 0 0 0 0 transparent;
    }
    @if nth($arguments,1) != none {
      -webkit-box-shadow: $arguments;
              box-shadow: $arguments;
    }
}