// ---------------------------------------------
// BROWSER TARGETING
// ---------------------------------------------

// Internet Explorer 7 - <html class="ie7">
@mixin apply-to-ie7 {
    .ie7 { @content; }
}

// Internet Explorer 8 - <html class="ie8">
@mixin apply-to-ie8 {
    .ie8 { @content; }
}

// Internet Explorer 9 - <html class="ie9">
@mixin apply-to-ie9 {
    .ie9 { @content; }
}

// Internet Explorer 9+ - <html class="gt-ie9">
@mixin apply-to-gt-ie9 {
    .gt-ie9 { @content; }
}

// Internet Explorer lt8 - <html class="lt-ie8">
@mixin apply-to-lt-ie8 {
    .lt-ie8 { @content; }
}

// Internet Explorer lt8 - <html class="lt-ie9">
@mixin apply-to-lt-ie9 {
    .lt-ie9 { @content; }
}

// Internet Explorer 7,8,9
@mixin apply-to-lt-ie10 {
    .ie7, .ie8, .lt-ie9, .ie9 { @content; }
}

// Everything EXCEPT Internet Explorer - <html class="noie">
@mixin apply-to-not-ie {
    .noie { @content; }
}

// Mozilla Firefox
@mixin apply-to-moz {
    @-moz-document url-prefix() {
        html { @content }
    }
}

// Opera 9.5+
@mixin apply-to-opera {
    x:-o-prefocus, html.noie { @content }
}

// Chrome & Safari
@mixin apply-to-webkit {
    @media screen and (-webkit-min-device-pixel-ratio:0) { @content }
}
