// ---------------------------------------------
// HELPERS
// ---------------------------------------------

@mixin color(
	$color, 
	$color-rgba){
    color: $color;
    color: $color-rgba;    
}

@mixin user-select(
  $select) {
  -webkit-user-select: $select;
          user-select: $select;
}

@mixin font-size(
  $fontSize) {
    font-size: $fontSize;
    font-size: ($fontSize / $font-size-root) * 1rem;
}

@mixin text-ellipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin visually-hidden {
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

// -------------------------------
// FUNCTIONS

@function _get-em(
  $fontSize,
  $defFontSize ){
    
  @return $fontSize / $defFontSize * 1em;  
}

// -------------------------------
// MEDIA QUERIES

@mixin media($feature, $value) {
  @media screen and ($feature: $value) { @content }
}