// ---------------------------------------------
// LAYOUTS
// ---------------------------------------------

// -- Nicolas Gallagher's micro clearfix
@mixin clearfix {
  *zoom: 1;           // For IE 6/7 (trigger hasLayout)
  &:before, &:after { // For modern browsers
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin clearfix-old {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  html[xmlns] & { display: block; }
  * html & { height: 1% }
}

@mixin box-sizing(
  $sizing){
    -webkit-box-sizing: $sizing;
       -moz-box-sizing: $sizing;
            box-sizing: $sizing;
}

@mixin calc(
  $property, $calc, $fallback: auto ) {
    #{$property} : -webkit-calc(#{unquote($calc)})px;
    #{$property} : calc(#{unquote($calc)})px;
}

@mixin center-unknown {
  text-align: center;
  &:before {
    content: '';
    height: 100%;
    margin-right: -0.5em;
    display: inline-block;
    vertical-align: middle;
  }
}

// -------------------------------
// FLEXBOX

@mixin display-box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
}

@mixin box-orient(
  $args){
    -webkit-box-orient: $args;
            box-orient: $args;
}

@mixin box-align(
  $args){
    -webkit-box-align: $args;
            box-align: $args;
}

@mixin box-direction(
  $args){
    -webkit-box-direction: $args;
            box-direction: $args;
}

@mixin box-pack(
  $args){
    -webkit-box-pack: $args;
            box-pack: $args;
}

@mixin box-flex(
  $args){
    -webkit-box-flex: $args;
            box-flex: $args;
}

@mixin box-ordinal-group(
  $args){
    -webkit-box-ordinal-group: $args;
            box-ordinal-group: $args;
}
