- var documents = [ 
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Faktúra',
-     'date': '31. okt. 2014',
-     'time': '09:00',
-     'payed': true,
-     'from': {
-       'name': 'Orange Slovensko a.s.',  
-       'logo': 'static/imgs/content/logos/orange.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-lightgreen'
-     },
-     'type': 'Faktúra',
-     'date': '03. nov. 2014',
-     'time': '14:32',
-     'payed': '',
-     'from': {
-       'name': 'Slovak Telekom',  
-       'logo': 'static/imgs/content/logos/telekom.png'
-     }, 
-     'note': 'Telefón služobka',
-     'reminder': true
-   },
-   {
-     'state': 'failed',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-black'
-     },
-     'type': 'Zásielka',
-     'date': '02. nov. 2014',
-     'time': '09:11',
-     'payed': '',
-     'from': {
-       'name': 'Zelená pošta s.r.o.',  
-       'logo': 'static/imgs/content/logos/zep.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-red'
-     },
-     'type': 'Upomienka',
-     'date': '03. nov. 2014',
-     'time': '15:11',
-     'payed': '',
-     'from': {
-       'name': 'Západoslovenská energetika a.s.',  
-       'logo': 'static/imgs/content/logos/zse.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': 'processing',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Faktúra',
-     'date': '04. nov. 2014',
-     'time': '11:45',
-     'payed': false,
-     'from': {
-       'name': 'Aegon',  
-       'logo': 'static/imgs/content/logos/aegon.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Upomienka',
-     'date': '04. nov. 2014',
-     'time': '18:24',
-     'payed': false,
-     'from': {
-       'name': 'BVS Slovakia',  
-       'logo': 'static/imgs/content/logos/bvs.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-yellow'
-     },
-     'type': 'Faktúra',
-     'date': '05. nov. 2014',
-     'time': '17:19',
-     'payed': true,
-     'from': {
-       'name': 'Slovak Telekom',  
-       'logo': 'static/imgs/content/logos/telekom.png'
-     }, 
-     'note': 'Telefón Marek',
-     'reminder': true
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Zásielka',
-     'date': '05. nov. 2014',
-     'time': '22:22',
-     'payed': true,
-     'from': {
-       'name': 'Zelená pošta s.r.o.',  
-       'logo': 'static/imgs/content/logos/zep.png'
-     }, 
-     'note': 'Asa Akira',
-     'reminder': true
-   },
-   {
-     'state': 'failed',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Faktúra',
-     'date': '06. nov. 2014',
-     'time': '12:39',
-     'payed': true,
-     'from': {
-       'name': 'Orange Slovensko a.s.',  
-       'logo': 'static/imgs/content/logos/orange.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-blue'
-     },
-     'type': 'Zásielka',
-     'date': '06. nov. 2014',
-     'time': '19:28',
-     'payed': true,
-     'from': {
-       'name': 'Zelená pošta s.r.o.',  
-       'logo': 'static/imgs/content/logos/zep.png'
-     }, 
-     'note': '',
-     'reminder': true
-   }
- ];

- var bills = [
-   {
-     'state': '',
-     'category': 'Jedlo',
-     'date': '18. nov. 2014',
-     'time': '12:18',
-     'shop': 'Divný Janko',
-     'price': '3,70',
-     'warranty': '12 mesiacov',
-     'note': '',
-   },
-   {
-     'state': '',
-     'category': 'Domácnosť',
-     'date': '18. nov. 2014',
-     'time': '18:58',
-     'shop': 'Tesco',
-     'price': '31,00',
-     'warranty': '24 mesiacov',
-     'note': '',
-   },
-   {
-     'state': 'failed',
-     'category': 'Zábava',
-     'date': '18. nov. 2014',
-     'time': '22:58',
-     'shop': 'La Putika',
-     'price': '15,20',
-     'warranty': '48 mesiacov',
-     'note': '',
-   },
-   {
-     'state': '',
-     'category': 'Jedlo',
-     'date': '19. nov. 2014',
-     'time': '12:42',
-     'shop': 'Chilli Pub Restaurant',
-     'price': '7,60',
-     'warranty': 'Bez záruky',
-     'note': 'Martin pivo',
-   },
-   {
-     'state': '',
-     'category': 'Kancelrácia',
-     'date': '19. nov. 2014',
-     'time': '16:03',
-     'shop': 'Ševt',
-     'price': '22,15',
-     'warranty': '60 mesiacov',
-     'note': '',
-   },
-   {
-     'state': 'processing',
-     'category': 'Benzín',
-     'date': '20. nov. 2014',
-     'time': '11:06',
-     'shop': 'Slovnaft',
-     'price': '48,19',
-     'warranty': '12 mesiacov',
-     'note': '',
-   },
-   {
-     'state': '',
-     'category': 'Jedlo',
-     'date': '20. nov. 2014',
-     'time': '12:12',
-     'shop': 'The Point',
-     'price': '4,40',
-     'warranty': '12 mesiacov',
-     'note': '',
-   },
- ]