- var icons = {
-   'edit': 'edit',
-   'calendar': 'calendar',
-   'download': 'download',
-   'close': 'close',
-   'check': 'check',
-   'arrowup': 'arrowup',
-   'arrowright': 'arrowright',
-   'arrowdown': 'arrowdown',
-   'arrowleft': 'arrowleft',
-   'chevronleft': 'chevronleft',
-   'chevronright': 'chevronright',
-   'chevronup': 'chevronup',
-   'chevrondown': 'chevrondown',
-   'search': 'search',
-   'message': 'message',
-   'bell': 'bell',
-   'bellfill': 'bellfill',
-   'caretdown': 'caretdown',
-   'caretup': 'caretup',
-   'caretleft': 'caretleft',
-   'caretright': 'caretright',
-   'doubleleft': 'doubleleft',
-   'doubleright': 'doubleright',
-   'doubleup': 'doubleup',
-   'doubledown': 'doubledown',
-   'settings': 'settings',
-   'navicon': 'navicon',
-   'user': 'user',
-   'flag': 'flag',
-   'flagfill': 'flagfill',
-   'euro': 'euro',
-   'note': 'note',
-   'notefill': 'notefill',
-   'internalfile': 'internalfile',
-   'externalfile': 'externalfile',
-   'lightbulb': 'lightbulb',
-   'info': 'info',
-   'clock': 'clock',
-   'closesmall': 'closesmall',
-   'trash': 'trash',
-   'link': 'link',
-   'spinner': 'spinner',
-   'print': 'print',
-   'upload': 'upload',
-   'eye': 'eye',
-   'lasso': 'lasso',
-   'tipos': 'tipos',
-   'facebook': 'facebook',
-   'google': 'google',
-   'twitter': 'twitter',
-   'linkedin': 'linkedin',
-   'youtube': 'youtube',
-   'laptop': 'laptop',
-   'phone': 'phone',
-   'city': 'city',
-   'copy': 'copy',
-   'android': 'android',
-   'apple': 'apple',
-   'barchart': 'barchart',
-   'piechart': 'piechart',
- }