- var invoices = [ 
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Faktúra',
-     'date': '31. okt. 2014',
-     'time': '09:00',
-     'payed': true,
-     'price': '90,00', 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-lightgreen'
-     },
-     'type': 'Faktúra',
-     'date': '03. nov. 2014',
-     'time': '14:32',
-     'payed': '',
-     'price': '90,00', 
-     'note': 'Telefón služobka',
-     'reminder': true
-   },
-   {
-     'state': 'failed',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-black'
-     },
-     'type': 'Faktúra',
-     'date': '02. nov. 2014',
-     'time': '09:11',
-     'payed': '',
-     'price': '90,00',
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-red'
-     },
-     'type': 'Upomienka',
-     'date': '03. nov. 2014',
-     'time': '15:11',
-     'payed': '',
-     'price': '90,00',
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': 'processing',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Faktúra',
-     'date': '04. nov. 2014',
-     'time': '11:45',
-     'payed': false,
-     'price': '90,00',
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Upomienka',
-     'date': '04. nov. 2014',
-     'time': '18:24',
-     'payed': false,
-     'price': '90,00', 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-yellow'
-     },
-     'type': 'Faktúra',
-     'date': '05. nov. 2014',
-     'time': '17:19',
-     'payed': true,
-     'price': '90,00',
-     'note': 'Telefón Marek',
-     'reminder': true
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Upomienka',
-     'date': '05. nov. 2014',
-     'time': '22:22',
-     'payed': true,
-     'price': '90,00',
-     'note': 'Asa Akira',
-     'reminder': true
-   },
-   {
-     'state': 'failed',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Faktúra',
-     'date': '06. nov. 2014',
-     'time': '12:39',
-     'payed': true,
-     'price': '90,00', 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-blue'
-     },
-     'type': 'Upomienka',
-     'date': '06. nov. 2014',
-     'time': '19:28',
-     'payed': true,
-     'price': '90,00',
-     'note': '',
-     'reminder': true
-   }
- ];