- var payments = [ 
-   {
-     'read': 'unread',
-     'state': '',
-     'icon': icons.internalfile,
-     'type': 'Faktúra',
-     'date': '14. okt. 2014',
-     'tminus': {
-       'period': '+ 14 dní',
-       'color': 'text-color-red'
-     },
-     'from': {
-       'name': 'Orange Slovensko a.s.',  
-       'logo': 'static/imgs/content/logos/orange.png'
-     }, 
-     'price': '16,90',
-   },
-   {
-     'read': 'unread',
-     'state': '',
-     'icon': icons.externalfile,
-     'type': 'Upomienka',
-     'date': '24. okt. 2014',
-     'tminus': {
-       'period': '+ 7 dní',
-       'color': 'text-color-red'
-     },
-     'from': {
-       'name': 'Západoslovenská energetika a.s.',  
-       'logo': 'static/imgs/content/logos/zse.png'
-     }, 
-     'price': '9,90',
-   },
-   {
-     'read': 'unread',
-     'state': '',
-     'icon': icons.externalfile,
-     'type': 'Faktúra',
-     'date': '31. okt. 2014',
-     'tminus': {
-       'period': 'Dnes',
-       'color': 'text-color-orange'
-     },
-     'from': {
-       'name': 'Slovak Telekom',  
-       'logo': 'static/imgs/content/logos/telekom.png'
-     }, 
-     'price': '39,90',
-   },
-   {
-     'read': 'unread',
-     'state': '',
-     'icon': icons.externalfile,
-     'type': 'Faktúra',
-     'date': '31. okt. 2014',
-     'tminus': {
-       'period': 'Dnes',
-       'color': 'text-color-orange'
-     },
-     'from': {
-       'name': 'Zelená pošta s.r.o.',  
-       'logo': 'static/imgs/content/logos/zep.png'
-     }, 
-     'price': '19,50',
-   },
-   {
-     'read': '',
-     'state': '',
-     'icon': icons.internalfile,
-     'type': 'Faktúra',
-     'date': '01. nov. 2014',
-     'tminus': {
-       'period': 'Zajtra',
-       'color': 'text-color-lightgreen'
-     },
-     'from': {
-       'name': 'O2 Slovakia, s.r.o.',  
-       'logo': 'static/imgs/content/logos/o2.png'
-     }, 
-     'price': '32,90',
-   },
-   {
-     'read': '',
-     'state': '',
-     'icon': icons.internalfile,
-     'type': 'Faktúra',
-     'date': '14. nov. 2014',
-     'tminus': {
-       'period': '- 14 dní',
-       'color': 'text-color-lightgreen'
-     },
-     'from': {
-       'name': 'Orange Slovensko a.s.',  
-       'logo': 'static/imgs/content/logos/orange.png'
-     }, 
-     'price': '16,90',
-   },
- ]