- var services = [
-   {
-     'name': 'Orange Slovensko a.s.',
-     'logo': 'static/imgs/content/logos/orange.png',
-     'signature': '',
-     'accnumber': '0123549879878/0900',
-     'usersince': '18. nov. 2014',
-     'infocall': '0124546787',
-     'email': 'orange@orange.sk',
-     'paytoday': '16,90',
-     'overdue': '',
-   },
-   {
-     'name': 'Orange Slovensko a.s.',
-     'logo': 'static/imgs/content/logos/orange.png',
-     'signature': 'Eva',
-     'accnumber': '0123549879878/0900',
-     'usersince': '18. nov. 2014',
-     'infocall': '0124546787',
-     'email': 'orange@orange.sk',
-     'paytoday': '29,90',
-     'overdue': '',
-   },
-   {
-     'name': 'Západoslovenská energetika a.s.',
-     'logo': 'static/imgs/content/logos/zse.png',
-     'signature': '',
-     'accnumber': '0123549879878/0900',
-     'usersince': '18. nov. 2014',
-     'infocall': '0124546787',
-     'email': 'zse@zse.sk',
-     'paytoday': '6,90',
-     'overdue': '6,90',
-   },
-   {
-     'name': 'Slovak Telekom',
-     'logo': 'static/imgs/content/logos/telekom.png',
-     'signature': 'internet',
-     'accnumber': '0123549876868/0100',
-     'usersince': '19. nov. 2014',
-     'infocall': '0124546790',
-     'email': 'telekom@telekom.sk',
-     'paytoday': '',
-     'overdue': '',
-   },
-   {
-     'name': 'Zelená pošta s.r.o.',
-     'logo': 'static/imgs/content/logos/zep.png',
-     'signature': '',
-     'accnumber': '0123549874444/0230',
-     'usersince': '19. nov. 2014',
-     'infocall': '0124546666',
-     'email': 'zep@zep.sk',
-     'paytoday': '',
-     'overdue': '',
-   },
-   {
-     'name': 'O2 Slovakia, s.r.o.',
-     'logo': 'static/imgs/content/logos/o2.png',
-     'signature': '',
-     'accnumber': '0123549872222/0230',
-     'usersince': '19. nov. 2014',
-     'infocall': '0124542222',
-     'email': 'o2@o2.sk',
-     'paytoday': '',
-     'overdue': '',
-   },
- ]