- var shipmentsIn = [ 
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Faktúra',
-     'date': '31. okt. 2014',
-     'time': '09:00',
-     'payed': true,
-     'from': {
-       'name': 'Orange Slovensko a.s.',  
-       'logo': 'static/imgs/content/logos/orange.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-lightgreen'
-     },
-     'type': 'Faktúra',
-     'date': '03. nov. 2014',
-     'time': '14:32',
-     'payed': false,
-     'from': {
-       'name': 'Slovak Telekom',  
-       'logo': 'static/imgs/content/logos/telekom.png'
-     }, 
-     'note': 'Telefón služobka',
-     'reminder': true
-   },
-   {
-     'state': 'failed',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-black'
-     },
-     'type': 'Zásielka',
-     'date': '02. nov. 2014',
-     'time': '09:11',
-     'payed': false,
-     'from': {
-       'name': 'Zelená pošta s.r.o.',  
-       'logo': 'static/imgs/content/logos/zep.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': 'unread',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-red'
-     },
-     'type': 'Upomienka',
-     'date': '03. nov. 2014',
-     'time': '15:11',
-     'payed': false,
-     'from': {
-       'name': 'Západoslovenská energetika a.s.',  
-       'logo': 'static/imgs/content/logos/zse.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': 'unread',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Faktúra',
-     'date': '04. nov. 2014',
-     'time': '11:45',
-     'payed': false,
-     'from': {
-       'name': 'Aegon',  
-       'logo': 'static/imgs/content/logos/aegon.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': 'unread',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Upomienka',
-     'date': '04. nov. 2014',
-     'time': '18:24',
-     'payed': false,
-     'from': {
-       'name': 'BVS Slovakia',  
-       'logo': 'static/imgs/content/logos/bvs.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-yellow'
-     },
-     'type': 'Faktúra',
-     'date': '05. nov. 2014',
-     'time': '17:19',
-     'payed': true,
-     'from': {
-       'name': 'Slovak Telekom',  
-       'logo': 'static/imgs/content/logos/telekom.png'
-     }, 
-     'note': 'Telefón Marek',
-     'reminder': true
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Zásielka',
-     'date': '05. nov. 2014',
-     'time': '22:22',
-     'payed': true,
-     'from': {
-       'name': 'Zelená pošta s.r.o.',  
-       'logo': 'static/imgs/content/logos/zep.png'
-     }, 
-     'note': 'Asa Akira',
-     'reminder': true
-   },
-   {
-     'state': 'failed',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Faktúra',
-     'date': '06. nov. 2014',
-     'time': '12:39',
-     'payed': true,
-     'from': {
-       'name': 'Orange Slovensko a.s.',  
-       'logo': 'static/imgs/content/logos/orange.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-blue'
-     },
-     'type': 'Zásielka',
-     'date': '06. nov. 2014',
-     'time': '19:28',
-     'payed': true,
-     'from': {
-       'name': 'Zelená pošta s.r.o.',  
-       'logo': 'static/imgs/content/logos/zep.png'
-     }, 
-     'note': '',
-     'reminder': true
-   },
- ];

- var shipmentsOut = [ 
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-orange'
-     },
-     'date': '01. nov. 2014',
-     'time': '23:59',
-     'payed': true,
-     'name': 'Internet',
-     'price': '19,00',
-     'unprocessed': 0,
-     'processed': 14,
-     'canceled': 1,
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-blue'
-     },
-     'date': '02. nov. 2014',
-     'time': '13:46',
-     'payed': true,
-     'name': 'Mobil',
-     'price': '39,90',
-     'unprocessed': 0,
-     'processed': 5,
-     'canceled': 0,
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-lightgreen'
-     },
-     'date': '03. nov. 2014',
-     'time': '15:01',
-     'payed': false,
-     'name': 'Elektrina',
-     'price': '9,90',
-     'unprocessed': 2,
-     'processed': 0,
-     'canceled': 0,
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-yellow'
-     },
-     'date': '04. nov. 2014',
-     'time': '10:11',
-     'payed': false,
-     'name': 'Balík pre Martina',
-     'price': '4,50',
-     'unprocessed': 1,
-     'processed': 1,
-     'canceled': 0,
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'date': '11. nov. 2014',
-     'time': '09:44',
-     'payed': true,
-     'name': 'Toner',
-     'price': '26,70',
-     'unprocessed': 0,
-     'processed': 3,
-     'canceled': 0,
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-orange'
-     },
-     'date': '11. nov. 2014',
-     'time': '12:04',
-     'payed': true,
-     'name': 'Kancelárie',
-     'price': '5850,00',
-     'unprocessed': 2,
-     'processed': 1,
-     'canceled': 0,
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'date': '12. nov. 2014',
-     'time': '12:04',
-     'payed': false,
-     'name': 'Faktúry',
-     'price': '10120,00',
-     'unprocessed': 8,
-     'processed': 0,
-     'canceled': 1,
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-red'
-     },
-     'date': '13. nov. 2014',
-     'time': '19:22',
-     'payed': true,
-     'name': 'Faktúry LB',
-     'price': '9560,00',
-     'unprocessed': 1,
-     'processed': 14,
-     'canceled': 0,
-   },
- ]

- var shipmentsBatch = [
-   {
-     'date': '13. nov. 2014',
-     'time': '19:22',
-     'to': {
-       'name': 'Daňový úrad',
-       'street': 'Nezábudkova 10',
-       'city': '851 01 Bratislava',
-       'country': 'Slovenská republika'
-     },
-     'price': '1800,00',
-     'id': 'RN071808555SK',
-     'payed': true,
-   },
-   {
-     'date': '13. nov. 2014',
-     'time': '19:23',
-     'to': {
-       'name': 'Daňový úrad',
-       'street': 'Nezábudkova 10',
-       'city': '851 01 Bratislava',
-       'country': 'Slovenská republika'
-     },
-     'price': '450,00',
-     'id': 'RN047818551SK',
-     'payed': true,
-   },
-   {
-     'date': '13. nov. 2014',
-     'time': '19:24',
-     'to': {
-       'name': 'Daňový úrad',
-       'street': 'Nezábudkova 10',
-       'city': '851 01 Bratislava',
-       'country': 'Slovenská republika'
-     },
-     'price': '630,00',
-     'id': 'RN047818552K',
-     'payed': false,
-   },
-   {
-     'date': '13. nov. 2014',
-     'time': '19:25',
-     'to': {
-       'name': 'Orange Slovensko, a.s.',
-       'street': 'Metodova 8',
-       'city': ' 821 08 Bratislava',
-       'country': 'Slovenská republika'
-     },
-     'price': '55,00',
-     'id': 'RN048818551A',
-     'payed': false,
-   },
-   {
-     'date': '13. nov. 2014',
-     'time': '19:26',
-     'to': {
-       'name': 'Orange Slovensko, a.s.',
-       'street': 'Metodova 8',
-       'city': ' 821 08 Bratislava',
-       'country': 'Slovenská republika'
-     },
-     'price': '55,00',
-     'id': 'RN048818551B',
-     'payed': false,
-   },
-   {
-     'date': '13. nov. 2014',
-     'time': '19:27',
-     'to': {
-       'name': 'Orange Slovensko, a.s.',
-       'street': 'Metodova 8',
-       'city': ' 821 08 Bratislava',
-       'country': 'Slovenská republika'
-     },
-     'price': '55,00',
-     'id': 'RN048818551C',
-     'payed': false,
-   },
-   {
-     'date': '13. nov. 2014',
-     'time': '19:28',
-     'to': {
-       'name': 'Orange Slovensko, a.s.',
-       'street': 'Metodova 8',
-       'city': ' 821 08 Bratislava',
-       'country': 'Slovenská republika'
-     },
-     'price': '55,00',
-     'id': 'RN048818551D',
-     'payed': false,
-   },
- ]