- var sitemap = [
-   {
-     'title': 'Prehľad',
-     'href': 'index.html',
-   },
-   {
-     'title': 'Schránka',
-     'href': 'schranka.html',
-     'subpages': [
-       {
-         'title': 'Prijaté zásielky',
-         'href': 'schranka.html'
-       },
-       {
-         'title': 'Odoslané zásielky',
-         'href': 'schranka-odoslane.html'
-       },
-     ]
-   },
-   {
-     'title': 'Dokumenty',
-     'href': 'dokumenty.html',
-     'subpages': [
-       {
-         'title': 'Nahraté dokumenty',
-         'href': 'dokumenty.html'
-       },
-       {
-         'title': 'Bločky',
-         'href': 'blocky.html'
-       },
-     ]
-   },
-   {
-     'title': 'Služby',
-     'href': 'sluzby.html',
-   },
-   {
-     'title': 'Kalendár',
-     'href': 'kalendar.html',
-   },
-   {
-     'title': 'Štatistiky',
-     'href': 'statistiky.html',
-   }
- ]

- var footer = [
-   {
-     'title': 'Zelená pošta',
-     'href': ''
-   },
-   {
-     'title': 'Posielať zásielky',
-     'href': ''
-   },
-   {
-     'title': 'Prijímať zásielky',
-     'href': ''
-   },
-   {
-     'title': 'Zelené tlačiareň',
-     'href': ''
-   },
-   {
-     'title': 'Bločky',
-     'href': ''
-   },
-   {
-     'title': 'Cenník',
-     'href': ''
-   },
-   {
-     'title': 'O nás',
-     'href': ''
-   },
-   {
-     'title': 'Novinky',
-     'href': ''
-   },
-   {
-     'title': 'FAQ',
-     'href': ''
-   },
-   {
-     'title': 'Kontakt',
-     'href': ''
-   },
-   {
-     'title': 'Všeobecné obchodné podmienky',
-     'href': ''
-   },
-   {
-     'title': 'API prepojenie',
-     'href': ''
-   },
- ]