- var serviceDetails = [
-   {
-     label: 'Číslo účtu:',
-     value: '123123123123123123'
-   },
-   {
-     label: 'IBAN:',
-     value: '12312312312313'
-   },
-   {
-     label: 'Swift kód / BIC:',
-     value: '123123'
-   },
-   {
-     label: 'Konštantný symbol:',
-     value: '12312312313123'
-   },
-   {
-     label: 'Variabilný symbol:',
-     value: '123123123123123123'
-   },
-   {
-     label: 'IČO:',
-     value: '1231231233123123'
-   },
-   {
-     label: 'DIČ:',
-     value: '123123123123123123'
-   },
-   {
-     label: 'Infolinka:',
-     value: '02 / 21 21 21 21'
-   },
-   {
-     label: 'E-mail:',
-     value: 'info@info.com'
-   }
- ]; 


- var Serdocuments = [ 
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Faktúra',
-     'date': '31. okt. 2014',
-     'time': '09:00',
-     'payed': true,
-     'from': {
-       'name': 'Orange Slovensko a.s.',  
-       'logo': 'static/imgs/content/logos/orange.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-lightgreen'
-     },
-     'type': 'Faktúra',
-     'date': '03. nov. 2014',
-     'time': '14:32',
-     'payed': '',
-     'from': {
-       'name': 'Slovak Telekom',  
-       'logo': 'static/imgs/content/logos/telekom.png'
-     }, 
-     'note': 'Telefón služobka',
-     'reminder': true
-   },
-   {
-     'state': 'failed',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-black'
-     },
-     'type': 'Zásielka',
-     'date': '02. nov. 2014',
-     'time': '09:11',
-     'payed': '',
-     'from': {
-       'name': 'Zelená pošta s.r.o.',  
-       'logo': 'static/imgs/content/logos/zep.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-red'
-     },
-     'type': 'Upomienka',
-     'date': '03. nov. 2014',
-     'time': '15:11',
-     'payed': '',
-     'from': {
-       'name': 'Západoslovenská energetika a.s.',  
-       'logo': 'static/imgs/content/logos/zse.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': 'processing',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Faktúra',
-     'date': '04. nov. 2014',
-     'time': '11:45',
-     'payed': false,
-     'from': {
-       'name': 'Aegon',  
-       'logo': 'static/imgs/content/logos/aegon.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Upomienka',
-     'date': '04. nov. 2014',
-     'time': '18:24',
-     'payed': false,
-     'from': {
-       'name': 'BVS Slovakia',  
-       'logo': 'static/imgs/content/logos/bvs.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-yellow'
-     },
-     'type': 'Faktúra',
-     'date': '05. nov. 2014',
-     'time': '17:19',
-     'payed': true,
-     'from': {
-       'name': 'Slovak Telekom',  
-       'logo': 'static/imgs/content/logos/telekom.png'
-     }, 
-     'note': 'Telefón Marek',
-     'reminder': true
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Zásielka',
-     'date': '05. nov. 2014',
-     'time': '22:22',
-     'payed': true,
-     'from': {
-       'name': 'Zelená pošta s.r.o.',  
-       'logo': 'static/imgs/content/logos/zep.png'
-     }, 
-     'note': 'Asa Akira',
-     'reminder': true
-   },
-   {
-     'state': 'failed',
-     'icon': {
-       'icon': icons.flag,
-       'color': 'text-color-lightgrey'
-     },
-     'type': 'Faktúra',
-     'date': '06. nov. 2014',
-     'time': '12:39',
-     'payed': true,
-     'from': {
-       'name': 'Orange Slovensko a.s.',  
-       'logo': 'static/imgs/content/logos/orange.png'
-     }, 
-     'note': '',
-     'reminder': false
-   },
-   {
-     'state': '',
-     'icon': {
-       'icon': icons.flagfill,
-       'color': 'text-color-blue'
-     },
-     'type': 'Zásielka',
-     'date': '06. nov. 2014',
-     'time': '19:28',
-     'payed': true,
-     'from': {
-       'name': 'Zelená pošta s.r.o.',  
-       'logo': 'static/imgs/content/logos/zep.png'
-     }, 
-     'note': '',
-     'reminder': true
-   }
- ];