-  var subnavigationObj = {
-   settings : [
-     {
-       'title': 'Osobné nastavenia',
-       'href': 'nastavenia.html',
-     }, 
-     {
-       'title': 'Nastavenia účtu',
-       'href': 'nastavenia-ucet.html',
-     },
-     {
-       'title': 'Pripojené zariadenia',
-       'href': 'nastavenia-zariadenia.html',
-     },
-     {
-       'title': 'Používatelia',
-       'href': 'nastavenia-pouzivatelia.html',
-     },
-     {
-       'title': 'Kredit',
-       'href': 'nastavenia-kredit.html',
-     }
-   ]
- };