.breadcrumbs
  a(onclick='history.back()') &lsaquo; Späť
  ul.breadcrumbs_list.hide-xs
    li.breadcrumbs_item
      a.breadcrumbs_link(href='index.html') Domov
    li.breadcrumbs_item &rsaquo;
    li.breadcrumbs_item
      a.breadcrumbs_link(href=sitemap[pageID].href)= sitemap[pageID].title
    if sitemap[pageID].subpages
      li.breadcrumbs_item &rsaquo;
      li.breadcrumbs_item
        a.breadcrumbs_link(href=sitemap[pageID].subpages[subpageID].href)= sitemap[pageID].subpages[subpageID].title
    if breadcrumbsMore
      each breadcrumb in breadcrumbsMore
        li.breadcrumbs_item &rsaquo;
        li.breadcrumbs_item
          a.breadcrumbs_link(href=breadcrumb.href)= breadcrumb.title