footer.footer-main.text-color-white
  .grid-12col
    .row

      .col-6.col-s-4.col-xs-2
        h3.footer-main_headline.text-color-white Zelená pošta

        .row
          ul.col-6.col-xs-2.nav-footer
            each site, key in footer 
              if key < 6
                li.nav-footer_item: a.nav-footer_link(href=site.href)= site.title

          ul.col-6.col-xs-2.nav-footer
            each site, key in footer 
              if key > 5
                li.nav-footer_item: a.nav-footer_link(href=site.href)= site.title
      .col-6.col-s-4.col-xs-2.col-space-s

        .row

          .col-6.col-xs-2.col-space-xs
            h3.footer-main_headline.text-color-white Mobilné aplikácie
            ul.nav-footer
              li.nav-footer_item
                a.nav-footer_link.nav-footer_app(href='https://itunes.apple.com/gb/app/zelena-posta/id687733400') 
                  i.icon.icon-xl apple
                a.nav-footer_link.nav-footer_app(href='https://play.google.com/store/apps/details?id=sk.zp.zelenapostaapp') 
                  i.icon.icon-xl android

          .col-6.col-xs-2
            h3.footer-main_headline.text-color-white Sociálne siete
            ul.nav-footer
              li.nav-footer_item
                a.nav-footer_link.nav-footer_social
                  i.icon.icon-m.nav-footer_icon facebook
                  span Facebook
              li.nav-footer_item
                a.nav-footer_link.nav-footer_social
                  i.icon.icon-m.nav-footer_icon youtube
                  span Youtube

          