head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")

  title Zelená Pošta
  meta(name='author', content='Lighting Beetle s.r.o.')
  meta(name='description', content='Zelená Pošta')
  meta(name='keywords', content='Zelená Pošta')
  link(rel="icon", type="image/png", href="static/imgs/zep-favicon.png")

  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
  link(rel="stylesheet", href="static/plugins/icomoon/style.css")
  link(rel="stylesheet", href="static/css/style.css")


