header.header-main
  .header-bar

    section.header-bar-right

      .header-control-bar
        a.btn.btn-white-2.pull-right Odhlásiť

        .header-control-tabs
          a.header-control-tab.show-s.show-xs.js-toggle(data-target='#main-nav', data-toggle='dropdown')
            span.header-notify.text-small 84
            i.icon.icon-s!= icons.navicon
          a.header-control-tab.show-s.show-xs.js-toggle(data-target='#user-bar', data-toggle='dropdown')
            i.icon.icon-s!= icons.user
          a(href='nastavenia.html').header-control-tab
            i.icon.icon-s!= icons.settings
      // end: header-control-bar
          
      #user-bar.header-user-bar
        table
          tr
            td.header-user-bar_info
              a.header-user-bar_info_name Michaela Kočiová
              br
              span.header-user-bar_info_email 100-122-893@zelenaposta.sk
            td.header-user-bar_credit
              a <b class='hide-xs'>Kredit:</b> 1984,00 &euro;
      // end: header-user-bar


    section.header-bar-left.hide-s
      a(href='index.html', title='Zelená pošta').header-logo
        img.img-fluid(src='static/imgs/zep-logo.svg', alt='Zelená pošta')
     
    section#main-nav.header-bar-mid
      nav.header-nav-bar
        ul.header-nav-bar_list
          each page, key in sitemap
            - var active = '';
            - var notify = '';
            - var subnav = '';
            - if(key == pageID) active = 'active';
            - if(key == 0) notify = '<span class="header-notify text-small hide-s">84</span>';
            - if(page.subpages) subnav = 'with-subnav';
            li.header-nav-bar_list_item
              a.header-nav-bar_list_link(href=page.href, class=active + ' ' + subnav) 
                | #{page.title}
                | !{notify}

  // end: header-bar   