doctype html
//if IE 7
  <html class='no-js lt-ie9 lt-ie8 ie7 lang='en'>
//if IE 8
  <html class='no-js lt-ie9 ie8' lang='en'>
//if IE 9
  <html class="no-js ie9">
//if gt IE 9
  <html class="no-js gt-ie9">
//if !IE
  <![IGNORE[--><!--[IGNORE[]]-->
  <html class="no-js noie">
  <!--
