script(type='text/javascript', src='static/js/jquery.min.js')
script(type='text/javascript', src='static/js/jquery-migrate.min.js')

script(type='text/javascript', src='static/js/modernizr.js')

script(type='text/javascript', src='static/plugins/icomoon/liga.js')
script(type='text/javascript', src='static/plugins/customselect/dist/js/bootstrap-select.js')
script(type='text/javascript', src='static/plugins/switch/js/bootstrap-switch.js')
script(type='text/javascript', src='static/plugins/datepicker2/js/bootstrap-datepicker.js')
script(type='text/javascript', src='static/plugins/autosize/jquery.autosize.js')
script(type='text/javascript', src='static/plugins/remodal/src/jquery.remodal.js')
script(type='text/javascript', src='static/plugins/clockpicker/dist/jquery-clockpicker.js')
script(type='text/javascript', src='static/plugins/tooltipster/js/jquery.tooltipster.js')

block pageScripts

script(type='text/javascript', src='static/js/main.js')
