.subheader-main
  .subheader-bar
    ul.subheader-nav-bar
      each subpage, key in sitemap[pageID].subpages
        - var active = '';
        - if(key == subpageID) active = 'active';
        li.subheader-nav-bar_item
          a.subheader-nav-bar_link(href=subpage.href, class=active)= subpage.title
  // end: subheader bar
// end: subheader-main