.subnavigation
  ul.subnavigation_list
    each subnavigationItem, key in subnavigationObj[subnavigationPage]
      - var active = '';
      - if(key == subnavigationID) active = 'active';
      li.subnavigation_item
        a.subnavigation_link(href=subnavigationItem.href, class=active)= subnavigationItem.title