article.modal(data-modal-id='modal-show-reminder-1')
  header.modal_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.info   
      |  Pripomienka
    a.modal-close
      i.icon= icons.closesmall
  .modal_content
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-3.form-col-s-3
        label Názov:
      .form-controls.form-col-7.form-col-s-4
        label.input-static Zaplatiť Orange
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-3.form-col-s-3
        label Služba:
      .form-controls.form-col-7.form-col-s-4
        label.input-static Orange Slovakia s.r.o.
    .form-row
      .form-label.form-label-inline.form-col-3.form-label-stack-xs
        label Pripomenúť:
      .form-controls.form-controls-inline.form-col-9
        label.input-static 12. dec. 2014 o 18:00

  footer.modal_footer
    .btnline.text-right
      button.btn.btn-clean(type='button', data-modal-target='modal-add-reminder')
        i.icon= icons.edit
      a.btn.btn-clean
        i.icon= icons.trash