article.modal(data-modal-id='modal-add-bill')
  header.modal_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.info   
      |  Pridať nový dokument
    a.modal-close
      i.icon= icons.closesmall
  .modal_content
    p.no-mrg-top Označte typ dokumentu a služby, vyberte si dokument z vášho počítača a nahrajte do Zelenej pošty.
    .form-row
      .form-controls.form-col-9.form-col-xs-12
        .form-control
          .fileinput.fileinput-new.js-fileinput
            a.btn.btn-green.btn-file
              span.fileinput-new Vyberte súbor
              span.fileinput-exists Zmeniť
              input(type='file', name='...')
            a.btn.fileinput-exists.close(data-dismiss='fileinput')
              i.icon= icons.close
            span.fileinput-filename

  footer.modal_footer
    .btnline.text-right
      button.btn.modal-cancel(type='button') Zrušiť
      button.btn.btn-green.modal-confirm(type='button') Nahrať