article.modal(data-modal-id='modal-change-password')
  header.modal_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.info   
      |  Zmena hesla
    a.modal-close
      i.icon= icons.closesmall
  .modal_content
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-s-5.form-col-xs-12
        label Pôvodné heslo:
      .form-controls.form-col-5.form-col-s-7
        .form-control
          input.input(type='password')   
          .form-help.form-helper 
            a(data-modal-target='modal-forgotten-password') Zabudli ste vaše heslo?
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-s-5.form-col-xs-12
        label Nové heslo:
      .form-controls.form-col-5.form-col-s-7
        .form-control
          input.input(type='password')
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-5.form-col-s-5.form-col-xs-12
        label Zopakovať nové heslo:
      .form-controls.form-col-5.form-col-s-7
        .form-control
          input.input
  footer.modal_footer
    .btnline.text-right
      button.btn.modal-cancel(type='button') Zrušiť
      button.btn.btn-green.modal-confirm(type='button', data-modal-target='popup-password-changed') Zmeniť heslo