article.modal(data-modal-id='modal-bill-lotery-new')
  header.modal_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.tipos   
      |  Národná bločková lotéria
    a.modal-close
      i.icon= icons.closesmall
  .modal_content
    p.no-mrg-top Pre zapojenie sa do Národnej bločkovej lotérie je potrebné vyplniť nasledovné údaje:
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-3.form-col-s-3
        label DKP:
      .form-controls.form-col-7
        .form-control
          input.input(type='text', placeholder='')
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-3.form-col-s-3
        label Čas kúpy::
      .form-controls.form-col-7
        .form-control
          input.input(type='text', placeholder='')


  footer.modal_footer
    .btnline.text-right
      button.btn.modal-cancel(type='button') Zrušiť
      button.btn.btn-green.modal-confirm(type='button') Nahrať