article.modal(data-modal-id='modal-forgotten-password')
  header.modal_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.info   
      |  Zmena hesla
    a.modal-close
      i.icon= icons.closesmall
  .modal_content
    p.no-mrg-top Zadajte svoju e-mailovú adresu, na ktorú vám pošleme inštrukcie pre obnovenie hesla.
    .form-row
      .form-controls.form-col-12
        .form-control
          input.input(type='email')   
  
  footer.modal_footer
    .btnline.text-right
      button.btn.modal-cancel(type='button') Zrušiť
      button.btn.btn-green.modal-confirm(type='button', data-modal-target='popup-email-sent') Odoslať