article.modal(data-modal-id='reminder-new')
  header.modal_header
    h3.no-mrg 
      i.icon.text-color-green= icons.bellfill   
      |  Pripomienka
    a.modal-close
      i.icon= icons.closesmall
  .modal_content.no-pad
    .reminder-inmodal
      .reminder-inmodal_header.text-small
        span Západoslovenská energetika a.s.
        span Faktúra z dňa 2.9.2014 o 15:55
      form.reminder-inmodal_content
        .form-row
          .form-label.form-label-inline.form-col-4.form-label-stack-xs.text-left
            label Pripomenúť
          .form-controls.form-controls-inline.form-col-push-right
            .form-control.form-control-postfixed.form-control-fixed-5.no-mrg
              input.input.js-datepicker(type='text', placeholder='dd.mm.yyyy', data-date-format='dd.mm.yyyy') 
              .form-control-addon
                a.btn.btn-green.js-datepicker-btn
                  i.icon!= icons.calendar
            .form-control.form-control-postfixed.form-control-fixed-3.no-mrg
              input.input.js-timepicker(type='text', placeholder='00:00') 
              .form-control-addon
                a.btn.btn-green
                  i.icon!= icons.clock

  footer.modal_footer
    .btnline.text-right
      button.btn.modal-cancel(type='button') Zrušiť
      a.btn.btn-green.modal-confirm Uložiť