article.modal(data-modal-id='reminder-edit')
  header.modal_header
    h3.no-mrg 
      i.icon.text-color-green= icons.bellfill   
      |  Pripomienka
    a.modal-close
      i.icon= icons.closesmall
  .modal_content.no-pad
    .reminder-inmodal
      .reminder-inmodal_header.text-small
        span Zelená pošta
        span Faktúra z dňa 02.09.2014 o 15:55
      .reminder-inmodal_content.more-space
        span Pripomenúť  
        time
          i.icon.text-color-lightgrey= icons.calendar  
          |   12.08.2014
          span o
          i.icon.text-color-lightgrey= icons.clock  
          |  15:55
  footer.modal_footer
    .btnline.text-right
      button.btn.btn-clean(type='button', data-modal-target='reminder-new')
        i.icon= icons.edit
      a.btn.btn-clean
        i.icon= icons.trash