article.modal(data-modal-id='modal-add-document')
  header.modal_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.info   
      |  Pridať nový dokument
    a.modal-close
      i.icon= icons.closesmall
  .modal_content
    p.no-mrg-top Označte typ dokumentu a služby, vyberte si dokument z vášho počítača a nahrajte do Zelenej pošty.
    .form-row
      .form-controls.form-ofst-3.form-col-9.form-ofst-xs-0.form-col-xs-12
        .form-control
          .fileinput.fileinput-new.js-fileinput
            a.btn.btn-green.btn-file
              span.fileinput-new Vyberte súbor
              span.fileinput-exists Zmeniť
              input(type='file', name='...')
            a.btn.fileinput-exists.close(data-dismiss='fileinput')
              i.icon= icons.close
            span.fileinput-filename
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-3.form-col-s-3
        label Služba:
      .form-controls.form-col-7.form-col-s-4
        .form-control.form-control-postfixed.js-input-select
          input.input(type='text', placeholder='Vložte službu')
          .form-control-addon
            select.js-select
              each option in [1,2,3,4,5]
                option Služba #{option}
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-3.form-col-s-3
        label Typ:
      .form-controls.form-col-7.form-col-s-4
        .form-control.form-control-postfixed.js-input-select
          input.input(type='text', placeholder='Vložte typ')
          .form-control-addon
            select.js-select
              each option in [1,2,3,4,5]
                option Typ #{option}

  footer.modal_footer
    .btnline.text-right
      button.btn.modal-cancel(type='button') Zrušiť
      button.btn.btn-green.modal-confirm(type='button') Nahrať