article.modal(data-modal-id='modal-add-reminder')
  header.modal_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.info   
      |  Nová pripomienka
    a.modal-close
      i.icon= icons.closesmall
  .modal_content
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-3.form-col-s-3
        label Názov:
      .form-controls.form-col-7.form-col-s-4
        .form-control
          input.input(type='text', placeholder='')
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-3.form-col-s-3
        label Služba:
      .form-controls.form-col-7.form-col-s-4
        .form-control
          select.js-select
            each option in [1,2,3,4,5]
              option Služba #{option}
    .form-row
      .form-label.form-label-inline.form-col-3.form-label-stack-xs
        label Pripomenúť:
      .form-controls.form-controls-inline.form-col-9
        .form-control.form-control-postfixed.form-control-fixed-5
          input.input.js-datepicker(type='text', placeholder='dd.mm.yyyy', data-date-format='dd.mm.yyyy') 
          .form-control-addon
            a.btn.btn-green.js-datepicker-btn
              i.icon!= icons.calendar
        .form-control.form-control-postfixed.form-control-fixed-3
          input.input.js-timepicker(type='text', placeholder='00:00') 
          .form-control-addon
            a.btn.btn-green
              i.icon!= icons.clock

  footer.modal_footer
    .btnline.text-right
      button.btn.modal-cancel(type='button') Zrušiť
      button.btn.btn-green.modal-confirm(type='button') Nahrať