article.modal(data-modal-id='modal-add-user')
  header.modal_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.info   
      |  Pridať použúvateľa
    a.modal-close
      i.icon= icons.closesmall
  .modal_content
    p.no-mrg-top Pridaním nového používateľa si vzájomne zozdieľate prijaté alebo odoslané zásielky.
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-3.form-col-s-3
        label E-mail:
      .form-controls.form-col-6.form-col-xs-12
        .form-control
          input.input(type='email')
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-3.form-col-s-3
        label Správa:
      .form-controls.form-col-9.form-col-xs-12
        .form-control
          textarea.input(rows='4')
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-3.form-col-s-3
      .form-controls.form-col-9.form-col-xs-12
        label.input-static S týmto používateľom chcem zdielať:
    .form-row
      .form-label.form-label-inline.form-col-3.form-col-s-3.hide-xs
      .form-controls.form-col-9
        .checkbox-group
          .checkbox
            input.checkbox-input(type='checkbox', id='checkbox-prijate', name='checkbox-prijate')
            label.checkbox-custom(for='checkbox-prijate')
            label.checkbox-label(for='checkbox-prijate') Prijaté zásielky
          .checkbox
            input.checkbox-input(type='checkbox', id='checkbox-odoslane', name='checkbox-odoslane')
            label.checkbox-custom(for='checkbox-odoslane')
            label.checkbox-label(for='checkbox-odoslane') Odoslané zásielky

  footer.modal_footer
    .btnline.text-right
      button.btn.modal-cancel(type='button') Zrušiť
      button.btn.btn-green.modal-confirm(type='button') Pridať používateľa