article.modal(data-modal-id='modal-bill-lotery')
  header.modal_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.tipos   
      |  Národná bločková lotéria
    a.modal-close
      i.icon= icons.closesmall
  .modal_content
    p.no-mrg-top Váš bloček bol zapojený do Národnej bločkovej lotérie s nasledovnými údajmi:
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-3.form-col-s-3
        label DKP:
      .form-controls.form-col-7
        .form-control
          label.input-static 124578168761541
    .form-row
      .form-label.form-label-inline.form-label-stack-xs.form-col-3.form-col-s-3
        label Čas kúpy::
      .form-controls.form-col-7
        .form-control
          label.input-static 21.12.2014


  footer.modal_footer
    .btnline.text-right
      button.btn.modal-cancel(type='button') Zrušiť
      button.btn.btn-green.modal-confirm(type='button') Nahrať