article.modal(data-modal-id='note-edit')
  header.modal_header
    h3.no-mrg 
      i.icon.text-color-green= icons.bellfill   
      |  Poznámka
    a.modal-close
      i.icon= icons.closesmall
  .modal_content.no-pad
    .note-inmodal
      .note-inmodal_header.text-small
        span Západoslovenská energetika a.s.
        span Faktúra z dňa 2.9.2014 o 15:55
      form.note-inmodal_content
        p.no-mrg Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio fuga, iusto obcaecati deserunt aspernatur consectetur praesentium distinctio veritatis, quos, aperiam saepe. Quae quos neque ipsum harum, pariatur laudantium voluptate eum.


  footer.modal_footer
    .btnline.text-right
      button.btn.btn-clean.modal-cancel(type='button', data-modal-target='note-new')
        i.icon= icons.edit
      .btn.btn-clean.btn-green.modal-confirm 
        i.icon= icons.trash