article.modal(data-modal-id='note-new')
  header.modal_header
    h3.no-mrg 
      i.icon.text-color-green= icons.bellfill   
      |  Poznámka
    a.modal-close
      i.icon= icons.closesmall
  .modal_content.no-pad
    .note-inmodal
      .note-inmodal_header.text-small
        span Západoslovenská energetika a.s.
        span Faktúra z dňa 2.9.2014 o 15:55
      form.note-inmodal_content
        textarea.input(rows="4" placeholder="Vložte vašu poznámku")


  footer.modal_footer
    .btnline.text-right
      button.btn.modal-cancel(type='button') Zrušiť
      .btn.btn-green.modal-confirm Uložiť