article.modal.modal-popup(data-modal-id='popup-cancel-batch')
  header.modal_header.modal-popup_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.info   
      |  Zrušenie dávky
    a.modal-close
      i.icon= icons.closesmall
  .modal_content.modal-popup_content
    p.no-mrg-top Zrušením dávky sa preruší odosielanie nových zásielok. <br/> Naozaj si prajete dávku zrušiť?
    a.btn.btn-green.modal-confirm Áno, potvrdiť zrušenie
