article.modal.modal-popup(data-modal-id='popup-cancel-shipment')
  header.modal_header.modal-popup_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.info   
      |  Zrušenie zásielky
    a.modal-close
      i.icon= icons.closesmall
  .modal_content.modal-popup_content
    p.no-mrg-top Zrušením sa preruší odosielanie danej zásielky. <br/> Naozaj si prajete zrušiť túto zásielku?
    a.btn.btn-green.modal-confirm Áno, potvrdiť zrušenie
