article.modal.modal-popup(data-modal-id='popup-link')
  header.modal_header.modal-popup_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.link   
      | Verejný link
    a.modal-close
      i.icon= icons.closesmall
  .modal_content.modal-popup_content
    .form-row
      .form-label.form-col-12
        label Verejný link pre váš dokument:
      .form-controls.form-col-12
        .form-control
          input.input(type='text', value='https://www.zelenaposta.sk/en.wikipedia.org/wiki/Simulacra_and_Simulation')
    .btnline
      button.btn.modal-close(type='button') Zavrieť