article.modal.modal-popup(data-modal-id='popup-password-changed')
  header.modal_header.modal-popup_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.info   
      |  Zrušenie dávky
    a.modal-close
      i.icon= icons.closesmall
  .modal_content.modal-popup_content
    p.no-mrg-top Vaše heslo bolo úspešne zmenené
    a.btn.btn-green.modal-confirm OK