article.modal.modal-popup(data-modal-id='popup-delete-documents')
  header.modal_header.modal-popup_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.info   
      |  Vymazanie dokumentov
    a.modal-close
      i.icon= icons.closesmall
  .modal_content.modal-popup_content
    p.no-mrg-top Lorem ipsum Veniam commodo in Duis magna. <br/> Lorem ipsum Nisi exercitation?
    a.btn.btn-green.modal-confirm Áno, potvrdiť vymazanie
