article.modal.modal-popup(data-modal-id='popup-email-sent')
  header.modal_header.modal-popup_header
    h3.no-mrg 
      i.icon.text-color-darkgreen= icons.info   
      |  Zabudnuté heslo
    a.modal-close
      i.icon= icons.closesmall
  .modal_content.modal-popup_content
    p.text-big.text-bold.no-mrg-top Prosím, skontrolujte si Váš e-mail.
    p Na e-mail sme Vám poslali všetky inštrukcie, ako si rýchlo a bezpečne zmeniť heslo.
    a.btn.btn-green.modal-confirm OK