// ---------------------------------------------
// BUTTONS
// ---------------------------------------------

.btn {
  display: inline-block;
  padding: $btn-padding;
  position: relative;
  outline: 0;
  background-color: $btn-bg-color;
  border: 0px solid $btn-border-color;
  @include border-radius($btn-border-radius);
  @include box-shadow($btn-box-shadow);
  @include font-size($btn-font-size);
  color: $btn-text-color;
  font-weight: bold;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  @include transition(color $btn-ease, background $btn-ease, border-color $btn-ease);
  &:hover, &:focus {
    background-color: $btn-hover-bg-color;
    color: $btn-hover-text-color;
  }
  &:active, &.active {
    padding: $btn-active-padding;
    @include box-shadow($btn-active-box-shadow);
  }
  &.disabled,
  &[disabled] {
    padding: $btn-active-padding;
    background-color: rgba($btn-bg-color,0.4);
    @include box-shadow(none);
    color: rgba($btn-disabled-text-color,0.4);
    pointer-events: auto;
    cursor: not-allowed;
  }

} // /btn

button::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

// ----------------------------
// BUTTON SIZES

  // button full width
  .btn-full {
    width: 100%;
    text-align: center;
    &.btn-icon-left,
    &.btn-icon-right {
      padding-left: $btn-icon-padding;
      padding-right: $btn-icon-padding;
    }
    + .btn { margin-top: $btnblock-btn-margin;}
  }

  @include media-w-s {
    .btn-full-s {
      width: 100%;
      text-align: center;
      &.btn-icon-left,
      &.btn-icon-right {
        padding-left: $btn-icon-padding;
        padding-right: $btn-icon-padding;
      }
      + .btn { margin-top: $btnblock-btn-margin;}
    }
  }

  @include media-w-xs {
    .btn-full-xs {
      width: 100%;
      text-align: center;
      &.btn-icon-left,
      &.btn-icon-right {
        padding-left: $btn-icon-padding;
        padding-right: $btn-icon-padding;
      }
      + .btn { margin-top: $btnblock-btn-margin;}
    }
  }

// ----------------------------
// BUTTON ICONS

  // button with floating icon
  .btn {
    .icon {
      position: relative;
      vertical-align: -10%;
    }
    .icon-left, .preloader-left {
      margin-right: $btn-icon-margin;
    }
    .icon-right, .preloader-right {
      margin-left: $btn-icon-margin;
    }
  }

  // button with positioned icon
  .btn-icon-left,
  .btn-icon-right {
    position: relative;
    .icon {
      margin-top: -1px;
      position: absolute;
      display: block;
      top: 50%;
      line-height: 20px;
      @include transform-2d(translateY(-50%));
    }
    &:active, &.active {
      .icon { margin-top: 0;}
    }
  }

  .btn-icon-left {
    padding-left: $btn-icon-padding;
    .icon {
      left: $btn-icon-position;
    }
  }

  .btn-icon-right {
    padding-right: $btn-icon-padding;
    .icon {
      right: $btn-icon-position;
    }
  }

// ----------------------------
// BUTTON GREEN

  .btn-green {
    background-color: $btn-green-bg-color;
    &:hover, &:focus {
      background-color: $btn-green-hover-bg-color;
    }
    &[disabled], &.disabled {
      background-color: rgba($btn-green-bg-color,0.4);
      color: rgba($btn-green-disabled-text-color,0.4);
    }
  } 

// ----------------------------
// BUTTON ORANGE

  .btn-orange {
    background-color: $btn-orange-bg-color;
    &:hover, &:focus {
      background-color: $btn-orange-hover-bg-color;
    }
    &[disabled], &.disabled {
      background-color: rgba($btn-orange-bg-color,0.4);
      color: rgba($btn-orange-disabled-text-color,0.4);
    }
  } 

// ----------------------------
// BUTTON WHITE

  .btn-white {
    padding: $btn-white-padding;
    background-color: $btn-white-bg-color;
    border: 1px solid $btn-white-border-color;
    @include box-shadow($btn-white-box-shadow);
    color: $btn-white-text-color;
    &:hover, &:focus {
      background-color: $btn-white-hover-bg-color;
      border-color: $btn-white-hover-border-color;
      color: $btn-white-hover-text-color;
    }
    &:active, &.active {
      padding: $btn-white-active-padding;
      background-color: $btn-white-active-bg-color;
      @include box-shadow($btn-white-active-box-shadow);
    }
    &[disabled], &.disabled {
      background-color: rgba($btn-white-bg-color,0.4);
      border-color: rgba($btn-white-border-color,0.4);
      color: rgba($btn-white-disabled-text-color,0.4);
    }
  }

// ----------------------------
// BUTTON WHITE 2

  .btn-white-2 {
    @extend .btn-white;
    border: 1px solid $btn-white-2-border-color;
    @include box-shadow($btn-white-2-box-shadow);
    color: $btn-white-2-text-color;
    &:hover, &:focus {
      background-color: $btn-white-2-hover-bg-color;
      border-color: $btn-white-2-border-color;
      color: $btn-white-2-hover-text-color;
    }
    &:active, &.active {
      @include box-shadow($btn-white-2-active-box-shadow);
    }
    &[disabled], &.disabled {
      border-color: rgba($btn-white-border-color,0.4);
      color: rgba($btn-white-2-disabled-text-color,0.4);
    }
  }

// ----------------------------
// BUTTON CLEAN

  .btn-clean {
    @extend .btn-white;
    background-color: transparent;
    border-color: transparent;
    @include box-shadow($btn-clean-box-shadow);
    &:hover, &:focus {
      background-color: $btn-clean-hover-bg-color;
      @include box-shadow($btn-clean-hover-box-shadow);
    }
    &:active, &.active {
      padding: $btn-white-active-padding;
      @include box-shadow($btn-white-active-box-shadow);
    }
    &[disabled], &.disabled {
      background-color: transparent;
      @include box-shadow(none);
    }
  }

  // special case when clean button transform into white button
  
  @include media-w-s {
    .btn-white-s {
      background-color: $btn-white-bg-color;
      border: 1px solid $btn-white-border-color;
      @include box-shadow($btn-white-box-shadow);
      &[disabled], &.disabled {
        background-color: $btn-white-bg-color;
      }
    }
  }

// ----------------------------
// BUTTON LINK

  .btn-link {
    @extend .btn-clean;
    color: $btn-clean-text-color;
    &:hover, &:focus {
      color: $btn-clean-text-color;
    }
  }

// ----------------------------
// BUTTON LAYOUTS

  // button line
  .btnline {
    .btn {
      margin-right: $btnline-btn-margin;
      &:last-child {margin-right: 0;}
    }
  }

  @mixin btnline-stack {
    .btn {
      margin-top: $btnblock-btn-margin;
      float: left;
      clear: both;
      &:first-child {margin-top: 0;}
    }
  }

  @include media-w-m {
    .btnline-stack-m {
      @include btnline-stack;
    }
  }

  @include media-w-s {
    .btnline-stack-s {
      @include btnline-stack;
    }
  }

  @include media-w-xs {
    .btnline-stack-xs {
      @include btnline-stack;
    }
  }

  // button block
  .btnblock {
    .btn {
      margin-top: $btnblock-btn-margin;
      float: left;
      clear: both;
      &:first-child {margin-top: 0;}
    }
  }

// ----------------------------
// BUTTON GROUPS & BUTTON BARS

  // mixin for button group stack
  @mixin btn-group-stack {
    display: inline-block;
    .btn {
      margin: 0;
      margin-top: -1px;
      width: 100%;
      display: block;
      border-bottom-width: 1px;
      border-top-width: 1px;
      text-align: center;
      &:hover { border-color: $btn-border-color;}
      &:not(:last-child) { @include box-shadow(none);}
      &:first-child {
        @include border-left-radius(0, true);
        @include border-top-radius($btn-border-radius, true);
        @include background-clip(border-box);
        margin-top: 0;
      }
      &:last-child {
        @include border-right-radius(0, true);
        @include border-bottom-radius($btn-border-radius, true);
        @include background-clip(border-box);
      }
    }
  }

  // button group
  .btn-group {
    .btn {
      position: relative;
      z-index: 1;
      @include border-radius(0,'', true);
      border-left-width: 1px;
      border-right-width: 1px;
      margin-left: -1px;
      @include background-clip(border-box);
      &:hover {z-index: 2;}
      &:first-child {
        @include border-left-radius($btn-border-radius, true);
        @include background-clip(border-box);
        margin-left: 0;
        &:not([class*="btn-white"]) { border-left-width: 0; }
      }
      &:last-child {
        @include border-right-radius($btn-border-radius, true);
        @include background-clip(border-box);
      }
    }
  }
  
  // button group stack and stack full
  .btn-group-stack,
  .btn-group-stack-full {
    @include btn-group-stack;
  }
  .btn-group-stack-full {
    width: 100%;
    display: block;
  }

  // button bar
  .btn-bar {
    @include clearfix;
    .btn-group, .btnline {
      float: left;
      margin-right: $btnbar-btngroup-margin;
      &:last-child {margin-right: 0;}
    }
  }

  // mixin for button bar stack
  @mixin btn-bar-stack {
    .btn-group, .btnline {
      clear: both;
      margin-right: 0;
      margin-top: $btnbar-btngroup-margin;
      &:first-child {margin-top: 0;}
    }
  }

  .btn-bar-stack {
    @include btn-bar-stack;
  }

  @include media-w-m {
    .btn-group-stack-m,
    .btn-group-stack-full-m {
      @include btn-group-stack;
    }
    .btn-group-stack-full-m {
      width: 100%;
      display: block;
    }
    .btn-bar-stack-m {
      @include btn-bar-stack;
    }
  }

  @include media-w-s {
    .btn-group-stack-s,
    .btn-group-stack-full-s {
      @include btn-group-stack;
    }
    .btn-group-stack-full-s {
      width: 100%;
      display: block;
    }
    .btn-bar-stack-s {
      @include btn-bar-stack;
    }
  }

  @include media-w-xs {
    .btn-group-stack-xs,
    .btn-group-stack-full-xs {
      @include btn-group-stack;
    }
    .btn-group-stack-full-xs {
      width: 100%;
      display: block;
    }
    .btn-bar-stack-xs {
      @include btn-bar-stack;
    }
  }

// ----------------------------
// BUTTON dropdowns

  .btn-dropdown {
    position: relative;
    display: inline-block;
    .btn {
      padding-right: $btn-icon-padding;
      position: relative;
      text-align: left;
      .icon-dropdown {
        margin-top: -2px;
        position: absolute;
        display: block;
        top: 50%;
        right: $btn-icon-position;
        line-height: 20px;
        @include transform-2d(translateY(-50%));
      }
    }
    &.active .btn .icon-dropdown {margin-top: -1px;}
  }

  .btn-dropdown-split {
    position: relative;
    display: inline-block;
  }
  .btn-split,
  .btn-split-control {
    position: relative;
    z-index: 1;
    @include border-radius(0);
    border-left-width: 0;
    &:hover {
      z-index: 2;
    }
  }
  .btn-split {
    float: left;
    @include border-left-radius($btn-border-radius, true);
    @include background-clip(border-box);
    border-right-width: 1px;
  }
  .btn-split-control {
    float: right;
    margin-left: -1px;
    border-left-width: 1px;
    @include border-right-radius($btn-border-radius, true);
    @include background-clip(border-box);
  }

  @mixin btn-split-control-full {
    width: 60px;
    padding-left: 0;
    padding-right: 0;
    float: right;
    text-align: center;
  }

  .btn-dropdown-full {
    width: 100%;
    .btn {
      width: 100%;
    }
    .btn-split {
      width: auto;
      margin-right: 60px;
      float: none;
      display: block;
    }
    .btn-split-control {
      @include btn-split-control-full;
    }
  }

  @include media-w-s {
    .btn-dropdown-full-s {
      width: 100%;
      .btn {
        width: 100%;
      }
      .btn-split {
        width: auto;
        margin-right: 60px;
        float: none;
        display: block;
      }
      .btn-split-control {
        @include btn-split-control-full;
      }
    }
  }

  @include media-w-xs {
    .btn-dropdown-full-xs {
      width: 100%;
      .btn {
        width: 100%;
      }
      .btn-split {
        width: auto;
        margin-right: 60px;
        float: none;
        display: block;
      }
      .btn-split-control {
        @include btn-split-control-full;
      }
    }
  }