// ---------------------------------------------
// COMPONENTS
// ---------------------------------------------

  .calendar {
    background-color: $calendar-bg-color;
    border: 1px solid $calendar-border-color;
    @include border-radius($calendar-bordar-radius);
    @include box-shadow($calendar-box-shadow);
    
    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      border-spacing: 0;
    }
    
    th,
    td,
    hr,
    .fc-row,
    .fc-popover {
      border-color: $calendar-inner-border-color;
    }

    th,
    td {
      border-style: solid;
      border-width: 1px;
      padding: 0;
      vertical-align: top;
      
      &:first-child { border-left: none; }
      &:last-child { border-right: none; }
    }

    tr:last-child td{
      border-bottom: none;
    }

    .fc-today {
      background-color: $calendar-today-bg-color;
    }
  }

  // /* undo box-sizing rules. normalizes positioning techniques */
  // /* don't do this for the toolbar because we'll want bootstrap to style those buttons as some pt */
  .fc-view-container *,
  .fc-view-container *:before,
  .fc-view-container *:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }

  .fc-view, // /* scope positioning and z-index's for everything within the view */
  .fc-view > table { // /* so dragged elements can be above the view's main element */
    position: relative;
    z-index: 1;
  }

  .fc-highlight { // /* when user is selecting cells */
    background: #bce8f1;
    opacity: .3;
  }

  .fc-bgevent { // /* default look for background events */
    background: rgb(143, 223, 130);
    opacity: .3;
  }

  // ---------------------------------------------
  // TOOLBAR

    .fc-toolbar {
      text-align: center;
      padding: $calendar-toolbar-padding;
      
      .fc-left { float: left; }
      .fc-right { float: right; }
      .fc-center { display: inline-block; }

      h3 {
        margin: 0 15px;
        display: inline-block;
        vertical-align: middle;
      }
    }

  // ---------------------------------------------
  // GENERAL VIEW
  
    .fc-basicWeek-view .fc-content-skeleton,
    .fc-basicDay-view .fc-content-skeleton {
      // /* we are sure there are no day numbers in these views, so... */
      padding-top: 1px; // /* add a pixel to make sure there are 2px padding above events */
      padding-bottom: 1em; // /* ensure a space at bottom of cell for user selecting/clicking */
    }

    .fc-basic-view tbody .fc-row {
      min-height: 4em; // /* ensure that all rows are at least this tall */
    }

    .fc-row.fc-rigid {
      overflow: hidden;
    }

    .fc-row.fc-rigid .fc-content-skeleton {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .fc-basic-view .fc-week-number span {
      // /* work around the way we do column resizing and ensure a minimum width */
      display: inline-block;
      min-width: 1.25em;
    }

    .fc-day-number.fc-other-month {
      opacity: 0.3;
    }

  // ---------------------------------------------
  // MONTH VIEW
  
    .fc-month-view {
      .fc-day-number,
      .fc-day-header,
      .fc-week-number {
        padding: $calendar-mv-cell-padding;
        text-align: right;
      }

      .fc-day-header,
      .fc-week-number {
        width: auto !important;
        color: $calendar-mv-header-text-color;
        font-weight: normal;
      }

      @include media-w-s {
        .fc-day-number,
        .fc-day-header,
        .fc-week-number {
          padding: $calendar-mv-cell-padding-s;
        }
      }

      @include media-w-xs {
        .fc-day-number,
        .fc-day-header,
        .fc-week-number {
          padding: $calendar-mv-cell-padding-xs;
        }
      }
    }

  // ---------------------------------------------
  // YEAR VIEW
  
    .fc-year-view {

      td, th{
        border: none;
      }

      .fc-day-number,
      .fc-day-header,
      .fc-week-number {
        padding: 0 3px;
        text-align: right;
        line-height: 15px;
      }

      .fc-day-header,
      .fc-week-number {
        width: auto !important;
        color: $calendar-mv-header-text-color;
        font-weight: normal;
        text-align: left;
      }

      tbody .fc-row {
        min-height: 2.5em;
      }
    }

    .fc-month-container {
      padding: 20px 40px 20px 20px;
      
      @include media-w-m {
        padding: 20px 20px 20px 20px;
      }
    }

    .fc-month-header {
      margin: 0 0 15px;
      font-weight: bold;
      color: $headline-text-color;
      @include font-size($h3-font-size);
    }

    @include media-w-s {
      .fc-year-container {
        display: block;
        & > tbody > tr {
          display: block;
          & > td {
            display: block;
          }
        }
      }
      .fc-month-container {
        width: 50%;
        float: left;
        @include box-sizing(border-box);
      }
    }

    @include media-w-xs {
      .fc-month-container {
        width: 100%;
      }
    }

  // ---------------------------------------------
  // POPOVER
  
    .fc-popover {
      position: absolute;
      background-color: $calendar-popup-bg-color;
      border: 1px solid $calendar-popup-border-color !important;
      @include border-radius($calendar-popup-border-radius);
      @include box-shadow($calendar-popup-box-shadow);
      
      .fc-header {
        padding: 5px;
        
        .fc-title {
          margin: 0 2px;
          float: left;
          color: $calendar-popup-header-text-color;
          font-weight: 600;
          @include font-size($calendar-popup-header-font-size);
        }

        .fc-close {
          cursor: pointer;
          position: relative;
          top: 3px;
          float: right;
          color: $calendar-popup-header-text-color;
        }
      }
    }

  // ---------------------------------------------
  // MISC AND REUSABLE
  
    .fc hr {
      height: 0;
      margin: 0;
      padding: 0 0 2px; // /* height is unreliable across browsers, so use padding */
      border-style: solid;
      border-width: 1px 0;
    }

    .fc-clear {
      clear: both;
    }

    .fc-bg,
    .fc-bgevent-skeleton,
    .fc-highlight-skeleton,
    .fc-helper-skeleton {
      // /* these element should always cling to top-left/right corners */
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .fc-bg {
      bottom: 0; // /* strech bg to bottom edge */
    }

    .fc-bg table {
      height: 100%; // /* strech bg to bottom edge */
    }

  // ---------------------------------------------
  // FAKE TABLE ROWS

    .fc .fc-row { // /* extra precedence to overcome themes w/ .ui-widget-content forcing a 1px border */
      // /* no visible border by default. but make available if need be (scrollbar width compensation) */
      border-style: solid;
      border-width: 0;
    }

    .fc-row table {
      // /* don't put left/right border on anything within a fake row.
      //    the outer tbody will worry about this */
      border-left: 0 hidden transparent;
      border-right: 0 hidden transparent;

      // /* no bottom borders on rows */
      border-bottom: 0 hidden transparent; 
    }

    .fc-row:first-child table {
      border-top: 0 hidden transparent; // /* no top border on first row */
    }

  // ---------------------------------------------
  // Day Row (used within the header and the DayGrid)

    .fc-row {
      position: relative;
    }

    .fc-row .fc-bg {
      z-index: 1;
    }

    // /* highlighting cells & background event skeleton */

    .fc-row .fc-bgevent-skeleton,
    .fc-row .fc-highlight-skeleton {
      bottom: 0; // /* stretch skeleton to bottom of row */
    }

    .fc-row .fc-bgevent-skeleton table,
    .fc-row .fc-highlight-skeleton table {
      height: 100%; // /* stretch skeleton to bottom of row */
    }

    .fc-row .fc-highlight-skeleton td,
    .fc-row .fc-bgevent-skeleton td {
      border-color: transparent;
    }

    .fc-row .fc-bgevent-skeleton {
      z-index: 2;
    }

    .fc-row .fc-highlight-skeleton {
      z-index: 3;
    }

    // /*
    // row content (which contains day/week numbers and events) as well as "helper" (which contains
    // temporary rendered events).
    // */

    .fc-row .fc-content-skeleton {
      position: relative;
      z-index: 4;
      padding-bottom: 2px; // /* matches the space above the events */
    }

    .fc-row .fc-helper-skeleton {
      z-index: 5;
    }

    .fc-row .fc-content-skeleton td,
    .fc-row .fc-helper-skeleton td {
      // /* see-through to the background below */
      background: none; // /* in case <td>s are globally styled */
      border-color: transparent;

      // /* don't put a border between events and/or the day number */
      border-bottom: 0;
    }

    .fc-row .fc-content-skeleton tbody td, // /* cells with events inside (so NOT the day number cell) */
    .fc-row .fc-helper-skeleton tbody td {
      // /* don't put a border between event cells */
      border-top: 0;
    }

  // ---------------------------------------------
  // Global Event Styles

    .fc-event {
      position: relative; // /* for resize handle and other inner positioning */
      margin: 4px 0;
      display: block; // /* make the <a> tag block */
      font-size: .85em;
      line-height: 1.3;
      border-radius: 3px;
      border: 1px solid #3a87ad; // /* default BORDER color */
      background-color: #3a87ad; // /* default BACKGROUND color */
      font-weight: normal; // /* undo jqui's ui-widget-header bold */
      a {border: none;}
    }

    // /* overpower some of bootstrap's and jqui's styles on <a> tags */
    .fc-event,
    .fc-event:hover,
    .ui-widget .fc-event {
      color: #fff; // /* default TEXT color */
      text-decoration: none; // /* if <a> has an href */
    }

    .fc-event[href],
    .fc-event.fc-draggable {
      cursor: pointer; /* give events with links and draggable events a hand mouse pointer */
    }

    .fc-not-allowed, // /* causes a "warning" cursor. applied on body */
    .fc-not-allowed .fc-event { // /* to override an event's custom cursor */
      cursor: not-allowed;
    }

  // ---------------------------------------------
  // DayGrid events
  // ----------------------------------------------------------------------------------------------------
  // We use the full "fc-day-grid-event" class instead of using descendants because the event won't
  // be a descendant of the grid when it is being dragged.
  // */

    .fc-day-grid-event {
      margin: 2px 2px 0; // /* spacing between events and edges */
      padding: 0 1px;
    }

    // /* events that are continuing to/from another week. kill rounded corners and butt up against edge */

    .fc-ltr .fc-day-grid-event.fc-not-start,
    .fc-rtl .fc-day-grid-event.fc-not-end {
      margin-left: 0;
      border-left-width: 0;
      padding-left: 1px; // /* replace the border with padding */
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .fc-ltr .fc-day-grid-event.fc-not-end,
    .fc-rtl .fc-day-grid-event.fc-not-start {
      margin-right: 0;
      border-right-width: 0;
      padding-right: 1px; // /* replace the border with padding */
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .fc-day-grid-event > .fc-content { // /* force events to be one-line tall */
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
    }

    .fc-day-grid-event .fc-time {
      font-weight: bold;
    }

    .fc-year-view .fc-day-grid-event {
      padding: 3px 5px;
      .fc-time,
      .fc-title { display: none; }
    }

    .fc-year-view .fc-popover .fc-day-grid-event {
      padding: 0;
      font-size: 12px;
      .fc-time,
      .fc-title { display: block; }
      .fc-content {margin: 2px 0;}
    }

    @include media-w-xs {
      .fc-day-grid-event {
        padding: 5px;
        .fc-time,
        .fc-title { display: none; }
      }

      .fc-popover .fc-day-grid-event {
        padding: 0;
        font-size: 12px;
        .fc-time,
        .fc-title { display: block; }
        .fc-content {margin: 2px 0;}
      }
    }

    // /* resize handle (outside of fc-content, so can go outside of bounds) */

    .fc-day-grid-event .fc-resizer {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 7px;
    }

    .fc-ltr .fc-day-grid-event .fc-resizer {
      right: -3px;
      cursor: e-resize;
    }

    .fc-rtl .fc-day-grid-event .fc-resizer {
      left: -3px;
      cursor: w-resize;
    }

  // ---------------------------------------------
  // Event Limiting

    // /* "more" link that represents hidden events */

    a.fc-more {
      margin: 1px 3px;
      font-size: .85em;
      cursor: pointer;
      text-decoration: none;
      
      .fc-year-view & {
        height: 8px;
        padding: 0 5px;
        font-size: 0;
        width: auto;
        position: relative;
        display: block;
        background-color: $calendar-event-bg-color;
        border: none;
        @include border-radius($calendar-event-border-radius);
        &:after {content:'' !important;}
      }
      
      @include media-w-xs {
        width: auto;
        height: 12px;
        position: relative;
        display: block;
        background-color: $calendar-event-bg-color;
        border: none;
        @include border-radius($calendar-event-border-radius);
        font-size: 0;
        text-align: center;
        &:after {
          content: '+';
          position: absolute;
          top: -6px;
          left: 0;
          right: 0;
          display: inline-block;
          color: #FFF;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }

    .fc-limited { // /* rows and cells that are hidden because of a "more" link */
      display: none;
    }

    // /* popover that appears when "more" link is clicked */

    .fc-day-grid .fc-row {
      z-index: 1; // /* make the "more" popover one higher than this */
    }

    .fc-more-popover {
      z-index: 2;
      width: 220px;
    }

    .fc-more-popover .fc-event-container {
      padding: 10px 5px;
    }

  // ---------------------------------------------
  // TimeGrid

    .fc .fc-axis { // /* .fc to overcome default cell styles */
      vertical-align: middle;
      padding: 0 4px;
      white-space: nowrap;
    }

    .fc-ltr .fc-axis {
      text-align: right;
    }

    .fc-rtl .fc-axis {
      text-align: left;
    }

    .ui-widget td.fc-axis {
      font-weight: normal; // /* overcome jqui theme making it bold */
    }

    .fc-time-grid-container, // /* so scroll container's z-index is below all-day */
    .fc-time-grid { // /* so slats/bg/content/etc positions get scoped within here */
      position: relative;
      z-index: 1;
    }

    .fc-time-grid {
      min-height: 100%; // /* so if height setting is 'auto', .fc-bg stretches to fill height */
    }

    .fc-time-grid table { // /* don't put outer borders on slats/bg/content/etc */
      border: 0 hidden transparent;
    }

    .fc-time-grid > .fc-bg {
      z-index: 1;
    }

    .fc-time-grid .fc-slats,
    .fc-time-grid > hr { // /* the <hr> AgendaView injects when grid is shorter than scroller */
      position: relative;
      z-index: 2;
    }

    .fc-time-grid .fc-bgevent-skeleton,
    .fc-time-grid .fc-content-skeleton {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .fc-time-grid .fc-bgevent-skeleton {
      z-index: 3;
    }

    .fc-time-grid .fc-highlight-skeleton {
      z-index: 4;
    }

    .fc-time-grid .fc-content-skeleton {
      z-index: 5;
    }

    .fc-time-grid .fc-helper-skeleton {
      z-index: 6;
    }

    .fc-slats td {
      height: 1.5em;
      border-bottom: 0; // /* each cell is responsible for its top border */
    }

    .fc-slats .fc-minor td {
      border-top-style: dotted;
    }

    .fc-slats .ui-widget-content { // /* for jqui theme */
      background: none; // /* see through to fc-bg */
    }

    .fc-time-grid .fc-highlight-container { // /* a div within a cell within the fc-highlight-skeleton */
      position: relative; // /* scopes the left/right of the fc-highlight to be in the column */
    }

    .fc-time-grid .fc-highlight {
      position: absolute;
      left: 0;
      right: 0;
      // /* top and bottom will be in by JS */
    }

    .fc-time-grid .fc-event-container, // /* a div within a cell within the fc-content-skeleton */
    .fc-time-grid .fc-bgevent-container { // /* a div within a cell within the fc-bgevent-skeleton */
      position: relative;
    }

    .fc-ltr .fc-time-grid .fc-event-container { // /* space on the sides of events for LTR (default) */
      margin: 0 2.5% 0 2px;
    }

    .fc-rtl .fc-time-grid .fc-event-container { // /* space on the sides of events for RTL */
      margin: 0 2px 0 2.5%;
    }

    .fc-time-grid .fc-event,
    .fc-time-grid .fc-bgevent {
      position: absolute;
      z-index: 1; // /* scope inner z-index's */
    }

    .fc-time-grid .fc-bgevent {
      // /* background events always span full width */
      left: 0;
      right: 0;
    }

  // ---------------------------------------------
  // TimeGrid Event Styling
  // We use the full "fc-time-grid-event" class instead of using descendants because the event won't
  // be a descendant of the grid when it is being dragged.
  // 

    .fc-time-grid-event.fc-not-start { // /* events that are continuing from another day */
      // /* replace space made by the top border with padding */
      border-top-width: 0;
      padding-top: 1px;

      // /* remove top rounded corners */
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .fc-time-grid-event.fc-not-end {
      // /* replace space made by the top border with padding */
      border-bottom-width: 0;
      padding-bottom: 1px;

      // /* remove bottom rounded corners */
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .fc-time-grid-event {
      overflow: hidden; // /* don't let the bg flow over rounded corners */
    }

    .fc-time-grid-event > .fc-content { // /* contains the time and title, but no bg and resizer */
      position: relative;
      z-index: 2; // /* above the bg */
    }

    .fc-time-grid-event .fc-time,
    .fc-time-grid-event .fc-title {
      padding: 0 1px;
    }

    .fc-time-grid-event .fc-time {
      font-size: .85em;
      white-space: nowrap;
    }

    .fc-time-grid-event .fc-bg {
      z-index: 1;
      background: #fff;
      opacity: .25;
      filter: alpha(opacity=25); // /* for IE */
    }

    // /* short mode, where time and title are on the same line */

    .fc-time-grid-event.fc-short .fc-content {
      // /* don't wrap to second line (now that contents will be inline) */
      white-space: nowrap;
    }

    .fc-time-grid-event.fc-short .fc-time,
    .fc-time-grid-event.fc-short .fc-title {
      // /* put the time and title on the same line */
      display: inline-block;
      vertical-align: top;
    }

    .fc-time-grid-event.fc-short .fc-time span {
      display: none; // /* don't display the full time text... */
    }

    .fc-time-grid-event.fc-short .fc-time:before {
      content: attr(data-start); // /* ...instead, display only the start time */
    }

    .fc-time-grid-event.fc-short .fc-time:after {
      content: "\000A0-\000A0"; // /* seperate with a dash, wrapped in nbsp's */
    }

    .fc-time-grid-event.fc-short .fc-title {
      font-size: .85em; // /* make the title text the same size as the time */
      padding: 0; // /* undo padding from above */
    }

    // /* resizer */

    .fc-time-grid-event .fc-resizer {
      position: absolute;
      z-index: 3; // /* above content */
      left: 0;
      right: 0;
      bottom: 0;
      height: 8px;
      overflow: hidden;
      line-height: 8px;
      font-size: 11px;
      font-family: monospace;
      text-align: center;
      cursor: s-resize;
    }

    .fc-time-grid-event .fc-resizer:after {
      content: "=";
    }
