// ---------------------------------------------
// COMPONENTS
// ---------------------------------------------

// ---------------------------------------------
// BOX SIMPLE

  .box-simple {
    margin: $box-simple-vertical-margin 0;
    background-color: $box-simple-bg-color;
    border: 1px solid $box-simple-border-color;
    @include border-radius($box-simple-border-radius);
    @include box-shadow($box-simple-box-shadow);
  }

  .box-simple_header {
    padding: $box-simple_header-padding;
    border-bottom: 1px solid $box-simple_header-border-color;
    &.contain-btn {
      padding: 10px;
      h3 { line-height: 30px }
    }
  }

  .box-simple_header_controls,
  .box-simple_footer_controls {
    float: right;
  }

  .box-simple_content {
    padding: $box-simple_content-padding;
  }
  .box-simple_content-nospace {
    padding: 0;
  }

  .box-simple_footer {
    @include clearfix;
    padding: $box-simple_footer-padding;
    border-top: 1px solid $box-simple_footer-border-color;
    @include border-bottom-radius($box-simple-border-radius);
    &.no-bd {border: none;}
  }

  .box-simple_pagination {
    padding: $box-simple_pagination-padding;
    background: $box-simple_pagination-bg-color;
  }
    

  @include media-w-m {
    .box-simple {
      margin: $box-simple-vertical-margin-m 0;
    }
  }

// ---------------------------------------------
// MAIN HEADER

  .header-main {
    background-color: $header-main-bg-color;
    @include box-shadow($header-main-box-shadow);
  }

  .header-bar {
    max-width: $header-bar-max-width;
    margin: 0 auto;
    @include clearfix;
  }

  .header-notify {
    height: 17px;
    padding: 0 2px;
    position: absolute;
    z-index: 2;
    background-color: $header-notify-bg-color;
    border: 1px solid $header-notify-border-color;
    @include border-radius($header-notify-border-radius);
    color: $header-notify-text-color;
    line-height: 15px;
  }

  // --------------------------------------------
  // header bar left

    .header-bar-left {
      padding: 5px 15px 0;
      float: left;
    }

    .header-logo {
      width: 35px;
      display: block;
    }

    @include media-w-m {
      .header-logo {
        width: 30px;
      }
    }

  // --------------------------------------------
  // header bar mid

    .header-bar-mid {
      margin: 0 auto;
    }

    .header-nav-bar_list {
      @extend %list-unstyled;
      @include clearfix;
    }
    .header-nav-bar_list_item {
      float: left;
    }
    .header-nav-bar_list_link {
      padding: 0 10px;
      height: 60px;
      position: relative;
      display: block;
      border: none;
      color: $header-nav-bar_list_link-text-color;
      font-weight: 600;
      line-height: 60px;
      @include transition(background $header-nav-bar_list_link-ease);
      &:before,
      &:after {
        content: '';
        width: 1px;
        height: 1px;
        margin: 0 auto;
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
      &:before {
        z-index: 2;
        bottom: 2px;
        border: 9px solid transparent;
        border-bottom-color: $header-nav-bar-arrow-shadow-bg-color;
      }
      &:after {
        z-index: 3;
        border: 8px solid transparent;
        border-bottom-color: $header-nav-bar-arrow-bg-color;
      }
      &:hover {
        background: $header-nav-bar_list_link-hover-bg-color;
        color: $header-nav-bar_list_link-text-color;
      }
      &.with-subnav {
        &:after { border-bottom-color: $header-nav-bar-arrow-2-bg-color;}
      }
      &.active {
        &:before,
        &:after { display: block; }
      }
      .header-notify {
        top: 8px;
        right: -4px;
      }
    }

    @include media-w-m {
      .header-bar-mid {
        background-color: $header-bar-mid-bg-color-m;
        clear: both;
      }
      .header-nav-bar_list_link {
        padding: 0 15px;
        height: 50px;
        line-height: 50px;
        .header-notify {
          top: 3px;
          right: 1px;
        }
      }
    }

    @include media-w-s {
      .header-bar-mid {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        &.active {
          max-height: 1000px;
          opacity: 1;
          @include transition(opacity $header-bar-mid-ease, max-height $header-bar-mid-ease);
        }
      }
      .header-nav-bar_list_item {
        display: block;
        float: none;
        &:first-child .header-nav-bar_list_link {border: none;}
      }
      .header-nav-bar_list_link {
        height: 45px;
        line-height: 45px;
        border-top: 1px solid $header-nav-bar_list_link-border-color;
        &.active {
          background: $header-nav-bar_list_link-hover-bg-color;
          color: $header-nav-bar_list_link-text-color;
          &:before,
          &:after { display: none; }
        }
      }

    }

  // --------------------------------------------
  // header bar right

    .header-bar-right {
      float: right;
      background-color: $header-bar-right-bg-color;
      @include media-w-m {
        background-color: transparent;
      }
      @include media-w-s {
        float: none;
      }
    }

    // header user bar

    .header-user-bar {
      padding: 15px 0;
      float: left;
      @include font-size($header-user-bar-font-size);
    }
    .header-user-bar_info,
    .header-user-bar_credit {
      height: 30px;
      padding: 0 15px;
      font-weight: 600;
    }
    .header-user-bar_info {
      line-height: 1;
      text-align: right;
    }
    .header-user-bar_info_name {
      border: none;
      color: $header-user-bar_info_name-text-color;
      &:hover { color: $header-user-bar_info_name-hover-text-color; }
    }
    .header-user-bar_info_email {
      color: $header-user-bar_info_email-text-color;
    }
    .header-user-bar_credit {
      background-color: $header-user-bar_credit-bg-color;
      @include border-radius($header-user-bar_credit-border-radius);
      text-align: center;
      b {font-weight: normal;}
      a {
        border: none;
        color: $header-user-bar_credit-text-color;
      }
    }

    @include media-w-m {
      .header-user-bar {
        padding: 10px 0;
      }
    }

    @include media-w-s {
      .header-user-bar {
        padding: 0 10px;
        width: 100%;
        display: block;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        background-color: $header-user-bar-bg-color;
        table {width: 100%;}
        &.active {
          padding: 10px;
          max-height: 200px;
          opacity: 1;
          @include transition(padding $header-user-bar-ease-2, max-height $header-user-bar-ease, opacity $header-user-bar-ease);
        }
      }
      .header-user-bar_info {text-align: left;}
    }

    // header control bar

    .header-control-bar {
      @include clearfix;
      min-width: 143px; // webkit fix
      padding: 15px;
      float: right;
    }
    .header-control-tabs {
      padding-right: 15px;
      float: left;
    }
    .header-control-tab {
      height: 30px;
      padding: 5px 0;
      position: relative;
      display: inline-block;
      border: none;
      color: $header-control-tab-text-color;
      line-height: 20px;
      .icon {vertical-align: -10%;}
      .header-notify {
        top: 5px;
        margin: 0 auto;
        left: auto;
        right: auto;
        @include transform-2d(translateX(10px));
        .ie & {
          margin-left: -8px; // pixel perfect
          left: 50%;
        }
      }
      &:hover, &.active { color: $header-control-tab-hover-text-color;}
    }

    @include media-w-m {
      .header-control-bar {
        padding: 10px;
      }
      .header-control-tabs {
        padding-right: 10px;
      }
    }

    @include media-w-s {
      .header-control-bar {
        padding: 0 10px 0 0;
        float: none;
        @include clearfix;
        .btn {margin: 7px 0;}
      }
      .header-control-tabs {
        width: auto;
        float: none;
        margin-right: 90px;
      }
      .header-control-tab {
        height: 44px;
        padding: 12px 0;
        float: left;
        width: 33.3333%;
        text-align: center;
        @include transition(background-color $header-control-tab-ease);
        &.active {
          background: $header-control-tab-active-bg-color;
        }
      }
    }

// --------------------------------------------
// SUBHEADER
  
  .subheader-main {
    background-color: $subheader-bg-color;
    border-bottom: 1px solid $subheader-border-color;
  }

  .subheader-bar {
    max-width: $subheader-bar-max-width;
    margin: 0 auto;
    padding: 0 $subheader-bar-padding;
    @include clearfix;
  }

  .subheader-nav-bar {
    @extend %list-unstyled;
  }

  .subheader-nav-bar_item {
    display: inline-block;
    &:first-child .subheader-nav-bar_link {padding-left: 0;}
    &:last-child .subheader-nav-bar_link {padding-right: 0;}
  }

  .subheader-nav-bar_link {
    height: 47px;
    padding: 0 10px;
    border: none;
    color: $subheader-nav-bar_link-text-color;
    font-weight: 600;
    line-height: 47px;
    text-transform: uppercase;
    &:hover, &.active {
      color: $subheader-nav-bar_link-hover-text-color;
    }

    @include media-w-s {
      height: 44px;
      line-height: 44px;
    }
  }
  
// ---------------------------------------------
// PAYMENTS OVERVIEW

  .payments-overview {
    height: 206px;
    
    @include media-w-s { height: auto; }
    .payments-overview_payment {
      padding: 20px;
      .h3 { 
        margin: 0 0 5px; 
      }

      @include media-w-m {
        padding: 15px 5px;
      }

      @include media-w-xs {
        padding: 5px 0;
        text-align: left !important;
        .h3 {
          padding-left: 10px;
          float: right; 
        }
        .payment_desc {
          margin-top: 2px;
          display: block;
        }
      }
    } // payment
  }

// ---------------------------------------------
// DASHBOARD REMINDERS
  
  .dashboard-reminders {
    background-color: $color-smokewhite;
    overflow: hidden;
  }
  .dr_calendar {
    padding-right: 0 !important;
    .datepicker {
      margin: 0;
      padding: 0;
      border: 0;
      background-color: $color-white;
      z-index: 1 !important;
      @include box-shadow(none);
      td,
      th {
        padding: 4px 0px;
      }
      td {
        font-size: 13px;
        span { width: 33.3333%; }
      }
      th.next,
      th.prev {
        padding: 0 3px;
        font-size: 16px;
      }
      th.dow {
        border-top: 1px solid $box-simple-border-color;
      }
      thead > tr:first-child {
        height: 54px;
        @include font-size($h3-font-size);
        color: $headline-text-color;
        
      }
      tbody {
        border-top: 1px solid $box-simple-border-color;
        &:before,
        &:after {
          content: '';
          display: block;
          height: 10px;
        }
      }
      
      .day {
        &.active .day-wrap { 
          background-color: $color-lightgreen;
          color: $color-white;
        }
        &.reminder .day-wrap { 
          background-color: $color-green;
          color: $color-white;
        }
        &.active { 
          background: transparent;
          color: $text-color-black;
          &:hover {
            background-color: transparent;
            color: $text-color-black;
          } 
        }
        &:hover { 
          background: transparent; 
          .day-wrap {
            background-color: $color-lightgrey-lighter;
            border-radius: 50%;
            color: $text-color-black;
          }
        }
      }
      .day-wrap {
        height: 28px;
        width: 28px;
        line-height: 28px;
        margin: 0 auto;
        border-radius: 50%;
        @include transition(background-color $datepicker-ease, color  $datepicker-ease);
      }
      .datepicker-months td,
      .datepicker-years td{
        height: 216px;
      }
    }
  }
  
  @include apply-to-moz {
    // tr height fix for mozilla only
    .dr_calendar .datepicker thead > tr:first-child {
      height:55px;
    }
  }
  
  @include media-w-m { 
    .dr_calendar .datepicker {
      tbody {
        &:before,
        &:after {
          content: '';
          display: block;
          height: 19px;
        }
      }
      .day-wrap {
        height: 25px;
        width: 25px;
        line-height: 25px;
      }
      .datepicker-months td,
      .datepicker-years td {
        height: 198px;
      }
    }
  }
  
  .dr_day {
    padding-left: 0 !important;
    .dr_day_header {
      text-align: center;
      padding: 15px 10px;
      background-color: $color-white;
      .date {
        display: inline-block;
        width: 120px;
      }
      .next, 
      .prev {
        color: $color-green;
        cursor: pointer;
        font-size: 16px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover {
          color: $color-lightgreen;
        }
      }
    }
    .dr_day_content {
      height: 237px;
      padding: $box-simple_content-padding;
      border-top: 1px solid $box-simple-border-color;
      border-left: 1px solid #cccccc;
      ul,
      .dr_day_content-placeholder { 
        list-style: none; 
        padding: 0;
        margin: 0;
        height: 166px;
        overflow-y:auto;/*Also...*/
        overflow-x:hidden;/*And the end of the important part*/
      }
      .icon-wrap {
        display: table-cell;
        width: 30px;
        vertical-align: middle;
        color: $color-green;
      }
      .text-wrap {
        display: table-cell;
        vertical-align: middle;
        padding: 5px 0;
      }
    }
    .btnline { 
      text-align: center;
      padding-top: 10px;
    }
  }
  
  @include media-w-s {
    .dr_day {
      .dr_day_header {
        border-bottom: 1px solid $box-simple-border-color;
      }
      .dr_day_content {
        max-width: 300px;
        height: auto;
        margin: 0 auto;
        border: 0;
        ul {
          height: auto;
        }
      }
      .btnline {
        text-align: left;
        margin-left: 30px;
      } 
    }
  } 
  
// ---------------------------------------------
// STATISTICS

  .stats-placeholder {
    min-height: 160px;
    position: relative;
    background: url(../imgs/placeholders/stats-placeholder.png) center center repeat-x;
    @include center-unknown;
  }

// ---------------------------------------------
// DASHBOARD QUICK INFO

  .dashboard-quick-info {
    .icon { margin: 0 10px 0 2px; }
  }

// ---------------------------------------------
// BREADCRUMBS

  .breadcrumbs {
    max-width: $breadcrumbs-max-width;
    padding: 10px $breadcrumbs-padding;
    margin: 0 auto 20px;
    color: $breadcrumbs-text-color;
    a {
      border: none;
      color: $breadcrumbs-text-color;
      &:hover {
        color: $breadcrumbs-hover-text-color;
      }
    }
    @include media-w-m {
      padding: 10px $breadcrumbs-padding 10px $breadcrumbs-padding;
    }
  }

  .breadcrumbs_list {
    @extend %list-unstyled;
    float: right;
  }

  .breadcrumbs_item {
    margin: 0 2px;
    float: left;
  }

// ---------------------------------------------
// PAGINATION

  .pagination {
    @extend %list-unstyled;
    margin: 0 auto;
    text-align: center;
  }

  .pagination_item {
    display: inline-block;
    
  }

  .pagination_link {
    padding: 5px 8px;
    display: block;
    color: $pagination_link-text-color;
    border: none;
    line-height: 20px;
    &.active {
      color: $pagination_link-active-text-color;
    }

    @include media-w-s {
      padding: 4px 4px;
    }
  }

// ---------------------------------------------
// MONTH SWITCHER

  .months-switcher {
    .months-switcher-input {
      width: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }
    .date {
      display: inline-block;
      width: 150px;
      text-align: center;
      cursor: pointer;
      @include transition(color $months-switcher-ease);
      &.short {
        display: none;
      }
      @media screen and (max-width: $months-switcher-short-width) {
        & {
          display: none;
        }
        &.short {
          display: inline-block;
        }
        width: 82px;     
      }
      &:hover {
        color: $months-switcher-date-hover-color;
      }
    }
    .next,
    .prev {
      color: $months-switcher-chevron-color;
      cursor: pointer;
      -webkit-touch-callout: none;
      font-size: $months-switcher-chevron-size;
      @include user-select(none);
      @include transition(color $months-switcher-ease);
      &:hover {
        color: $months-switcher-chevron-hover-color;
      }
    }
    .next { padding-left: 10px; }
    .prev { padding-right: 10px; }
    @media screen and (max-width: $months-switcher-short-width) { 
      .next { padding-left: 5px; }
      .prev { padding-right: 5px; } 
    }
  }

// ---------------------------------------------
// INSERT UID & PIN BOX 

  .insert-uid-pin_box {
    .sticker {
      margin: $insert-uid-pin-img-margin;
      max-width: $insert-uid-pin-img-max-width;
      @include media-w-xs {
        max-width: 100%;
      }  
    }
  }
  
  // ---------------------------------------------
  // LOGO GRID (SCHRANKA BLANK)
  
  .logo-grid {
    .logo-grid_row {
      @include clearfix;
      margin: $logo-grid-row-margin;
      @include media-w-s {
        max-width: $logo-grid-row-max-width;
      }
      @include media-w-xs {
        max-width: 100%;
        margin: 0;
        &:first-child {
          .logo-grid_item .logo {
            border-bottom: 0;
          }
        }
      }
    }
    .logo-grid_item {
      width: $logo-grid-columns;
      float: left;
      padding: 0 $logo-grid-padding/2;
      &:first-child { padding: 0 $logo-grid-padding 0 0; }
      &:last-child { padding: 0 0 0 $logo-grid-padding; }
      @include media-w-xs {
        padding: 0;
        &:first-child { 
          padding: 0;
          .logo { border-left: 1px solid $logo-grid-border-color; }
        }
        &:last-child { padding: 0; }
      } 
    }
    .logo {
      display: block;
      width: 100%;
      border: 1px solid $logo-grid-border-color;
      border-radius: $logo-grid-border-radius;
      @include media-w-xs {
        border-radius: 0px;
        border-left: 0;
      } 
    }
  }
  
  .from-to-dropdown {
    cursor: pointer;
    font-size: $from-to-dropdown-font-size;
    line-height: $from-to-dropdown-line-height;
    position: relative;
    .from-to-dropdown_content {
      display: inline-block;
      vertical-align: middle;
    }
    .from-to-dropdown_caret {
      display: inline-block;
      vertical-align: middle;
      font-size: $from-to-dropdown-caret-font-size;
      margin-left: 7px;
    }
    .drop-picker {
      display: none;
      position: absolute;
      width: $from-to-dropdown-width;
      padding: $from-to-dropdown-padding;
      margin-left: -220px;
      top: $from-to-dropdown-top;
      background-color: $from-to-dropdown-bg-color;
      border: 1px solid $from-to-dropdown-border-color;
      border-radius: $from-to-dropdown-border-radius;
      z-index: $from-to-dropdown-z-index;
      @include box-shadow($header-main-box-shadow);
      &.active {
        display: block;
      }
      .btnblock {
        float: left;
        margin-left: 10px;
      }
      .drop-picker_column {
        width: 200px;
        float: left;
      }
      &:before,
      &:after {
        content: '';
        width: 1px;
        height: 1px;
        margin: 0 auto;
        display: block;
        position: absolute;
        top: -17px;
        left: 0;
        right: 0;
      }
      &:before {
        z-index: 101;
        bottom: 2px;
        border: 8px solid transparent;
        border-bottom-color: $from-to-dropdown-border-color;
      }
      &:after {
        z-index: 102;
        border: 9px solid transparent;
        border-bottom-color: $from-to-dropdown-bg-color;
      }
    } 
  }
  
// ---------------------------------------------
// REMINDERS

  .reminder-inmodal_header,
  .note-inmodal_header {
    padding: $reminder-shipments_header-padding;
    background-color: $reminder-shipments_header-bg-color;
    border-bottom: 1px solid $reminder-shipments_header-border-color;
    color: $reminder-shipments_header-text-color;
    span:first-child {
      margin-right: 10px;
    }
  }

  .reminder-inmodal_content,
  .note-inmodal_content {
    padding: $reminder-shipments_content-padding;
    &.more-space {
      padding: $reminder-shipments_header-padding-more;
    }
    time {
      margin: 0 10px;
      span { margin: 0 10px;}
    }
  }

// ---------------------------------------------
// SHIPMENT DETAIL

  .shipment-detail_button-row {
    @include media-w-xs {
      .btnline + .btnline {
        margin-top: 10px;
      }
    }
  }

// ---------------------------------------------
// PAY GATES

  .pay-gates {
    .pay-gates_img {
      max-width: 160px;
    }
    .btn-block {
      margin-top: 15px;
    }
    @include media-w-s {
      .btn-block { text-align: center; }
      .pay-gates_img { float: none !important; }
    }
    @include media-w-l {
      .btn-block { text-align: center; }
      .pay-gates_img { float: none !important; }
    }
  }
  
// ---------------------------------------------
// SHIPMENT PREVIEW
  
  .document-preview {
    .box-simple_header {
      padding: $dropzone-header-padding;
      h3 { line-height: $dropzone-header-line-height; }
      @include media-w-xs {
        .btn { margin-top: 10px; }
      }
    }
    .box-simple_content {
      overflow: hidden;
      padding: 0 0 20px 0;
    }
    .bxslider {
      visibility: hidden;
    }
    .bx-loaded .bxslider {
      visibility: visible;
    }
  }
  
// ---------------------------------------------
// BXSLIDER

  .bx-wrapper {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    *zoom: 1;
    img {
      width: 100%;
      display: block;
      margin: 0px auto;
    }
  }
  
  .bxslider {
    margin: 0;
  }


  /** THEME
  ===================================*/

  .bx-wrapper {
    .bx-viewport {
      background: #fff;
      
      /*fix other elements on the page moving (on Chrome)*/
      @include transform-2d(translateZ(0));
    }
    
    bx-pager,
    .bx-controls-auto {
      position: absolute;
      bottom: -30px;
      width: 100%;
    }
    
    /* LOADER */

    .bx-loading {
      min-height: 50px;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-align:  center;
      margin-top: 20px;
      z-index: $bxslider-controls-zindex;
    }

    /* PAGER */

    .bx-pager {
      text-align: center;
      padding-top: $bxslider-controls-padding;
      color: $bxslider-controls-pager-color;
      
    }
    
    .bx-pager-item {
      display: none;
    }

    /* DIRECTION CONTROLS (NEXT / PREV) */

    .bx-controls-direction a {
      opacity: $bxslider-controls-opacity;
      position: absolute;
      top: 50%;
      margin-top: -$bxslider-controls-size;
      outline: 0;
      width: $bxslider-controls-size;
      height: $bxslider-controls-size;
      z-index: $bxslider-controls-zindex;
      text-align: center;
      background-color: $bxslider-controls-bg-color;
      color: $bxslider-controls-color;
      vertical-align: middle;
      border-bottom: 0;
      @include transition(opacity $bxslider-controls-ease);
      .icon {
        line-height: $bxslider-controls-size;
      }
      &.bx-next {
        right: 0;
        @include border-left-radius($border-radius-main);
        border-top-left-radius: $border-radius-main;
        .icon {
          margin-right: -3px;
        }
      }
      &.bx-prev {
        left: 0;
        @include border-right-radius($border-radius-main);
        .icon {
          margin-left: -3px;
        }
      }
      &:hover {
        opacity: 1;
      }
      &.disabled {
        display: none;
      }
    }
    
    .bxslider-lightbox_open {
      display: block;
      height: $bxslider-controls-size;
      width: $bxslider-controls-size;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -29px;
      margin-top: -29px;
      background-color: $bxslider-controls-bg-color;;
      color: $bxslider-controls-color;
      border-radius: $border-radius-main;
      border-bottom: 0;
      opacity: $bxslider-controls-opacity;
      @include transition(opacity $bxslider-controls-ease);
      .icon {
        line-height: $bxslider-controls-size;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  
// ---------------------------------------------
// LIGHTBOX
  
  .lightbox {
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0); /* IE Fallback (Solid Colour) */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAIElEQVQ4T2NkYGDYDMRkA8ZRAxhGw4BhNAyA+WAYpAMAIFgLQfO9BoEAAAAASUVORK5CYII=);
    background: rgba(0, 0, 0, $lightbox-opacity);
    -webkit-filter: none !important;
    z-index: $lightbox-zindex;
    img {
      display: block;
      position: absolute;
      border: 5px solid #fff;
      box-shadow: 0 0 20px #000;
      border-radius: 1px;
    }
  }

  .lightbox-loading {
    margin: -16px 0 0 -16px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: $lightbox-loader-color;
  }

  .lightbox-caption {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: $lightbox-zindex-caption;
    background: $lightbox-caption-bg;
    background: rgba(0,0,0,$lightbox-opacity);
    p {
      margin: 0 auto;
      max-width: 70%;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      padding: 10px;
      color: $lightbox-caption-color;
      font-size: $lightbox-caption-font-size;
      line-height: $lightbox-caption-line-height;
    }
  }

  .lightbox-button {
    position: absolute;
    z-index: $lightbox-zindex-buttons;
    width: $lightbox-button-width;
    height: $lightbox-button-height;
    opacity: $lightbox-opacity;
    border: 0;
    text-align: center;
    @include transition(all 0.3s);
    background-color: $lightbox-button-bg-color;
    color: $lightbox-button-color;
    .icon { line-height: $lightbox-button-height; }
    &:hover,
    &:focus {
      opacity: 1;
      border: 0;
    }
  }

  .lightbox-next,
  .lightbox-previous {
    line-height: $lightbox-button-height;
    top: 50%;
    margin-top: -$lightbox-button-height / 2;
  }

  .lightbox-next { 
    right: 0;
    @include border-left-radius($lightbox-button-radius); 
  }
  .lightbox-previous { 
    left: 0;
    @include border-right-radius($lightbox-button-radius);
  }

  .lightbox-close {
    right: $lightbox-close-offest;
    top: $lightbox-close-offest;
    border-bottom-left-radius: $lightbox-button-radius;
  }
  
// ---------------------------------------------
// DROPZONE
  
  .dropzone {
    height: $dropzone-height;
    background-color: $dropzone-bg-color;
    .dz-message {
      width: $dropzone-placeholder-width;
      padding: $dropzone-placeholder-padding;
      display: inline-block;
      vertical-align: middle;
      color: $dropzone-placeholder-color;
      background-color: $dropzone-placeholder-bg-color;
      border: $dropzone-placeholder-border;
      border-radius: $dropzone-placeholder-border-radius;
      @include box-shadow($dropzone-placeholder-box-shadow);
      cursor: pointer;
      @include media-w-s { width: $dropzone-placeholder-width-s; }
    }
    &.dz-drag-hover {
      .dz-message {
        border: $dropzone-placeholder-border-drag;
      }
    }
    @include media-w-xs {
      height: $dropzone-height-xs;
    }
  }
  
  .dropzone_message {
    display: inline-block;
    vertical-align: middle;
    .icon { vertical-align: middle; }
  }
  
  .dropzone_icon {
    margin-bottom: 15px;
  }
  
// ---------------------------------------------
// ZELENA TLACIAREN

  .zelena-tlaciaren {
    padding: 30px 0;
    text-align: center;
  }
  
  .zelena-tlaciaren_icon,
  .zelena-tlaciaren_text {
    display: inline-block;
    vertical-align: middle;
  }
  
  .zelena-tlaciaren_icon { margin-right: 20px; }
  .zelena-tlaciaren_text { text-align: left; }
  
// ---------------------------------------------
// SHIPMENT SENT HERO

  .shipment-sent-hero { 
    margin-bottom: $shipment-sent-hero-mrg-bottom;
    @include media-w-xs {
      .btn + .btn { margin-top: 15px; }
    }
  }

// ---------------------------------------------
// MARKING COMPONENT

  .marking-tool {
    position: relative;
    display: none;
    &.active {
      display: block;
    }
    img { @include border-bottom-radius(4px); }
  }

  .marker {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $marking-tool-z-index;
    cursor: move;
  }
  .marker_selection {
    width: 200px;
    height: 50px;
    position: relative;
    top: 10px;
    left: 10px;
    border: 3px solid $marker_selection-border-color;
    display: block;
    @include box-sizing(content-box);
    @include border-radius($marker_selection-border-radius);
    @include box-shadow($marker_selection-box-shadow);
    @include transition(border $marker_selection-ease);
    &.ui-resizable-resizing,
    &.ui-draggable-dragging {
      border-color: $marker_selection-used-border-color;
    }
  }
  .marker_controls {
    min-width: 85px;
    max-height: 50px;
    margin-top: 8px;
    padding: 5px;
    position: absolute;
    top: 100%;
    right: 7px;
    z-index: 2;
    overflow: hidden;
    opacity: 1;
    float: right;
    background-color: $marker_controls-bg-color;
    @include border-radius($marker_controls-border-radius);
    @include box-shadow($marker_controls-box-shadow);
    @include transition(
      max-height $marker_controls-ease, 
      padding $marker_controls-ease, 
      margin $marker_controls-ease, 
      opacity $marker_controls-ease,
      background $marker_controls-ease);    
    .ui-resizable-resizing &,
    .ui-draggable-dragging &{
      max-height: 0;
      margin-top: 0;
      padding: 0 5px;
      opacity: 0;
      background-color: $marker_controls-used-bg-color;
      @include transition-timing-function(ease-out)
    }
  }

  .ui-draggable-handle {
    -ms-touch-action: none;
    touch-action: none;
  }

  .ui-resizable {
    position: relative;
  }

  .ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
  }

  %ui-resizable-handle-point {
    width: 16px;
    height: 16px;
    background-color: $marker-handle-point-bg-color;
    border: 3px solid $marker-handle-point-border-color;
    @include border-radius(50%);
    @include transition(border $marker-handle-point-ease);
    .ui-resizable-resizing &, 
    .ui-draggable-dragging & {
      border-color: $marker-handle-point-used-border-color;
    }
  }

  .ui-resizable-disabled .ui-resizable-handle,
  .ui-resizable-autohide .ui-resizable-handle {
    display: none;
  }
  .ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
  }
  .ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
  }
  .ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
  }
  .ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
  }
  .ui-resizable-se {
    @extend %ui-resizable-handle-point;
    cursor: se-resize;
    right: $marker-handle-point-position;
    bottom: $marker-handle-point-position;
  }
  .ui-resizable-sw {
    @extend %ui-resizable-handle-point;
    cursor: sw-resize;
    left: $marker-handle-point-position;
    bottom: $marker-handle-point-position;
  }
  .ui-resizable-nw {
    @extend %ui-resizable-handle-point;
    cursor: nw-resize;
    left: $marker-handle-point-position;
    top: $marker-handle-point-position;
  }
  .ui-resizable-ne {
    @extend %ui-resizable-handle-point;
    cursor: ne-resize;
    right: $marker-handle-point-position;
    top: $marker-handle-point-position;
  }

// ---------------------------------------------
// SERVICE DETAIL 
  
  .service-detail_img {
    width: $service-detail_img-width;
    max-width: $service-detail_img-max-width;
    padding-right: 10px;
    @include media-w-xs {
      max-width: $service-detail_img-max-width-xs;
    }
  }
  
  .service-detail_settings {
    width: $service-detail_settings-width;
  }
  
// ---------------------------------------------
// TABS

  .tabs {
    @extend %list-unstyled;
    @include clearfix;
    & + .box-simple {
      border-top-left-radius: 0px;
    }
  }
  
  .tabs_item {
    cursor: pointer;
    float: left;
    padding: $tabs_item-padding;
    border-top: 1px solid $tabs-border-color;
    border-right: 1px solid $tabs-border-color;
    position: relative;
    &:first-child {
      border-left: 1px solid $tabs-border-color;
    }
    &.active {
      cursor: auto;
      background-color: #fff;
    }
    &.active:after{
      content: '';
      height: 1px;
      width: 100%;
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      background-color: #fff;
    }
  }
  
  @mixin tabs-collapse {
    background-color: $tabs-collapse-bg-color;
    border: 1px solid $tabs-border-color; 
    border-bottom: 0;
    h3 {
      font-size: $tabs-collapse-font-size;
      color: $tabs-collapse-color;
    }
    .tabs_item {
      border: 0;
    }

    .tabs_item.active {
      h3 { color: $tabs-collapse-active-color; }
      &:after {
        display: none;
      }
    }

    & + .box-simple {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  
  @include media-w-s {
    .tabs-collapse-s {
      @include tabs-collapse;
    }
  }
  
  @include media-w-xs {
    .tabs-collapse-xs {
      @include tabs-collapse;
    }
  }
  
  .tabs_panel {
    display: none;
    &.active { display: block; }
  }
  
  // ---------------------------------------------
  // SIDE MENU
    
    .side-menu {
      @extend %list-unstyled;
      @include clearfix;
    }
    
    .side-menu_item {
      border-top: 1px solid $side-menu-border-color;
      &:first-child {
        border-top: 0;
      }
      a {
        display: block;
        padding: $side-menu-padding;
        font-weight: bold;
        color: $side-menu-color;
        border: none;
      }
      &.active a  {
        background-color: $side-menu-active-bg-color;
        color: $side-menu-active-color;
      }
    }
    
    .sticky-wrapper {
      width: 100%;
      display: inline-block;
    }

// ---------------------------------------------
// SUBNAVIGATION

  .subnavigation_list {
    @extend %list-unstyled;
    @include clearfix;
    border-bottom: 2px solid $subnavigation-border-color;
  }
  
  .subnavigation_item {
    cursor: pointer;
    float: left;
    a {
      display: block;
      padding: $subnavigation-padding;
      color: $subnavigation-color;
      font-weight: bold;
      font-size: $subnavigation-font-size;
      border: none;
      &.active {
        color: $subnavigation-active-color;
      }
      @include media-w-s {
        padding: $subnavigation-padding-s;
        font-size: $subnavigation-font-size-s;
      }
    }
  }

// ---------------------------------------------
// ROW WITH SWITCH

  .row-switch_item {
    border-top: 1px solid $row-with-switch-border;
    padding: $row-with-switch-padding;
    &:first-child {
      border-top: 0;
    }
  }
  
  .row-switch_icon {
    margin-right: 10px;
    width: 64px;
    text-align: center;
    .facebook {
      color: $color-facebook;
    }
    .google {
      color: $color-google;
    }
    .twitter {
      color: $color-twitter;
    }
    .linkedin {
      color: $color-linkedin;
    }
    &.city {
      height: 42px;
      width: 42px;
      background-color: $color-city-bg;
      margin-left: 8px;
      margin-right: 23px;
      border-radius: 8px;
      i { 
        line-height: 42px;
        color: $color-city;
      }
    }
    @include media-w-s {
      width: 48px;
    }
  }
  
  .row-switch_content {
    &.offset-top { margin-top: 12px; }
    .change-name {
      margin-top: 7px; 
      display: block; 
    } 
  }
  
  .row-switch_switcher {
    margin-top: 10px;
    @include media-w-s {
      float: left !important;
      clear: both;
      margin-left: 58px;
    }
  }
  
  .row-switch_input {
    label { display: block; }
    .input,
    .btn {
      display: inline-block;
      vertical-align: middle;
    }
    .input { width: 170px; }
    @include media-w-xs { 
      .input { width: 140px; }
    }
  }
  
  @include media-w-xs {
    .row-switch_content .date,
    .row-switch_content .device-name { display: block; }
    
    .row-switch_icon {
      width: 25%;
      padding-right: 6px;
      margin: 0;
    }
    
    .row-switch_content {
      width: 75%;
    }
    
    .row-switch_switcher {
      float: left !important;
      margin-left: 25%;
      width: 75%;
      text-align: left;
    }
  }

// ---------------------------------------------
// FOOTER

  .footer-main {
    padding: $footer-padding;
    background-color: $footer-bg-color;
    @include box-shadow($footer-box-shadow)
  }

  .footer-main_headline {
    padding-bottom: 10px;
    border-bottom: 2px solid $footer-headline-border-color;
    display: block;
  }

  .nav-footer {
    @extend %list-unstyled;
  }
  .nav-footer_item {
    margin-top: 5px;
    &:first-child { margin-top: 0;}
  }
  .nav-footer_link {
    color: $footer-text-color;
    border: none;
    font-weight: 600;
    &:hover { color: $footer-hover-text-color;}
  }
  .nav-footer_social {
    vertical-align: middle;
    span { vertical-align: middle; display: inline-block;}
  }
  .nav-footer_app {
    margin-right: 10px;
  }
  .nav-footer_icon {
    margin-right: 10px;
    vertical-align: middle;
  }

// ---------------------------------------------
// RADIO TOGGLE

  .radio-toggle {
    display: none;
    &.active {
      display: block;
    }
  }
  
// ---------------------------------------------
// INLINE BOX

  .inline-box {
    @extend .box-simple;
    background-color: $inline-box-background;
  }
  
  .inline-box_content {
    @extend .box-simple_content;
  }
  
// ---------------------------------------------
// PAYGATE LINE IN SETTINGS KREDIT
  
  .paygate-line {
    
    img { 
      height: 22px;
      margin: 0 10px;
    }
    
    label,
    img,
    .btnline {
      display: inline-block; 
      vertical-align: middle;
    }
    
    @include media-w-xs {
      .btnline { display: block; }
      .btn { margin-top: 10px; }
    }
  }
  
  .document-empty_content {
    height: 500px;
    .icon {
      display: block;
      margin-bottom: 20px;
    }
  }

// ---------------------------------------------
// CHARTS

  .chart_container {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
  }
  .chart-doughnut_container {
    width: 70%;
    float: left;
    & + .legend_container {
      width: 30%;
      float: right;
    }
  }
  .legend_container {
    padding: 30px;
    .doughnut-legend,
    .bar-legend {
      @extend %list-unstyled;
    }
    .legend_item {
      margin: 5px 0;
      display: block;
      span {
        width: 22px;
        height: 22px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  @include media-w-s {
    .chart-doughnut_container {
      width: 100%;
      float: none;
    }
    .legend_container {
      width: 100%;
      float: none;
    }
  }