// ---------------------------------------------
// CONFIGURATION
// ---------------------------------------------

// ----------------------------
// GENERAL

  $default-bg-color:    $color-smokewhite-bg !default;
  $default-text-color:  $color-black !default;

  // selection
  $selection-bg-color:    $color-green !default;
  $selection-text-color:  $color-white !default;
  
// ----------------------------
// TYPOGRAPHY

  $default-font-family:           $font-family-opensans !default;
  $default-font-size:             $font-size-root !default;
  $default-line-height:           $line-height-normal !default;
  $default-text-margin-vertical:  $space-text !default;

  $headline-text-color:       $color-darkgreen !default;
  $headline-line-height:      $line-height-headline !default;
  $headline-margin-vertical:  $headline-margin !default;
  
  $h1-font-size:    $font-size-xl !default;
  $h2-font-size:    $font-size-l !default;
  $h3-font-size:    $font-size-m !default;
  
  $hero-font-size:        $font-size-s !default;
  $hero-line-height:      $line-height-hero !default;
  $hero-margin-vertical:  $headline-margin-vertical !default;
  
  $small-font-size:   $font-size-xs !default;
  $small-line-height: $line-height-small;
  
  $desc-text-color:   $color-grey !default;
  
  $link-text-color:         $color-green !default;
  $link-hover-text-color:   $color-lightgreen !default;
  $link-hover-border-color: $color-lightgreen !default;
  $link-ease:               $ease-300 !default;
  
  $text-color-black:      $color-black !default;
  $text-color-grey:       $color-grey !default;
  $text-color-lightgrey:  $color-lightgrey !default;
  $text-color-white:      $color-white;
  
  $text-color-green:        $color-green;
  $text-color-lightgreen:   $color-lightgreen;
  $text-color-darkgreen:    $color-darkgreen;
  $text-color-orange:       $color-orange;
  $text-color-red:          $color-red;
  $text-color-blue:         $color-blue;
  $text-color-yellow:         $color-yellow;
  
  $hr-bg-color: $color-semiblack-40 !default;

// ----------------------------
// ICONS

  $icon-xl: $icon-48 !default;
  $icon-l: $icon-32 !default;
  $icon-m: $icon-24 !default;
  $icon-s: $icon-16 !default;
  
  $icon-white: $color-white !default;
  $icon-semiwhite: $color-semiwhite !default;
  
  $icon-ease: $ease-300 !default;

// ----------------------------
// GRID 

  $default-margin-vertical: $space-vertical2x !default;
  $vspace-margin:           $space-vertical !default;
  
  $wrapper-main-width:      $page-viewport !default;
  $wrapper-main-width-xl:   $page-viewport-xl !default;
  $wrapper-main-padding:    $page-side-padding !default;
  $wrapper-main-padding-xl: $page-side-padding-xl !default;
  $wrapper-main-padding-m:  $page-side-padding-m !default;
  $wrapper-main-padding-s:  $page-side-padding-s !default;
  
  // grid 12
  $grid12-width:      $page-viewport !default;
  $grid12-width-xl:   $page-viewport-xl !default;
  
  $grid12-padding:    $page-side-padding !default;
  $grid12-padding-xl: $page-side-padding-xl !default;
  $grid12-padding-m:  $page-side-padding-m !default;
  $grid12-padding-s:  $page-side-padding-s !default;
  
  $grid12-gutter:     $space-horizontal !default;
  $grid12-gutter-xl:  $space-horizontal-xl !default;
  $grid12-gutter-m:   $space-horizontal-m !default;
  $grid12-gutter-s:   $space-horizontal-s !default;
  
  $grid12-row-margin-vertical:  $space-vertical !default;
  $grid12-row-margin-vertical-m:  $space-vertical-small !default;

// ----------------------------
// BUTTONS

  $btn-padding:       4px 10px 6px !default;
  $btn-bg-color:      $color-grey !default;
  $btn-border-color:  rgba(#000,0.15) !default;
  $btn-border-radius: $border-radius-main !default;
  $btn-box-shadow:    $box-shadow-inner-bottom;
  $btn-font-size:     $font-size-root !default;
  $btn-text-color:    $color-white !default;
  $btn-ease:          $ease-200 !default;
  
  $btn-hover-bg-color:        $color-grey-dark !default;
  $btn-hover-text-color:      $color-white !default;
  $btn-active-padding:        5px 10px !default;
  $btn-active-box-shadow:     $box-shadow-inner-top !default;
  $btn-disabled-text-color:   darken($color-grey-dark,30%) !default;
  
  $btn-icon-margin:   10px !default;
  $btn-icon-padding:  40px !default;
  $btn-icon-position: 10px !default;
  
  $btn-green-bg-color:            $color-lightgreen !default;
  $btn-green-hover-bg-color:      $color-green !default;
  $btn-green-disabled-text-color: darken($color-green, 10%) !default;
  
  $btn-orange-bg-color:             $color-orange !default;
  $btn-orange-hover-bg-color:       $color-orange-dark !default;
  $btn-orange-disabled-text-color:  darken($color-orange-dark, 10%) !default;
  
  $btn-white-padding:             3px 10px 5px !default;
  $btn-white-bg-color:            $color-smokewhite !default;
  $btn-white-border-color:        $color-lightgrey-light !default;
  $btn-white-box-shadow:          $box-shadow-light-inner-bottom;
  $btn-white-text-color:          $color-grey !default;
  $btn-white-hover-bg-color:      lighten($color-lightgrey-light, 15%) !default;
  $btn-white-hover-border-color:  $color-lightgrey !default;
  $btn-white-hover-text-color:    $color-grey !default;
  $btn-white-active-padding:      4px 10px !default;
  $btn-white-active-bg-color:     lighten($color-lightgrey-light, 15%) !default;
  $btn-white-active-box-shadow:   $box-shadow-light-inner-top;
  $btn-white-disabled-text-color: $color-lightgrey;
  
  $btn-white-2-border-color: $color-green;
  $btn-white-2-box-shadow: $box-shadow-green-inner-bottom;
  $btn-white-2-text-color: $color-green;
  $btn-white-2-hover-bg-color: $color-smokewhite;
  $btn-white-2-hover-text-color: $color-lightgreen;
  $btn-white-2-active-box-shadow: $box-shadow-green-inner-top;
  $btn-white-2-disabled-text-color: $color-green;
  
  $btn-clean-box-shadow:          $box-shadow-none-inner-bottom;
  $btn-clean-hover-box-shadow:    $btn-white-box-shadow;
  $btn-clean-hover-bg-color:      $color-white;
  
  $btn-clean-text-color:      $color-green;

  $btnline-btn-margin: 5px !default;
  $btnblock-btn-margin: 10px !default;
  
  $btnbar-btngroup-margin: 10px !default;
  
// ----------------------------
// FORMS

  $input-height: $input-height !default;
  $input-padding: 5px 8px !default;
  $input-bg-color: $color-smokewhite !default;
  $input-border-color: $color-lightgrey-light !default;
  $input-border-radius: $border-radius-main !default;
  $input-box-shadow: $box-shadow-thin-inner-top;
  $input-font-size: $font-size-root !default;
  $input-text-color: $color-black !default;
  $input-ease: $ease-200 !default;
  
  $input-hover-border-color: $color-lightgrey-dark !default;
  $input-hover-box-shadow: $box-shadow-thin-dark-inner-top;
  
  $input-disabled-bg-color: $color-lightgrey-light !default;
  
  $input-error-border-color: $color-orange !default;
  $input-error-bg-color: $color-smokeorange;
  $input-error-text-color: $color-orange !default;
  
  $input-static-padding: 5px 0 !default;
  $input-static-stack-negative: -7px;
  $input-static-stack-padding: 0 0 5px !default;
  
  $form-label-margin-vertical: 7px;
  $form-label-padding: 5px 0;
  $form-label-text-color: $color-black !default;
  $form-label-font-size: $font-size-root !default;
  
  $form-error-margin: 2px 0 2px 2px;
  $form-error-text-color: $color-orange;
  $form-error-font-size: $font-size-xs;
  $form-error-line-height: 1.3em;
  
  $form-help-margin: $form-error-margin;
  $form-help-text-color: $color-grey;
  $form-help-font-size: $form-error-font-size;
  $form-help-line-height: $form-error-line-height;
  
  $form-gutter:     5px !default;
  $form-gutter-xl:  10px !default;
  $form-gutter-m:   5px !default;
  $form-gutter-s:   5px !default;
  
  $form-control-vertical-margin: $space-vertical !default;
  $form-control-condensed-vertical-margin: $space-vertical-small !default;
  $form-control-block-margin-vertical: 5px;
  
  $dropdown-list-padding: 0 0 3px !default;
  $dropdown-list-bg-color: $color-smokewhite !default;
  $dropdown-list-border-color: $color-semiblack-40 !default;
  $dropdown-list-border-radius: $border-radius-main !default;
  $dropdown-list-box-shadow: $box-shadow-inner-bottom !default;
  $dropdown-list-z-index: $z-index-default !default;
  $dropdown-list-ease: $ease-200 !default;
  $dropdown-list-ease-delayed: $ease-200-delayed !default;

  $dropdown-list-item-padding: 4px 6px !default;
  $dropdown-list-item-text-color: $color-black !default;
  $dropdown-list-item-ease: $ease-200 !default;
  $dropdown-list-item-hover-bg-color: $color-lightgrey-lighter !default;
  
  $checkbox-margin: 13px !default;
  $checkbox-size: 16px;
  $checkbox-bg-color: $color-smokewhite;
  $checkbox-border-color: $color-lightgrey-light;
  $checkbox-border-radius: 2px;
  $checkbox-box-shadow: $box-shadow-thin-inner-top;
  $checkbox-ease: $ease-200;
  
  $checkbox-hover-border-color: $color-lightgrey-dark;
  $checkbox-hover-box-shadow: $box-shadow-thin-dark-inner-top;
  
  $checkbox-label-margin: 25px;
  
  $checkbox-checked-bullet-bg-color: $color-grey-dark;
  
  $checkbox-error-bg-color: $color-smokeorange;
  $checkbox-error-border-color: $color-orange;
  $checkbox-error-text-color: $color-orange;
  $checkbox-error-checked-bullet-bg-color: $color-orange;
  
  $checkbox-success-bg-color: $color-smokegreen;
  $checkbox-success-border-color: $color-green;
  $checkbox-success-text-color: $color-green;
  $checkbox-success-checked-bullet-bg-color: $color-green;
  
  $select-control-height: $input-height;
  $select-control-padding: 3px 0 5px 0 !default;
  $select-control-bg-color: $input-bg-color;
  $select-control-border-color: $input-border-color;
  $select-control-border-radius: $input-border-radius;
  $select-control-box-shadow: $box-shadow-light-inner-bottom;
  $select-control-font-size: $input-font-size;
  $select-control-text-color: $input-text-color;
  $select-control-ease: $input-ease;
  
  $select-control-hover-padding: 4px 0 4px !default;
  $select-control-hover-box-shadow: $box-shadow-light-inner-top;
  
  $select-control-disabled-bg-color: $input-disabled-bg-color;
  $select-control-disabled-border-color: $input-hover-border-color;
  
  $select-control-error-bg-color: $input-error-bg-color;
  $select-control-error-border-color: $input-error-border-color;
  $select-control-error-text-color: $input-error-text-color;
  
  $select-dropdown-padding: $dropdown-list-padding;
  $select-dropdown-z-index: $dropdown-list-z-index;
  $select-dropdown-bg-color: $dropdown-list-bg-color;
  $select-dropdown-border-color: $dropdown-list-border-color;
  $select-dropdown-border-radius: $dropdown-list-border-radius;
  $select-dropdown-ease-delayed: $dropdown-list-ease-delayed;
  $select-dropdown-ease: $dropdown-list-ease;
  
  $select-dropdown-item-padding: $dropdown-list-item-padding;
  $select-dropdown-item-text-color: $dropdown-list-item-text-color;
  $select-dropdown-item-ease: $dropdown-list-item-ease; 
  $select-dropdown-item-hover-bg-color: $dropdown-list-item-hover-bg-color;
  
  $switch-height: $input-height !default;
  $switch-border-radius: $border-radius-main !default;
  $switch-ease: $ease-300 !default;
  
  $switch-element-font-size: $font-size-root;
  
  $switch-control-padding:              4px 8px;
  $switch-control-bg-color:             $color-smokewhite;
  $switch-control-border-color:         $color-lightgrey-light;
  $switch-control-box-shadow:           $box-shadow-light-inner-bottom;
  $switch-control-hover-bg-color:       lighten($color-lightgrey-light, 15%) !default;
  $switch-control-hover-border-color:   $color-lightgrey !default;
  $switch-control-focus-box-shadow:     $box-shadow-light-inner-top;
  
  $switch-state-padding: 5px 8px;
  $switch-state-text-color: $color-white;
  
  $switch-left-bg-color: $color-lightgreen;
  $switch-left-hover-bg-color: $color-green;
  
  $switch-right-bg-color: $color-orange;
  $switch-right-hover-bg-color: $color-orange-dark;
  
  $datepicker-bg-color: $color-smokewhite;
  $datepicker-z-index: $z-index-default + 50 !important;
  $datepicker-border-color: $color-lightgrey-light;
  $datepicker-border-radius: $border-radius-main;
  $datepicker-box-shadow: $box-shadow-light-inner-bottom;
  $datepicker-ease: $ease-200;
  
  $datepicker-th-text-color: $color-lightgrey;
  
  $datepicker-td-hover-bg-color: $color-lightgrey-lighter !default;
  $datepicker-td-disabled-text-color: $color-lightgrey !default;
  $datepicker-td-old-text-color: $color-lightgrey-dark !default;
  $datepicker-td-active-text-color: $color-white !default;
  $datepicker-td-active-bg-color: $color-green !default;
  
  $datepicker-switch-text-color: $color-darkgreen;
  $datepicker-switch-hover-text-color: $color-green;
  $datepicker-next-text-color: $color-green;
  $datepicker-next-hover-text-color: $color-lightgreen;
  
// ----------------------------
// MODALS

  $modal-overlay-z-index: $z-index-overlay;
  $modal-overlay-ease: $ease-200;
  $modal-overlay-bg-color: rgba($color-lightgrey-lighter, 0.5);
  
  $modal-bg-color: $color-white;
  $modal-border-color: rgba(0,0,0,0.3);
  $modal-border-radius: $border-radius-main;
  $modal-box-shadow: $box-shadow-simple-inner-bottom;
  $modal-ease: $ease-200;
  
  $modal_header-height: 56px;
  $modal_header-padding: 0 35px 0 $box-padding;
  $modal_header-bg-color: $modal-bg-color;
  $modal_header-border-color: $modal-border-color;
  $modal_header-border-bottom-color: $color-lightgrey-light;
  $modal_header-border-radius: $modal-border-radius;
  
  $modal_content-padding: $box-padding;
  
  $modal_footer-height: 51px;
  $modal_footer-padding: 10px 15px;
  $modal_footer-border-color: $modal_header-border-bottom-color;
  
  $popup_content-bg-color: $modal-bg-color;
  $popup_content-border-color: $modal-border-color;
  $popup_content-border-radius: $modal-border-radius;
  $popup_content-box-shadow: $modal-box-shadow;
  
  $popup_header-bg-color: $color-lightgreen;
  $popup_header-border-color: $color-green;
  
  $popup-close-text-color: $color-darkgreen;
  $popup-close-hover-text-color: $color-white;
  
  $popup_header-error-bg-color: $color-orange;
  $popup_header-error-border-color: darken($color-orange-dark,10%);
  $popup_header-error-text-color: darken($color-orange-dark,10%);
  
  $popup-close-error-text-color: darken($color-orange-dark,10%);
  $popup-close-error-hover-text-color: $color-white;
  
  $popup_header-warning-bg-color: $color-grey;
  $popup_header-warning-border-color: darken($color-grey-dark, 10%);
  $popup_header-warning-text-color: darken($color-grey-dark, 10%);
  
  $popup-close-warning-text-color: darken($color-grey-dark, 10%);
  $popup-close-warning-hover-text-color: $color-white;

// ----------------------------
// TABLES

  $table-cell-padding: 5px;
  $table-large-cell-padding: 15px 5px;
  $table-cell-padding-s: 3px 5px;
  $table-large-cell-padding-s: 7px 5px;
  $table-cell-border-radius: $border-radius-main;
  
  $table-batch-cell-bg-color: $color-smokeyellow-light;
  $table-batch-cell-hover-bg-color: darken($color-smokeyellow-light, 2.5%);
  
  $table-row-border: $color-semiblack-08;
  $table-row-ease: $ease-200;
  
  $table-row-selected-bg-color: $color-smokewhite-dark;
  $table-row-selected-ease: $ease-200;
  $table-row-selected-hover-bg-color: darken($color-smokewhite-dark, 4%);
  
  $table-row-unread-bg-color: $color-smokewhite-dark;
  $table-row-failed-bg-color: $color-smokeorange;
  $table-row-failed-text-color: $color-orange;
  $table-row-processing-bg-color: $color-smokewhite-dark;
  $table-row-processing-text-color: $color-grey;
  
  $table-row-hover-bg-color: $color-smokewhite-dark;
  $table-row-hover-unread-bg-color: darken($color-smokewhite-dark, 4%);
  $table-row-hover-failed-bg-color: darken($color-smokeorange, 2.5%);
  $table-row-hover-processing-bg-color: darken($color-smokewhite-dark, 4%);
  
  $table-archived-row-text-color: $color-grey;
  $table-archived-row-hover-text-color: $color-black;
  $table-img-ease: $ease-200;

  $table-row-batch-active-bg-color: $color-smokeyellow;
  $table-row-batch-active-hover-bg-color: darken($color-smokeyellow, 4%);

  $table_heading-bg-color: $color-smokewhite;
  $table_heading-font-size: $font-size-xs;
  $table_heading-text-color: $color-lightgrey;
  
  $table-batch_heading-bg-color: $color-smokeyellow-lighter;
  $table-batch_heading-text-color: $color-smokeyellow-dark;
  
  $table_sort-text-color: $color-lightgrey;
  $table_sort-hover-text-color: $color-black;
  $table_sort-active-text-color: $color-lightgreen;
  
  $table-border-top: $color-lightgrey-light;
  
  $table-actions-padding: 0 10px;

// ----------------------------
// CALENDAR

  $calendar-bg-color: $color-white;
  $calendar-border-color: $color-lightgrey-light;
  $calendar-bordar-radius: $border-radius-main;
  $calendar-box-shadow: $box-shadow-outer-bottom;
  
  $calendar-inner-border-color: $color-lightgrey-lighter;
  
  $calendar-toolbar-padding: 15px;
  
  $calendar-today-bg-color: $color-smokegreen;
  
  $calendar-mv-cell-padding: 10px;
  $calendar-mv-cell-padding-s: 5px;
  $calendar-mv-cell-padding-xs: 2px 5px;
  
  $calendar-event-bg-color: #62c05d;
  $calendar-event-border-radius: $border-radius-main;
  
  $calendar-mv-header-text-color: $color-lightgrey;
  
  $calendar-popup-bg-color: $color-smokewhite;
  $calendar-popup-border-color: $color-semiblack-20;
  $calendar-popup-border-radius: $border-radius-main;
  $calendar-popup-box-shadow: $box-shadow-simple-inner-bottom;
  $calendar-popup-header-text-color: $color-darkgreen;
  $calendar-popup-header-font-size: $font-size-s;

// ----------------------------
// MEDIA

  $media-w-xl:  1440px !default;
  $media-w-l:   1030px !default;
  $media-w-m:   1029px !default;
  $media-w-s:   767px !default;
  $media-w-xs:  479px !default; 
  
  @mixin media-w-xl() {
    @media screen and (min-width: $media-w-xl) { @content }
  }

  @mixin media-w-l() {
    @media screen and (min-width: $media-w-l) { @content }
  }

  @mixin media-w-m() {
    @media screen and (max-width: $media-w-m) { @content }
  }

  @mixin media-w-s() {
    @media screen and (max-width: $media-w-s) { @content }
  }

  @mixin media-w-xs() {
    @media screen and (max-width: $media-w-xs) { @content }
  }

// ----------------------------
// STYLE GUIDE
  
  // style guide header
  $style-guide-header-bg-color:   $color-green !default;
  $style-guide-header-text-color: $color-white !default;
  
  // style guide section header
  $style-guide-section_header-bg-color:   $color-lightgreen !default;
  $style-guide-section_header-text-color: $color-white !default;
  
// ----------------------------
// BXSLIDER

  $bxslider-controls-padding: $box-padding !default;
  $bxslider-controls-size: 48px !default;
  $bxslider-controls-bg-color: $color-green !default;
  $bxslider-controls-color: $color-white !default;
  $bxslider-controls-opacity: 0.7 !default;
  $bxslider-controls-pager-color: $color-lightgrey !default;
  $bxslider-controls-radius: $border-radius-main !default;
  $bxslider-controls-ease: $ease-200 !default;
  $bxslider-controls-zindex: $z-index-default + 1;
  
// ----------------------------
// TOOLTIPSTER

  $tooltipster-border-radius: $border-radius-main !default;
  $tooltipster-bg: $color-gray-darker;
  $tooltipster-color: $color-white;
  $tooltipster-font-size: $font-size-xs;
  $tooltipster-font: $font-family-opensans;
  $tooltipster-line-height: 18px;
  $tooltipster-padding: 10px;
  $tooltipster-zindex: $z-index-overlay + 1;
  
  $tooltipster-icon-size: 12px;
  $tooltipster-icon-padding: 5px;
  $tooltipster-icon-font-size: 10px;
  $toolttpster-icon-text-color: $color-white;
  
  $tooltipster-icon-bg-color: $color-grey;
  $tooltipster-icon-green: $color-green;
  $tooltipster-icon-lightgreen: $color-lightgreen;
  $tooltipster-icon-orange: $color-orange;
  
// ----------------------------
// LIGHTBOX

  $lightbox-opacity: 0.7;
  $lightbox-loader-color: $color-green;
  $lightbox-zindex: $z-index-overlay;
  $lightbox-zindex-caption: $z-index-overlay + 1;
  $lightbox-zindex-buttons: $z-index-overlay + 2;
  $lightbox-button-height: 50px;
  $lightbox-button-width: 50px;
  $lightbox-button-color: $color-white;
  $lightbox-button-bg-color: $color-green;
  $lightbox-button-radius: $border-radius-main;
  $lightbox-caption-bg: $color-black;
  $lightbox-caption-color: $color-white;
  $lightbox-caption-font-size: $font-size-root;
  $lightbox-caption-line-height: $line-height-normal;
  $lightbox-close-offest: 0;

// ----------------------------
// COMPONENTS

  // SIMPLE BOXES
  
    $box-simple-vertical-margin: $space-vertical2x;
    $box-simple-bg-color: $color-white;
    $box-simple-border-color: $color-lightgrey-light;
    $box-simple-border-radius: $border-radius-main;
    $box-simple-box-shadow: $box-shadow-outer-bottom;
  
    $box-simple_header-padding: $box-padding 10px;
    $box-simple_header-border-color: $color-lightgrey-light;
    
    $box-simple_content-padding: $box-padding;
    
    $box-simple_footer-padding: $box-padding;
    $box-simple_footer-border-color: $color-lightgrey-light;
    
    $box-simple-vertical-margin-m: $space-vertical-small;
    
    $box-simple_pagination-padding: 4px;
    $box-simple_pagination-bg-color: $color-smokewhite;
    
  // MAIN HEADER, SUBHEADER, BREDCRUMBS
    
    $header-main-bg-color: $color-lightgreen;
    $header-main-box-shadow: $box-shadow-simple-inner-bottom;
   
    $header-bar-max-width: $page-viewport;
    
    $header-notify-bg-color: $color-orange;
    $header-notify-border-color: $color-orange-dark;
    $header-notify-border-radius: $border-radius-main;
    $header-notify-text-color: $color-white;
    
    $header-bar-mid-bg-color-m: $color-semiblack-20;
    $header-bar-mid-ease: $ease-300;
    
    $header-nav-bar_list_link-text-color: $color-white;
    $header-nav-bar_list_link-border-color: $color-semiblack-20;
    $header-nav-bar_list_link-ease: $ease-200;
    $header-nav-bar_list_link-hover-bg-color: $color-semiblack-08;
    
    $header-nav-bar-arrow-bg-color: $color-smokewhite-bg;
    $header-nav-bar-arrow-2-bg-color: $color-white;
    $header-nav-bar-arrow-shadow-bg-color: $color-semiblack-20;
    
    $header-bar-right-bg-color: $color-semiblack-08;
    
    $header-user-bar-bg-color: $color-semiblack-20;
    $header-user-bar-ease: $ease-300;
    $header-user-bar-ease-2: $ease-100;
    $header-user-bar-font-size: $font-size-xs;
    $header-user-bar_info_name-text-color: $color-darkgreen;
    $header-user-bar_info_email-text-color: $color-white;
    $header-user-bar_info_name-hover-text-color: $color-white;
    $header-user-bar_credit-bg-color: $color-semiblack-08;
    $header-user-bar_credit-border-radius: $border-radius-main;
    $header-user-bar_credit-text-color: $color-white;

    $header-control-tab-text-color: $color-semiblack-40;
    $header-control-tab-ease: $ease-300;
    $header-control-tab-hover-text-color: $color-white;
    $header-control-tab-active-bg-color: $color-semiblack-20;
  
    $subheader-bar-max-width: $header-bar-max-width;
    $subheader-bar-padding: 15px;
    $subheader-bg-color: $color-white;
    $subheader-border-color: $color-lightgrey-light;
    
    
    $subheader-nav-bar_link-text-color: $color-lightgrey;
    $subheader-nav-bar_link-hover-text-color: $color-black;
    
    $breadcrumbs-max-width: $header-bar-max-width;
    $breadcrumbs-padding: $subheader-bar-padding;
    $breadcrumbs-text-color: $color-grey;
    $breadcrumbs-hover-text-color: $color-black;
    
  // MONTHS SWITCHER
    
    $months-switcher-date-hover-color: $color-green;
    $months-switcher-chevron-color: $color-green;
    $months-switcher-chevron-hover-color: $color-lightgreen;
    $months-switcher-ease: $ease-200;
    $months-switcher-chevron-size: 16px;
    $months-switcher-short-width: 540px;

  // PAGINATION
  
    $pagination_link-text-color: $color-lightgrey;
    $pagination_link-active-text-color: $color-black;
    
  // INSERT UID & PIN BOX
    $insert-uid-pin-img-margin: 0 0 20px 0;
    $insert-uid-pin-img-max-width: 329px;
    
  // LOGO GRID
    $logo-grid-columns: 33.3333%;
    $logo-grid-row-margin: 20px 0;
    $logo-grid-row-max-width: 450px;
    $logo-grid-border-color: $color-lightgrey-light;
    $logo-grid-border-radius: $border-radius-main;
    $logo-grid-padding: 40px;
    
  // FROM TO DROPDOWN
    $from-to-dropdown-font-size: 11px;
    $from-to-dropdown-line-height: 15px;
    $from-to-dropdown-caret-font-size: $font-size-root;
    $from-to-dropdown-width: 500px;
    $from-to-dropdown-padding: 10px 0;
    $from-to-dropdown-top: 40px;
    $from-to-dropdown-bg-color: $color-smokewhite;
    $from-to-dropdown-border-color: $color-lightgrey-dark;
    $from-to-dropdown-border-radius: $border-radius-main;
    $from-to-dropdown-z-index: 90;
    
  // REMINDERS
  
    $reminder-shipments_header-padding: 5px 15px;
    $reminder-shipments_header-padding-more: 7px 15px;
    $reminder-shipments_header-bg-color: $color-smokewhite;
    $reminder-shipments_header-border-color: $color-lightgrey-light;
    $reminder-shipments_header-text-color: $color-lightgrey;
    
    $reminder-shipments_content-padding: 15px;
    
  // DROPZONE
    
    $dropzone-header-padding: 12px 10px 11px;
    $dropzone-header-line-height: 30px;
    
    $dropzone-height: 500px;
    $dropzone-height-xs: 300px;
    $dropzone-bg-color: $color-smokewhite;
    
    $dropzone-placeholder-width: 50%;
    $dropzone-placeholder-width-s: 90%;
    $dropzone-placeholder-padding: 50px;
    $dropzone-placeholder-color: $color-lightgrey;
    $dropzone-placeholder-bg-color: $color-white;
    $dropzone-placeholder-border: 1px dashed $color-lightgrey-light;
    $dropzone-placeholder-border-drag: 1px dashed $color-grey;
    $dropzone-placeholder-border-radius: $border-radius-main;
    $dropzone-placeholder-box-shadow: $box-shadow-inner-bottom;
  
  // ZELENA TLACIAREN
  
    $zelena-tlaciaren-padding: 30px;
    
  // SHIPMENT SENT HERO
    $shipment-sent-hero-mrg-bottom: $space-horizontal * 2;
    
  // MARKING TOOL
  
    $marking-tool-z-index: $z-index-default;
    
    $marker_selection-border-color: $color-orange;
    $marker_selection-border-radius: $border-radius-main;
    $marker_selection-box-shadow: 0 0 20px 0 rgba(0,0,0,0.35);
    $marker_selection-ease: $ease-200;
    $marker_selection-used-border-color: $color-red;
    
    $marker_controls-bg-color: $color-orange;
    $marker_controls-border-radius: $marker_selection-border-radius;
    $marker_controls-box-shadow: $marker_selection-box-shadow;
    $marker_controls-used-bg-color: $color-red;
    $marker_controls-ease: $ease-in-200;
    
    $marker-handle-point-bg-color: $color-white;
    $marker-handle-point-border-color: $color-orange;
    $marker-handle-point-ease: $ease-200;
    $marker-handle-point-used-border-color: $color-red;
    $marker-handle-point-position: -9px;

  // SERVICE DETAIL
    $service-detail_img-width: 20%;
    $service-detail_img-max-width: 80px;
    $service-detail_img-max-width-xs: 60px;
    
    $service-detail_settings-width: 80%;
    
  // TABS
    $tabs-border-color: $color-lightgrey-light;
    $tabs_item-padding: $box-padding;
    $tabs-collapse-bg-color: $color-white;
    $tabs_collapse-font-size: $font-size-root;
    $tabs_collapse-color: $color-lightgrey;
    $tabs_collapse-active-color: $color-black;
        
  // SIDE MENU
    $side-menu-border-color: $color-lightgrey-light;
    $side-menu-padding: $box-padding;
    $side-menu-color: $color-lightgrey-light;
    $side-menu-active-color: $color-black;
    $side-menu-active-bg-color: $color-smokewhite-dark;
  // SUBNAVIGATION
    $subnavigation-border-color: $color-lightgrey-light;
    $subnavigation-padding: 0 30px 10px 0;
    $subnavigation-padding-s: 0 15px 10px 0;
    $subnavigation-font-size: 16px;
    $subnavigation-font-size-s: $font-size-root;
    $subnavigation-color: $color-lightgrey-light;
    $subnavigation-active-color: $color-black;
    
  // ROW WITH SWITCH
    $row-with-switch-padding: $box-padding;
    $row-with-switch-border: $color-lightgrey-light;


  // MAIN FOOTER
  
    $footer-bg-color: $color-lightgreen;
    $footer-box-shadow: $box-shadow-simple-inner-top;
    $footer-padding: 20px 0 40px;
    $footer-headline-border-color: $color-semiblack-08;
    $footer-text-color: rgba(255,255,255,0.8);
    $footer-hover-text-color: $color-white;
    
  // INLINE BOX
    $inline-box-background: $color-smokewhite;

