// ---------------------------------------------
// FORMS
// ---------------------------------------------

// ----------------------------
// INPUTS

  .input {
    width: 100%;
    height: $input-height;
    margin: 0;
    padding: $input-padding;
    position: relative;
    display: inline-block;
    background-color: $input-bg-color;
    border: 1px solid $input-border-color;
    @include border-radius($input-border-radius);
    @include box-shadow($input-box-shadow);
    outline: none;
    @include font-size($input-font-size);
    color: $input-text-color;
    line-height: 20px;
    @include transition(border $input-ease, color $input-ease, box-shadow $input-ease);

    &:focus, &:active {
      border-color: $input-hover-border-color;
      @include box-shadow($input-hover-box-shadow);
    }

    &[disabled],
    &.disabled {
      @include opacity(0.6);
      border-color: $input-hover-border-color;
      background-color: #ccc;
      pointer-events: none;
    }

    &.readonly,
    &[readonly] {
      @include opacity(0.8);
    }

    &.error {
      background-color: $input-error-bg-color;
      border-color: $input-error-border-color;
      color: $input-error-text-color;
    }
  }

  .input-static {
    width: 100%;
    margin: 0;
    padding: $input-static-padding;
    position: relative;
    display: inline-block;
    @include font-size($input-font-size);
    color: $input-text-color;
    line-height: 20px;
    cursor: default;
  }

// ----------------------------
// CUSTOMIZED INPUTS

  .input-search {
    padding-left: 26px;
    background: $input-bg-color url(../imgs/search.svg) 7px center no-repeat;
    @include background-size(auto 50%);
  }
  
  .input-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    height: 20px;
  }

// ----------------------------
// INPUT DYNAMIC

  .input-dynamic {
    width: 100%;
    position: relative;
    display: table;

    .table & {
      max-width: 200px;
    }

    .input-dynamic_addon,
    .input {
      display: table-cell;
      vertical-align: middle;
    }

    .input-dynamic_addon {
      width: 1%;
      padding-right: 5px;
      border: none;
      cursor: pointer;
    }

    .input {
      padding-right: 17px;
      background-color: transparent;
      border-color: transparent;
      @include box-shadow(none);
      &:focus {
        background: $input-bg-color url('../imgs/enter.svg') 97% center no-repeat;
        border-color: $input-hover-border-color;
        @include box-shadow($input-hover-box-shadow);
      }
      &.error:focus {
        background-color: $input-error-bg-color;
        border-color: $input-error-border-color;
        color: $input-error-text-color;
      }
    }
  }

// ----------------------------
// TEXTAREA

  textarea {
    resize: none !important;
    line-height: normal !important;
    &:not(.js-autosize) {
      height: auto !important;
    }
  } // /textarea

// ----------------------------
// CUSTOM CHECKBOX/RADIO

  .checkbox,
  .radio {
    margin: 5px 0 $checkbox-margin;
    display: inline-block;
    @include clearfix;
    
    .table & {
      margin: 0 2px;
    }
    &.with-input {
      .radio-custom,
      .checkbox-custom { top: 7px; }
      .form-controls {
        display: inline-block;
        margin-left: 10px;
      }      
    }
    &.with-image {
      img {
        display: block; 
        height: 22px; 
      }
    }
  }

  .checkbox-input,
  .radio-input {
    @include visually-hidden;
  }

  .checkbox-custom,
  .radio-custom {
    width: $checkbox-size;
    height: $checkbox-size;
    position: relative;
    top: 3px;
    float: left;
    display: block;
    background-color: $checkbox-bg-color;
    border: 1px solid $checkbox-border-color;
    @include box-shadow($checkbox-box-shadow);
    cursor: pointer;
    @include transition(all $checkbox-ease);
    :focus + &, :active + & {
      border-color: $checkbox-hover-border-color;
      @include box-shadow($checkbox-hover-box-shadow);
    }
    [disabled] + &, .disabled + & {
      @include opacity(0.6);
      pointer-events: none;
    }
    .error + & {
      background-color: $checkbox-error-bg-color;
      border-color: $checkbox-error-border-color;
    }
    .success + & {
      background-color: $checkbox-success-bg-color;
      border-color: $checkbox-success-border-color;
    }
  }

  .checkbox-custom {
    @include border-radius($checkbox-border-radius);

    /* Enable Ligatures ================ */
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:after {
      content:'\f00c';
      margin: -1px auto 0;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      display: inline-block;
      color: transparent;
      font-family: 'icomoon';
      speak: none;
      @include transform-2d(translateY(-50%));
      @include transition(color $checkbox-ease);
    }
    :checked + & {
      &:after { color: $checkbox-checked-bullet-bg-color; }
    }
    .error:checked + & {
      &:after { color: $checkbox-error-checked-bullet-bg-color; }
    }
    .success:checked + & {
      &:after { color: $checkbox-success-checked-bullet-bg-color; }
    }
    [disabled] + &, .disabled + & {
      + .checkbox-label {
        opacity: 0.6;
        pointer-events: none;
      }
    }
    .error + & {
      + .checkbox-label { color: $checkbox-error-text-color; }
    }
    .success + & {
      + .checkbox-label { color: $checkbox-success-text-color; }
    }
  }

  .radio-custom {
    @include border-radius(50%);
    &:after {
      content:'';
      width: 6px;
      height: 6px;
      margin: 0 auto 0;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      display: block;
      background-color: transparent;
      @include border-radius(50%);
      @include transform-2d(translateY(-50%));
      @include transition(background-color $checkbox-ease);
    }
    :checked + & {
      &:after { background-color: $checkbox-checked-bullet-bg-color; }
    }
    .error:checked + & {
      &:after { background-color: $checkbox-error-checked-bullet-bg-color; }
    }
    .success:checked + & {
      &:after { background-color: $checkbox-success-checked-bullet-bg-color; }
    }
    [disabled] + &, .disabled + & {
      + .radio-label {
        opacity: 0.6;
        pointer-events: none;
      }
    }
    .error + & {
      + .radio-label { color: $checkbox-error-text-color; }
    }
    .success + & {
      + .radio-label { color: $checkbox-success-text-color; }
    }
  }

  .checkbox-label,
  .radio-label {
    margin-left: $checkbox-label-margin;
    display: block;
    cursor: pointer;
  }

  .checkbox-group, .radio-group {
    margin: 5px 0 $checkbox-margin;
    @include clearfix;
    display: inline-block;
    .checkbox,
    .radio {
      float: left;
      clear: both;
      margin: 0;
    }
    &.with-images {
      .checkbox,
      .radio {
        margin-bottom: 10px;
      } 
    }
  }
  
// ----------------------------
// DROPDOWN LIST

  .dropdown-list {
    @extend %list-unstyled;
    min-width: 100%;
    padding: $dropdown-list-padding;
    margin-top: 3px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: $dropdown-list-z-index;
    opacity: 0;
    visibility: hidden;
    background-color: $dropdown-list-bg-color;
    border: 1px solid $dropdown-list-border-color;
    @include border-radius($dropdown-list-border-radius);
    @include box-shadow($dropdown-list-box-shadow);
    @include transition(visibility $dropdown-list-ease-delayed, opacity $dropdown-list-ease, transform $dropdown-list-ease);
    @include transform-2d(translateY(-20px));
    .active > & {
      opacity: 1;
      visibility: visible;
      @include transition-delay(0s);
      @include transform-2d(translateY(0px) scale(1,1));
    }
    li:first-child .dropdown-list_item {
      @include border-top-radius($dropdown-list-border-radius);
    }
  }
  .dropdown-list_item {
    padding: $dropdown-list-item-padding;
    display: block;
    border: none;
    color: $dropdown-list-item-text-color;
    @include transition(color $dropdown-list-item-ease, background $dropdown-list-item-ease);
    &:hover {
      background-color: $dropdown-list-item-hover-bg-color;
      color: $dropdown-list-item-text-color;
    }
  }

// ----------------------------
// SELECT

  .custom-select {
    width: 100%;
    margin: 0;
    position: relative;

    .custom-select-searchbox {
      padding: 5px;
    }

    .no-results {padding: 5px 10px;}
    .notify {
      position: absolute;
      bottom: 5px;
      width: 96%;
      margin: 0 2%;
      min-height: 26px;
      padding: 3px 5px;
      background: #f5f5f5;
      border: 1px solid #e3e3e3;
      pointer-events: none;
      opacity: 0.9;
    }

    &.open .custom-select-dropdown {display: block;}
    &.show-tick .selected .custom-select-dropdown_item .check-mark {opacity: 1; display: block;}
    &.show-tick .check-mark + .text {
      margin-left: 20px;
      display: block;
    }
  }

  .custom-select-control {
    width: 100%;
    height: $select-control-height;
    padding: $select-control-padding;
    position: relative;
    display: block;
    background-color: $select-control-bg-color;
    border: 1px solid $select-control-border-color;
    @include border-radius($select-control-border-radius);
    @include box-shadow($select-control-box-shadow);
    outline: none;
    @include font-size($select-control-font-size);
    color: $input-text-color;
    line-height: 20px;
    @include transition(border $select-control-ease, color $select-control-ease, box-shadow $select-control-ease);

    &:focus, &:active, .open > &, .active > & {
      padding: $select-control-hover-padding;
      border-color: $input-hover-border-color;
      @include box-shadow($select-control-hover-box-shadow);
    }

    &[disabled],
    &.disabled {
      @include opacity(0.6);
      background-color: $select-control-disabled-bg-color;
      border-color: $select-control-disabled-border-color;
      @include box-shadow(none);
      pointer-events: none;
    }

    .error > & {
      background-color: $select-control-error-bg-color;
      border-color: $select-control-error-border-color;
      color: $select-control-error-text-color;
    }

    .filter-option {
      padding: 0 10px 0 8px;
      display: inline-block;
      overflow: hidden;
      width: 100%;
      text-align: left;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .caret {
      margin-top: -1px;
      position: absolute;
      top: 50%;
      right: 8px;
      @include transform-2d(translateY(-50%));
    }
  }

  .custom-select-dropdown-wrap {
    min-width: 100%;
    margin-top: 3px;
    padding: $select-dropdown-padding;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $select-dropdown-z-index;
    display: none;
    background-color: $select-dropdown-bg-color;
    border: 1px solid $select-dropdown-border-color;
    @include border-radius($select-dropdown-border-radius);
    @include box-shadow($dropdown-list-box-shadow);
    // @include transition(visibility $select-dropdown-ease-delayed, opacity $select-dropdown-ease, transform $select-dropdown-ease);
    // @include transform-2d(translateY(-20px));

    .dropup & {
      margin-top: 0;
      margin-bottom: 3px;
      top: auto;
      bottom: 100%;
      @include transform-2d(translateY(20px));
    }

    .active > & {
      display: block;
      @include opacity(1);
      @include transition-delay(0s);
      @include transform-2d(translateY(0));
    }
  }

  .custom-select-dropdown-inner {
    @extend %list-unstyled;
    .hide {display: none;}
    .divider {
      height: 1px;
      background-color: #ccc;
    }
  }

  .custom-select-dropdown_item {
    padding: $select-dropdown-item-padding;
    display: block;
    border: none;
    color: $select-dropdown-item-text-color;
    @include transition(color $select-dropdown-item-ease, background $select-dropdown-item-ease);
    cursor: pointer;
    &:after {display: none;}
    .check-mark {
      display: none;
      position: relative; 
      top: 3px;
      float: left;
      opacity: 0;
      @include transition(opacity $select-dropdown-ease);
    }
    &:hover, &:focus, .selected > & {
      color: $select-dropdown-item-text-color;
      background-color: $select-dropdown-item-hover-bg-color;
    }
  }
  
  .custom-select-link {
    padding: $select-dropdown-item-padding;
  }

// ----------------------------
// SWITCH

  .has-switch {
    height: $switch-height;
    min-width: 90px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    @include border-radius($switch-border-radius);
    line-height: 8px;
    text-align: left;
    vertical-align: middle;
    @include user-select(none);
    cursor: pointer;

    input[type='checkbox'],
    input[type='radio'] {display: none;}

    &.deactivate {
      @include opacity(0.6);
      pointer-events: none;

      .switch-control,
      .switch-state {
        pointer-events: none;
      }
    } // deactive
  } // /switch

  .switch-wrap {
    width: 156%;
    position: relative;
    top: 0;
    display: inline-block;
    &.switch-animate { @include transition(left $switch-ease);}
    &.switch-off {
      left: -56%;
      .switch-control { @include border-left-radius($switch-border-radius, true); }
    }
    &.switch-on {
      left: 0;
      .switch-control { @include border-right-radius($switch-border-radius, true); }
    }
  } // /container

  .switch-control,
  .switch-state {
    height: 100%;
    position: relative;
    display: inline-block;
    color: white;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    @include font-size($switch-element-font-size);
    @include transition(background $switch-ease, border $switch-ease, box-shadow $switch-ease);
  }

  .switch-control {
    width: 28%;
    padding: $switch-control-padding;
    background-color: $switch-control-bg-color;
    border: 1px solid $switch-control-border-color;
    @include box-shadow($switch-control-box-shadow);
    &:hover {
      background-color: $switch-control-hover-bg-color;
      border-color: $switch-control-hover-border-color;
    }
  } // middle button

  .switch-state {
    width: 36%;
    padding: $switch-state-padding;
    font-weight: bold;
    color: $switch-state-text-color;

    &.switch-left {
      background-color: $switch-left-bg-color;
      &:hover, &:focus  {
        background-color: $switch-left-hover-bg-color;
      }
    } // /on state

    &.switch-right {
      background-color: $switch-right-bg-color;
      &:hover, &:focus  {
        background-color: $switch-right-hover-bg-color;
      }
    } // /off state
  }

// ----------------------------
// CUSTOM FILEUPLOAD
  .fileinput {
    .btn-file {
      overflow: hidden;
      vertical-align: middle;
    }
    .btn-file > input {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      font-size: 23px;
      cursor: pointer;
      filter: alpha(opacity=0);
      opacity: 0;
      direction: ltr;
    }
    .close { margin-left: 5px;}
  }

  .fileinput-filename {
    margin-top: 10px;
    display: block;
    clear: both;
  }
  
  .fileinput-exists .fileinput-new,
  .fileinput-new .fileinput-exists {
    display: none;
  }

//----------------------------
// DATEPICKER

  .datepicker {
    margin-top: 1px;
    padding-bottom: 3px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: $datepicker-z-index;
    display: none;
    background-color: $datepicker-bg-color;
    border: 1px solid $datepicker-border-color;
    @include border-radius($datepicker-border-radius);
    @include box-shadow($datepicker-box-shadow);
    &.datepicker-inline {
      position: relative;
    }
  }
  .datepicker > div {
    display: none;
  }
  .datepicker table {
    width: 100%;
    margin: 0;
  }
  .datepicker td,
  .datepicker th {
    width: 28px;
    text-align: center;
    padding: 5px;
    background-color: transparent;
    @include transition(background-color $datepicker-ease, color  $datepicker-ease);
  }
  .datepicker-months td,
  .datepicker-years td {
    padding: 0;
  }
  .datepicker .datepicker-table th {
    color: $datepicker-th-text-color;
    font-weight: bold;
  }
  .datepicker td {
  }
  .datepicker td.day:hover {
    background: $datepicker-td-hover-bg-color;
    cursor: pointer;
  }
  .datepicker td.day.disabled {
    color: $datepicker-td-disabled-text-color;
  }
  .datepicker td.old,
  .datepicker td.new {
    color: $datepicker-td-old-text-color;
  }
  .datepicker td.active,
  .datepicker td.active:hover {
    background-color: $datepicker-td-active-bg-color;
    color: $datepicker-td-active-text-color;
  }
  .datepicker td.active:hover,
  .datepicker td.active:hover:hover,
  .datepicker td.active:focus,
  .datepicker td.active:hover:focus,
  .datepicker td.active:active,
  .datepicker td.active:hover:active,
  .datepicker td.active.active,
  .datepicker td.active:hover.active,
  .datepicker td.active.disabled,
  .datepicker td.active:hover.disabled,
  .datepicker td.active[disabled],
  .datepicker td.active:hover[disabled] {
    background-color: $datepicker-td-active-bg-color;
    color: $datepicker-td-active-text-color;
  }
  .datepicker td span {
    display: block;
    width: 33.3333%;
    height: 40px;
    line-height: 40px;
    float: left;
    cursor: pointer;
    @include transition(background-color $datepicker-ease, color  $datepicker-ease);
  }
  .datepicker td span:hover {
    background: $datepicker-td-hover-bg-color;
  }
  .datepicker td span.active {
    background-color: $datepicker-td-active-bg-color;
    color: $datepicker-td-active-text-color;
  }
  .datepicker td span.old {
    color: $datepicker-td-old-text-color;
  }
  .datepicker th.datepicker-switch {
    width: 150px;
    padding: 5px 10px;
    color: $datepicker-switch-text-color;
    &:hover { color: $datepicker-switch-hover-text-color; }
  }
  .datepicker th.next,
  .datepicker th.prev {
    padding: 0 10px;
    font-size: 32px;
    color: $datepicker-next-text-color;
    font-size: 16px;
    &:hover { color: $datepicker-next-hover-text-color; }
  }
  .datepicker thead tr:first-child th {
    cursor: pointer;
  }

//----------------------------
// CLOCKPICKER
  
  .popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px 1px 5px 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.3);
    @include border-radius(4px);
    @include box-shadow($box-shadow-simple-inner-bottom);
  }
  .popover.top {
    margin-top: -3px;
  }
  .popover.right {
    margin-left: 3px;
  }
  .popover.bottom {
    margin-top: 3px;
  }
  .popover.left {
    margin-left: -3px;
  }
  .popover-title {
    padding: 8px 14px;
    margin: 0;
    font-weight: normal;
    line-height: 18px;
    border-bottom: 1px solid $color-lightgrey-light;
    @include border-top-radius(4px);
  }
  .popover-content {
    padding: 9px 14px;
  }
  .popover-footer {
    padding: 5px;
  }
  
  .clockpicker .input-group-addon {
    cursor: pointer;
  }
  .clockpicker-moving {
    cursor: move;
  }
  .clockpicker-align-left.popover > .arrow {
    left: 25px;
  }
  .clockpicker-align-top.popover > .arrow {
    top: 17px;
  }
  .clockpicker-align-right.popover > .arrow {
    left: auto;
    right: 25px;
  }
  .clockpicker-align-bottom.popover > .arrow {
    top: auto;
    bottom: 6px;
  }
  .clockpicker-popover .popover-title {
    background-color: #fff;
    color: #999;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .clockpicker-popover .popover-title span {
    cursor: pointer;
  }
  .clockpicker-popover .popover-content {
    background-color: $color-smokewhite;
    padding: 12px;
  }
  .popover-content:last-child {
    @include border-bottom-radius(4px);
  }
  .clockpicker-plate {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: visible;
    position: relative;
    /* Disable text selection highlighting. Thanks to Hermanya */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .clockpicker-canvas,
  .clockpicker-dial {
    width: 200px;
    height: 200px;
    position: absolute;
    left: -1px;
    top: -1px;
  }
  .clockpicker-minutes {
    visibility: hidden;
  }
  .clockpicker-tick {
    border-radius: 50%;
    color: #666;
    line-height: 26px;
    text-align: center;
    width: 26px;
    height: 26px;
    position: absolute;
    cursor: pointer;
  }
  .clockpicker-tick.active,
  .clockpicker-tick:hover {
    background-color: rgb(192, 229, 247);
    background-color: rgba(0, 149, 221, .25);
  }
  
  .clockpicker-dial {
    -webkit-transition: -webkit-transform 350ms, opacity 350ms;
    -moz-transition: -moz-transform 350ms, opacity 350ms;
    -ms-transition: -ms-transform 350ms, opacity 350ms;
    -o-transition: -o-transform 350ms, opacity 350ms;
    transition: transform 350ms, opacity 350ms;
  }
  .clockpicker-dial-out {
    opacity: 0;
  }
  .clockpicker-hours.clockpicker-dial-out {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  .clockpicker-minutes.clockpicker-dial-out {
    -webkit-transform: scale(.8, .8);
    -moz-transform: scale(.8, .8);
    -ms-transform: scale(.8, .8);
    -o-transform: scale(.8, .8);
    transform: scale(.8, .8);
  }
  .clockpicker-canvas {
    -webkit-transition: opacity 175ms;
    -moz-transition: opacity 175ms;
    -ms-transition: opacity 175ms;
    -o-transition: opacity 175ms;
    transition: opacity 175ms;
  }
  .clockpicker-canvas-out {
    opacity: 0.25;
  }
  .clockpicker-canvas-bearing,
  .clockpicker-canvas-fg {
    stroke: none;
    fill: rgb(0, 149, 221);
  }
  .clockpicker-canvas-bg {
    stroke: none;
    fill: rgb(192, 229, 247);
  }
  .clockpicker-canvas-bg-trans {
    fill: rgba(0, 149, 221, .25);
  }
  .clockpicker-canvas line {
    stroke: rgb(0, 149, 221);
    stroke-width: 1;
    stroke-linecap: round;
    /*shape-rendering: crispEdges;*/
  }
  .clockpicker-button.am-button {
    margin: 1px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    
  }
  .clockpicker-button.pm-button {
    margin: 1px 1px 1px 136px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
  }

// ----------------------------
// FORM LABEL & FORM HELP

  .form-label {
    label {
      display: inline-block;
      margin-bottom: $form-label-margin-vertical;
      margin-left: 1px;
      @include font-size($form-label-font-size);
      color: $form-label-text-color;
      cursor: pointer;
      font-weight: bold;
    }

    &.error {
      label {
        color: $form-error-text-color;
      }
    }
  } // /form-label

  .form-error {
    margin: $form-error-margin;
    display: block;
    clear: both;
    color: $form-error-text-color;
    @include font-size($form-error-font-size);
    line-height: $form-error-line-height;
    .fileinput + & {
      margin-left: 0;
    }
  }

  .form-help {
    margin: $form-help-margin;
    display: block;
    clear: both;
    color: $form-help-text-color;
    @include font-size($form-help-font-size);
    line-height: $form-help-line-height;
  }

// ----------------------------
// FIELDSET

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
    @include clearfix;
    &.bottom-sep {
      margin-bottom: 15px;
      border-bottom: 1px solid #c2c8cd;
    }
  }

// ----------------------------
// FORM GROUPS

  .form-control-postfixed,
  .form-control-prefixed {
    width: 100%;
    position: relative;
    display: table;
    .form-control-addon,
    .input {
      display: table-cell;
      vertical-align: middle;
    }

    .form-control-addon {
      width: 1%;
    }

    .custom-select {
      position: static;
    }

    .custom-select-control {
      min-width: 28px;
      .filter-option {display: none;}
    }

    
  }

  .form-control-postfixed {
    .input {
      @include border-right-radius(0);
      border-right-width: 0;
    }
    .btn,
    .custom-select-control {
      @include border-left-radius(0);
    }
  }

  .form-control-prefixed {
    .input {
      @include border-left-radius(0);
      border-left-width: 0;
    }
    .btn,
    .custom-select-control {
      @include border-right-radius(0);
    }
  }

// ----------------------------
// FORM LAYOUTS

  @include form-columns(12,12, $form-gutter);
  @include form-offsets(12,12);
  @include form-gutters(12, $form-gutter);

  .form-control {
    margin: 0 0 $form-control-vertical-margin;
    &.form-control-tooltip {
      padding-right: 30px;
      position: relative;
    }
    + .form-control-error {margin-top: -1 * $form-control-vertical-margin;}
  }

  .form-controls-condensed {
    .form-control {
      margin: 0 0 $form-control-condensed-vertical-margin;
      &:last-child {
        margin: 0 0 $form-control-vertical-margin;
      }
      + .form-control-error {margin-top: -1 * $form-control-condensed-vertical-margin;}
    }
  }

  .form-label-inline {
    text-align: right;
    label {
      margin-bottom: 0;
      padding: $form-label-padding;
      display: inline-block;
      line-height: 20px;
    }
  }

  @mixin form-label-stack {
    margin-bottom: $form-label-margin-vertical;
    float: none;
    display: inline-block;
    text-align: left !important;
    label {
      padding: 0 !important;
      line-height: inherit;
    }
    & + .form-controls {
      width: 100% !important;
      float: none !important;
      .input-static {
        position: relative;
        top: $input-static-stack-negative;
        padding: $input-static-stack-padding;
      }
    }
  }

  .form-label-stack {
    @include form-label-stack;
  }

  .form-controls-block {
    .form-control:not(:last-child) {
      margin-bottom: $form-control-block-margin-vertical;
    }
  }

  @include media-w-xl {
    @include form-gutters(12, $form-gutter-xl);
    @include form-offsets-prefixed(12, 12, 'xl');
    .form-label-stack-xl {
      @include form-label-stack;
    }
  }
  @include media-w-m {
    @include form-columns-prefixed(12, 12, 'm');
    @include form-gutters(12, $form-gutter-m);
    @include form-offsets-prefixed(12, 12, 'm');
    .form-label-stack-m {
      @include form-label-stack;
    }
    .form-controls-condensed-m {
      .form-control {
        margin: 0 0 $form-control-condensed-vertical-margin;
      }
    }
  }
  @include media-w-s {
    @include form-columns-prefixed(12, 12, 's');
    @include form-gutters(12, $form-gutter-s);
    @include form-offsets-prefixed(12, 12, 's');
    .form-label-stack-s {
      @include form-label-stack;
    }
    .form-controls-condensed-s {
      .form-control {
        margin: 0 0 $form-control-condensed-vertical-margin;
      }
    }
  }
  @include media-w-xs {
    @include form-columns-prefixed(12, 12, 'xs');
    @include form-offsets-prefixed(12, 12, 'xs');
    .form-label-stack-xs {
      @include form-label-stack;
    }
    .form-controls-condensed-xs {
      .form-control {
        margin: 0 0 $form-control-condensed-vertical-margin;
      }
    }
  }

  .form-controls-inline {
    .form-control {
      float: left;
      margin-right: 10px !important;
      &:last-child {margin-right: 0 !important;}
    }
    @include media-w-xs {
      .form-control-full-xs {
        width: 100%;
        margin-right: 0 !important;
      }
    }
  }

  @for $i from 1 through 12 {
    .form-control-fixed-#{$i} { width: 30px * $i;}
  }
