// ---------------------------------------------
// GRID
// ---------------------------------------------

  .wrapper-main {
    width: 100%;
    max-width: $wrapper-main-width;
    margin: 0 auto;
    padding: 0 $wrapper-main-padding;
  } // /main wrapper

  .grid-12col {
    width: 100%;
    max-width: $grid12-width;
    margin: 0 auto;
    
    @include grid-base(12, $grid12-gutter, $grid12-row-margin-vertical);
    @include grid-columns(12, 12);
    @include grid-offsets(12, 12);
    
    padding: 0 $grid12-padding;
    
  }

  @include media-w-xl {
    .wrapper-main{
      max-width: $wrapper-main-width-xl;
      padding: 0 $wrapper-main-padding-xl;
    }

    .grid-12col {
      max-width: $grid12-width-xl;
      @include grid-gutters(12, $grid12-gutter-xl);
      @include grid-columns-prefixed(12, 12, 'xl', $grid12-row-margin-vertical);
      @include grid-offsets-prefixed(12, 12, 'xl');
      padding: 0 $wrapper-main-padding-xl;
    }
  }

  @include media-w-m {
    .wrapper-main{
      padding: 0 $wrapper-main-padding-m;
    }

    .grid-12col {
      max-width: none;
      @include grid-gutters(12, $grid12-gutter-m);
      // @include grid-columns(12, 6);
      @include grid-columns-prefixed(12, 6, 'm', $grid12-row-margin-vertical-m);
      // @include grid-offsets(12, 6);
      @include grid-offsets-prefixed(12, 6, 'm');
      padding: 0 $grid12-padding-m;
    }
  }

  @include media-w-s {
    .wrapper-main{
      padding: 0 $wrapper-main-padding-s;
    }

    .grid-12col {
      @include grid-gutters(12, $grid12-gutter-s);
      // @include grid-columns(12, 4);
      @include grid-columns-prefixed(12, 4, 's', $grid12-row-margin-vertical-m);
      // @include grid-offsets(12, 4);
      @include grid-offsets-prefixed(12, 4, 's');
      padding: 0 $grid12-padding-s;
    }
  }

  @include media-w-xs {
    .grid-12col {
      // @include grid-columns(12, 1);
      @include grid-columns-prefixed(12, 2, 'xs', $grid12-row-margin-vertical-m);
      @include grid-offsets-prefixed(12, 2, 'xs');
    }
  }

// ---------------------------------------------
// UTILITY CLASSES

  @mixin rwd-grid-utilities($prefix: '') {
    .pull-right#{$prefix} {float: right !important;}
    .pull-left#{$prefix} {float: left !important;}
  }

  @include rwd-grid-utilities();

  .clearfix { @include clearfix; }

  .center-unknown { @include center-unknown; }

  .no-mrg {
    margin: 0 !important;
  }
  
  .no-mrg-top {
    margin-top: 0 !important;
  }
  
  .no-mrg-bottom {
    margin-bottom: 0 !important;
  }

  .no-pad {
    padding: 0 !important;
  }
  
  .inln-blck {
    display: inline-block; 
  }
  
  .clear {
    clear: both;
  }

  hr {
    height: 1px;
    display: block;
    margin: $default-margin-vertical 0;
    border: none;
    border-top: 1px solid $hr-bg-color;
  }

  .show-xl {  display: none !important;}
  .show-m {   display: none !important;}
  .show-s {   display: none !important;}
  .show-xs {  display: none !important;}

  .show-l {   
    display: initial !important;
    .ie & { display: block !important;}
  }
  .hide-l {   display: none !important;}

  @include media-w-xl {
    @include rwd-grid-utilities('-xl');
    .show-l {   display: none !important;}
    .show-m {   display: none !important;}
    .show-s {   display: none !important;}
    .show-xs {  display: none !important;}

    .show-xl {  
      display: initial !important;
      .ie & { display: block !important;}
    }
    .hide-xl {  display: none !important;}
  }

  @include media-w-m {
    @include rwd-grid-utilities('-m');
    .show-xl {  display: none !important;}
    .show-l {   display: none !important;}
    .show-s {   display: none !important;}
    .show-xs {  display: none !important;}

    .show-m {   
      display: initial !important;
      .ie & { display: block !important;}
    }
    .hide-m {   display: none !important;}
  }

  @include media-w-s {
    @include rwd-grid-utilities('-s');
    .show-xl {  display: none !important;}
    .show-l {   display: none !important;}
    .show-m {   display: none !important;}
    .show-xs {  display: none !important;}

    .show-s {   
      display: initial !important;
      .ie & { display: block !important;}
    }
    .hide-s {   display: none !important;}
  }

  @include media-w-xs {
    @include rwd-grid-utilities('-xs');
    .show-xl {  display: none !important;}
    .show-l {   display: none !important;}
    .show-m {   display: none !important;}
    .show-s {   display: none !important;}

    .show-xs {  
      display: initial !important;
      .ie & { display: block !important;}
    }
    .hide-xs {  display: none !important;}
  }

  // hacks
  
  @include media-w-m {
    .show-dib-m {
      display: inline-block !important;
    }
  }



  