// ---------------------------------------------
// ICONS AND IMAGES
// ---------------------------------------------

// ----------------------------
// ICONS

  .icon {
    font-family: 'icomoon'; // icomoon icons
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    vertical-align: -10%;
    
    @include transition(color $icon-ease);
    
    /* Enable Ligatures ================ */
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-xl { font-size: $icon-xl; }
  .icon-l { font-size: $icon-l; }
  .icon-m { font-size: $icon-m; }
  .icon-s { font-size: $icon-s; }

  .icon-semiwhite { 
    color: $icon-semiwhite;
  }
  .icon-h-white:hover { 
    color: $icon-white;
  }

// ----------------------------
// IMAGES

  .img-fluid {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .img-table-logo {
    width: auto;
    margin: 0;
    max-height: 16px;
    float: right;
    &.img-l {
      max-height: 32px;
    }
  }
