// ---------------------------------------------
// MAIN
// ---------------------------------------------

html, body {
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: $default-font-size;
}

body {
  background: $default-bg-color;
  font-family: $default-font-family;
  line-height: _get-em($default-line-height, $default-font-size);
  color: $default-text-color;
}

* { @include box-sizing(border-box); }
*:after { @include box-sizing(border-box); }
*:before { @include box-sizing(border-box); }


::selection { 
  background-color: fade-out($selection-bg-color, 0.1); 
  color: $selection-text-color;
}

::-moz-selection { 
  background-color: fade-out($selection-bg-color, 0.1); 
  color: $selection-text-color;
}
