// ---------------------------------------------
// MODALS
// ---------------------------------------------


/* Hide scroll bar */
// html.modal_lock,
body.modal_lock {
  overflow: hidden; 
  // @include media-w-s {
  //   overflow: hidden;
  // }
}

html.touch.modal_lock {overflow: hidden;}

/* Anti FOUC */
.modal,
[data-modal-id] {
  visibility: hidden;
}

.modal-overlay {
  position: fixed;
  z-index: $modal-overlay-z-index;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  opacity: 0;
  display: none;
  background-color: $modal-overlay-bg-color;
  text-align: center;
  @include transition(opacity $modal-overlay-ease);
  
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden; // Fix iPad, iPhone glitches
  
  .modal_active & {
    opacity: 1;
  }
  
  &:after {
    content: "";
    height: 100%;
    margin-left: -0.05em;
    display: inline-block;
    vertical-align: middle;
  }

  @include media-w-s {
    padding: 5px;
  }
  @include media-w-xs {
    padding: 0;
  }
}

.modal {
  width: 100%;
  max-width: 479px;
  margin: 20px auto;
  position: relative;
  display: inline-block;
  background-color: $modal-bg-color;
  border: 1px solid $modal-border-color;
  @include border-radius($modal-border-radius);
  @include box-shadow($modal-box-shadow);
  vertical-align: middle;
  @include transition(transform $modal-ease, -webkit-transform $modal-ease);
  @include transform-2d(scale(0.95));
  
  .modal_active & {
    @include transform-2d(scale(1));
  }

  &.modal-footerless {
    padding-bottom: 0;
  }

  @include media-w-s {
    margin: 0;
  }

  @include media-w-xs {
    min-height: 100%;
    border: none;
    @include border-radius(0);
    @include box-shadow(none);
  }
}

.modal_header {
  width: 100%;
  height: $modal_header-height;
  padding: $modal_header-padding;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid $modal_header-border-bottom-color;
  text-align: left;
  vertical-align: middle;
  h3 {
    line-height: $modal_header-height - 2px;
    @include text-ellipsis;
    .icon {margin-right: 5px;}
  }
  .modal-close {
    padding: 0 5px;
    position: absolute;
    top: 17px;
    right: 10px;
    border: none;
  }
}

.modal_content {
  padding: $modal_content-padding;
  padding-bottom: $modal_footer-height !important;
  text-align: left;
  &.no-pad {
    padding: 0;
  }
}

.modal_footer {
  width: 100%;
  padding: $modal_footer-padding;
  position: absolute;
  bottom: 1px;
  left: 0;
  background-color: $modal-bg-color;
  border-top: 1px solid $modal_footer-border-color;
}

// ----------------------------
// POPUPS

  .modal-popup {
    max-width: 400px;
    padding: 0;
    border: none;
    background-color: transparent;
    @include border-radius(0);
    @include box-shadow(none);
    
    @include media-w-xs {
      height: 100%;
      max-width: 100%;
    }
  }

  .modal-popup_header {
    background-color: $popup_header-bg-color;
    border: 1px solid $popup_header-border-color;
    @include border-top-radius($modal_header-border-radius);
    .modal-close {
      color: $popup-close-text-color;
      &:hover { color: $popup-close-hover-text-color;}
    }

    .modal-popup-error & {
      background-color: $popup_header-error-bg-color;
      border: 1px solid $popup_header-error-border-color;
      h3 { color: $popup_header-error-text-color; }
      .modal-close {
        color: $popup-close-error-text-color;
        &:hover { color: $popup-close-hover-text-color;}
      }
    }

    .modal-popup-warning & {
      background-color: $popup_header-warning-bg-color;
      border: 1px solid $popup_header-warning-border-color;
      h3 { color: $popup_header-warning-text-color; }
      .modal-close {
        color: $popup-close-warning-text-color;
        &:hover { color: $popup-close-hover-text-color;}
      }
    }

    @include media-w-xs {
      border-top: none;
      border-right: none;
      border-left: none;
      @include border-top-radius(0);
    }

  }

  .modal-popup_content {
    padding-bottom: $modal_content-padding !important;
    background-color: $popup_content-bg-color;
    border: 1px solid $popup_content-border-color;
    border-top: none;
    @include border-bottom-radius($popup_content-border-radius);
    @include box-shadow($popup_content-box-shadow);
    text-align: center;
    @include media-w-xs {
      min-height: calc(100% - #{$modal_header-height});
      border: none;
      @include border-radius(0);
      @include box-shadow(none);
    }
  }
