// ---------------------------------------------
// PRELOADERS
// ---------------------------------------------

// apply this class on concent-main when preloader overlay is active
.preloader_lock.content-main{
  position: relative;
  overflow: hidden;
}

.preloader_overlay {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 150;
  background-color: rgba($color-lightgrey-lighter, 0.7);
  .preloader {
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 151;
  }
}

.preloader {
  width: 40px;
  height: 40px;
  
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.7;
    display: block;
    @include border-radius(100%);
    border-top: 3px solid #545A6A;
    border-bottom: 3px solid #DDDDDF;
    border-left: 3px solid #545A6A;
    border-right: 3px solid #DDDDDF;
    @include animation(spin 0.6s linear 0s infinite);
  }

  .btn & {
    display: inline-block;
    vertical-align: -10%;
  }
}

.preloader-center {
  margin: 0 auto;
}

.preloader-small {
  width: 30px;
  height: 30px;
  &:after {
    border-width: 2px;
  }
}

.preloader-xsmall {
  width: 15px;
  height: 15px;
  &:after {
    border-width: 2px;
  }
}