// ---------------------------------------------
// STYLE GUIDE
// ---------------------------------------------

.style-guide-body {
  height: 100%;
}

.debug {
  height: 40px;
  border: 1px solid #ccc;
  background-color: rgba(0,0,0,0.025);
  text-align: center;
  line-height: 40px;
  overflow: hidden;
}

// ---------------------------------------------
// STYLE GUIDE HEADER

  .style-guide-header {
    width: 100%;
    height: 100%;
    background-color: $style-guide-header-bg-color;
    color: $style-guide-header-text-color;
    .wrapper-main {
      height: 100%;
      text-align: left;
    }
  }
  .style-guide-header_headline {
    display: inline-block;
    vertical-align: middle;
  }

// ---------------------------------------------
// STYLE GUIDE SECTION

  .style-guide-section {
    &.active .style-guide-section_content {
      height: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
      opacity: 1;
      overflow: visible;
    }
  }
  .style-guide-section_header {
    width: 100%;
    padding: 10px 0;
    background-color: $style-guide-section_header-bg-color;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: $style-guide-section_header-text-color;
    h2 {
      color: $style-guide-section_header-text-color;
    }
  }
  .style-guide-section_toggle {
    float: right;
    display: inline-block;
    vertical-align: middle;
    border: none;
  }
  .style-guide-section_content {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    opacity: 0;
    
    @include transition(padding $ease-300, opacity $ease-300);
  }

// ---------------------------------------------
// STYLE GUIDE COLOR PALETTE

  .style-guide_color-palette {
    @extend %list-unstyled;
    @include clearfix;
  }

  .style-guide_color-palette_color {
    width: 75px;
    height: 75px;
    margin: 10px 20px 10px 0;
    position: relative;
    float: left;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.1);

    $colors: ($color-lightgreen, $color-green, $color-darkgreen, $color-black, $color-grey, $color-lightgrey, $color-orange, $color-red, $color-white);
    $i: 1;

    @each $color in $colors {
      &:nth-child(#{$i}) { background-color: $color;}
      $i: $i + 1;
    }

  }


// ---------------------------------------------
// STYLE GUIDE ICONS LIST

.style-guide_icons-list_item {
  width: 80px;
  @include text-ellipsis;
  text-align: center;
}
