// ---------------------------------------------
// TABLES
// ---------------------------------------------

  // ---------------------------------------------
  // DEFAULT TABLE
  
    .table {
      width: 100%;
      
      tbody {
        tr:last-child,
        tr.tr-batch.last { 
          border: none;
          td { border: none; }
        }
      }

      td, th {
        padding: $table-cell-padding;
        vertical-align: middle;
        border-bottom: 1px solid $table-row-border;
        line-height: 20px;
      }

      &.table-large {
        td, th {
          padding: $table-large-cell-padding;
        }
      }

      thead {
        th {
          padding: 1px $table-cell-padding;
          background-color: $table_heading-bg-color;
          color: $table_heading-text-color;
          @include font-size($table_heading-font-size);
          font-weight: normal;
          text-align: left;
          text-transform: uppercase;
        }
        .table_sort {
          color: $table_sort-text-color;
          border: none;
          .icon {margin-left: 5px;}
          &:hover { color: $table_sort-hover-text-color;}
          &.active { color: $table_sort-active-text-color;}
        }
      } // thead
      
      .box-footerless & {
        tr:last-child {
          @include border-bottom-radius($table-cell-border-radius);
          td {
            &:first-child { @include border-radius($table-cell-border-radius, 'bottom left'); }
            &:last-child { @include border-radius($table-cell-border-radius, 'bottom right'); }
          }
        }
      }

      .box-headerless & {
        thead th {
          &:first-child { @include border-radius($table-cell-border-radius, 'top left'); }
          &:last-child { @include border-radius($table-cell-border-radius, 'top right'); }
        }
        @include media-w-s {
          tbody tr:first-child { @include border-top-radius($table-cell-border-radius);}
        }
      }

      &.table-archived {
        td {
          color: $table-archived-row-text-color;
        }
        .img-table-logo {
          @include filter-grayscale(1);
          @include transition(filter $table-img-ease);
        }
        tr.selected {
          td {
            color: $table-archived-row-hover-text-color;
          }
          .img-table-logo {
            @include filter-grayscale(0);
          }
        }

      }

      tr {
        &.selected {
          td {
            @include transition($table-row-selected-ease);
            background-color: $table-row-selected-bg-color; 
          }
        }
        &.unread {
          td {
            background-color: $table-row-unread-bg-color;
            font-weight: bold;
          }
        }
        &.failed {
          td {
            background-color: $table-row-failed-bg-color;
            color: $table-row-failed-text-color;
            .icon, span { color: $table-row-failed-text-color; }
          }
        }
        &.processing {
          td {
            background-color: $table-row-processing-bg-color;
            color: $table-row-processing-text-color;
            .icon, span { color: $table-row-processing-text-color; }
          }
        }
        &.tr-batch.active {
          td {
            background-color: $table-row-batch-active-bg-color;
          }
        }
        @include media-w-s {
          &.selected { background-color: $table-row-selected-bg-color; }
          &.unread { background-color: $table-row-unread-bg-color; }
          &.failed { background-color: $table-row-failed-bg-color; }
          &.processing { background-color: $table-row-processing-bg-color; }
          &.tr-batch.active { background-color: $table-row-batch-active-bg-color; }
        }
      } // tr state
      
      .tr-batch-content {
        display: none;
        &.active { display: table-row; }
        & > td { 
          padding: 0; 
        }
        @include media-w-s {
          &.active {
            padding: 0;
            display: block;
          }
          & > td { width: 100%;}
        }
      }

      // hack icon
      .td-icon-space .icon{
        width: 38px; // width btn with only icon
        text-align: center;
        display: inline-block;
      }

      .preloader {
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
        @include media-w-s {margin-right: 10px;}
      }

      // fixed min width for filter in tables
      .td-filter-flag { min-width: 60px;}
      .td-filter-type { min-width: 127px;}
      .td-filter-date { min-width: 140px;}
      .td-filter-state { min-width: 90px;}
      .th-date-time { min-width: 175px; }
      .td-due-date {width: 115px;}
      .td-filter-process {width: 110px;}
      .td-filter-price { width: 120px;}
      .td-filter-name { min-width: 140px;}
      .td-filter-category { width: 140px;}
    } // table
    
    .table-batch {
      thead {
        th {
          background-color: $table-batch_heading-bg-color;
          color: $table-batch_heading-text-color;
        }
      } // thead
      td {
        background-color: $table-batch-cell-bg-color;
      }
      @include media-w-s {
        tr {
          background-color: $table-batch-cell-bg-color;
        }
      }
    }
    
    .table-hovers {
      tbody tr:hover {
        @include transition($table-row-ease);
        
        & > td {
          @include transition($table-row-ease);
          background-color: $table-row-hover-bg-color;
        }

        @include media-w-s {
          background-color: $table-row-hover-bg-color;
        }
      } // tr
      
      &.table-batch {
        tbody tr:hover {
          td { background-color: $table-batch-cell-hover-bg-color; }
          @include media-w-s { background-color: $table-batch-cell-hover-bg-color; }
        }
      }
      
      tr:hover {
        &.unread td, &.selected td {
          background-color: $table-row-hover-unread-bg-color;
        }
        &.failed td {
          background-color: $table-row-hover-failed-bg-color;
        }
        &.processing td {
          background-color: $table-row-hover-processing-bg-color;
        }
        &.tr-batch.active td{
          background-color: $table-row-batch-active-hover-bg-color;
        }
        @include media-w-s {
          &.unread, &.selected { background-color: $table-row-hover-unread-bg-color; }
          &.failed { background-color: $table-row-hover-failed-bg-color; }
          &.processing { background-color: $table-row-hover-processing-bg-color; }
          &.tr-batch.active { background-color: $table-row-batch-active-hover-bg-color; }
        }
      } // tr states   
    } // table hovers
    
    .table-border-top {
      border-top: 1px solid $table-border-top;
    }
    
    .table-actions {
      padding: $table-actions-padding;
    }
    
  // ---------------------------------------------
  // RESPONSIVE TABLE
  
    .table-responsive-s {
      .td-fixed-10-s { width: 1%; }

      .btn-fix-spaces { margin-left: 10px; }

      .td-break-sender { max-width: 235px;}

      .td-3btns {
        width: 120px;
      }

      @include media-w-m {
        .td-2btns-m { min-width: 90px;}
        .td-3btns { width: 165px; }
      }

      @include media-w-s {
      
        display: block;
        tbody, thead, tr, td {
          display: block;
          border: none;
        }
        tr {
          padding: 10px 5px;
          @include clearfix;
          border-bottom: 1px solid $table-row-border;
        }
        th, td {
          padding: $table-cell-padding-s;
          float: left;
        }
        &.table-large {
          th, td {
            padding: $table-large-cell-padding-s;
          }
        }

        .td-fixed-10-s { width: 10%; }
        .td-pull-right-s { float: right; }
        .td-clear-s { clear: both; }
        .td-ofst-10-s {margin-left: 10%;}

        .td-fixed-1of3-s { width: 33%; }
        .td-fixed-2of3-s { width: 66%; }

        .td-fixed-1of4-s { width: 25%; }
        .td-fixed-2of4-s { width: 50%; }
        .td-fixed-3of4-s { width: 75%; }
        .td-fixed-4of4-s { width: 100%; }

        .td-1of3-s { max-width: 33%; }
        .td-2of3-s { max-width: 66%; }

        .td-1of4-s { max-width: 25%; }
        .td-2of4-s { max-width: 50%; }
        .td-3of4-s { max-width: 75%; }

        .btn-fix-spaces { margin-left: 3px; }

        .td-break-sender { max-width: 100%;}
      }

      @include media-w-xs {
        @include font-size(13px);
        
        .td-clear-xs { clear: both; }

        .td-1of3-xs {
          max-width: 33%;
        }
      }
    }

    

    

    
