// ---------------------------------------------
// TOOLTIPS
// ---------------------------------------------

%tooltip-icon {
  width: $tooltipster-icon-size + 2*$tooltipster-icon-padding;
  height: $tooltipster-icon-size + 2*$tooltipster-icon-padding;
  padding: $tooltipster-icon-padding; 
  background-color: $tooltipster-icon-bg-color;
  border-radius: 50%;
  color: $toolttpster-icon-text-color;
  font-size: $tooltipster-icon-font-size;
  line-height: $tooltipster-icon-size;
  text-align: center;
  cursor: help; 
  @include background-clip(content-box);
}

.tooltip-icon {
  @extend %tooltip-icon;
  position: relative;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  .form-control-tooltip & {
    position: absolute;
    top: 4px;
    right: 0;
  }
  .form-label & {
    left: -3px;
  }
}

// ---------------------------------------------
// TOOLTIPSTER
  
.tooltipster-default {
  border-radius: $tooltipster-border-radius; 
  background: $tooltipster-bg;
  color: $tooltipster-color;
  .tooltipster-content {
    font-size: $tooltipster-font-size;
    text-align: center;
    line-height: $tooltipster-line-height;
    padding: $tooltipster-padding;
    overflow: hidden;
  }
}



.tooltipster-icon {
  @extend %tooltip-icon;
  position: absolute; 
  top: -10px;
  right: -10px;
  
  .btn-green & {
    background-color: $tooltipster-icon-green;
  }
  .btn-orange & {
    background-color: $tooltipster-icon-orange;
  }
}
 
.tooltipster-base {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: $tooltipster-zindex;
  pointer-events: none;
  width: auto;
  overflow: visible;
}

.tooltipster-base .tooltipster-content {
  overflow: hidden;
}

.tooltipster-arrow {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.tooltipster-arrow span {
  display: block;
  width: 0; 
  height: 0;
  position: absolute;
}
.tooltipster-arrow-top span, 
.tooltipster-arrow-top-right span, 
.tooltipster-arrow-top-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-top: 8px solid;
  bottom: -7px;
}
.tooltipster-arrow-bottom span,
.tooltipster-arrow-bottom-right span,
.tooltipster-arrow-bottom-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom: 8px solid;
  top: -7px;
}
.tooltipster-arrow-top span,
.tooltipster-arrow-bottom span {
  left: 0;
  right: 0;
  margin: 0 auto;
}
.tooltipster-arrow-top-left span,
.tooltipster-arrow-bottom-left span {
  left: 6px;
}
.tooltipster-arrow-top-right span,
.tooltipster-arrow-bottom-right span {
  right: 6px;
}
.tooltipster-arrow-left span {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important; 
  border-left: 8px solid;
  top: 50%;
  margin-top: -7px;
  right: -7px;
}
.tooltipster-arrow-right span {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important; 
  border-right: 8px solid;
  top: 50%;
  margin-top: -7px;
  left: -7px;
}

.tooltipster-fade {
  opacity: 0;
  @include transition-property(opacity);
}
.tooltipster-fade-show {
  opacity: 1;
}

.tooltipster-content-changing {
  opacity: 0.5;
  @include transform-2d(scale(1.1, 1.1));
}
