// ---------------------------------------------
// TYPOGRAPHY
// ---------------------------------------------

%text-spacing {
  margin: $default-text-margin-vertical 0;
}

// ---------------------------------------------
// HEADLINES
 
  %headline {
    margin: $headline-margin-vertical 0;
    font-weight: bold;
    line-height: $headline-line-height;
    color: $headline-text-color;
  }

  h1, 
  .h1 {
    @extend %headline;
    @include font-size($h1-font-size);
  } // headline 1


  h2,
  .h2 {
    @extend %headline;
    @include font-size($h2-font-size);
  } // headline 2


  h3,
  .h3 {
    @extend %headline;
    @include font-size($h3-font-size);
  } // headline 3

// ---------------------------------------------
// TEXT

  p {
    @extend %text-spacing;
  } // paragraph

  .text-big {
    margin: $hero-margin-vertical 0;
    @include font-size($hero-font-size);
    line-height: $hero-line-height;
  } // big
  
  .text-desc {
    color: $desc-text-color;
  }
 
  .text-small {
    @include font-size($small-font-size);
    line-height: _get-em($small-line-height, $small-font-size);
  }


  a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: $link-text-color;
    cursor: pointer;
    @include transition(color $link-ease, border $link-ease);
    &:hover {
      color: $link-hover-text-color;
      border-bottom-color: $link-hover-border-color;
    }
    &.no-bd { border: none; }
    &.disabled { pointer-events: none;}
  }

  address {
    font-style: normal;
  }

  abbr {
    cursor: help;
  }

// ---------------------------------------------
// LISTS

  ul,
  ol {
    @extend %text-spacing;
  }

  .list-inline {
    @extend %list-unstyled;
    & > li {
      margin: $default-text-margin-vertical 0.5em $default-text-margin-vertical 0;
      display: inline-block;
      &:first-child {margin-left: 0;}
      &:last-child {margin-right: 0;}
    }
  }

  .list-inline-expanded {
    & > li {
      margin: $default-text-margin-vertical 1em $default-text-margin-vertical 0;
    }
  }

  dl {
    @extend %text-spacing;
    dt {
      font-weight: bold;
    }
    dd {
      margin-left: 0;
      margin-bottom: $default-text-margin-vertical;
    }
    &.inline {
      dt, dd { 
        float: left;
        margin: 0; 
      }
      dt { 
        clear:both;
        margin-right: 5px;
      }
    }
  } // definition list

// ---------------------------------------------
// UTILITY CLASSES

  @mixin rwd-utilities($prefix: '') {
    .text-center#{$prefix} { text-align: center !important; }
    .text-left#{$prefix} { text-align: left !important; }
    .text-right#{$prefix} { text-align: right !important; }
  }

  .text-upper { text-transform: uppercase !important; }
  .text-normal { font-weight: normal !important; }
  .text-bold { font-weight: bold !important; }
  .text-justify { text-align: justify !important; }
  .text-semibold {font-weight: 600;}

  @include rwd-utilities();
  @include media-w-m { @include rwd-utilities('-m');}
  @include media-w-s { @include rwd-utilities('-s');}
  @include media-w-xs { @include rwd-utilities('-xs');}

  .text-nospace {
    margin: 0;
  }

  .text-ellipsis {
    @include text-ellipsis;
  }

  %list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  } // unstyled list
  



  .text-color-black { color: $text-color-black !important; }
  .text-color-lightgrey { color: $text-color-lightgrey !important; }
  .text-color-grey { color: $text-color-grey !important; }
  .text-color-white { color: $text-color-white !important; }

  .text-color-green { color: $text-color-green !important; }
  .text-color-darkgreen { color: $text-color-darkgreen !important; }
  .text-color-lightgreen { color: $text-color-lightgreen !important; }
  .text-color-orange { color: $text-color-orange !important; }
  .text-color-red { color: $text-color-red !important; }
  .text-color-blue { color: $text-color-blue !important; }
  .text-color-yellow { color: $text-color-yellow !important; }


