// ---------------------------------------------
// VARIABLES
// ---------------------------------------------

// ----------------------------
// FONTS & ICONS

  // font size
  $font-size-root: 14px !default;

  $font-size-xl: 36px !default;
  $font-size-l: 26px !default;
  $font-size-m: 18px !default;
  $font-size-s: 16px !default;
  $font-size-xs: 12px !default;
  
  $font-size-18: 18px !default;

  // font family
  $font-family-opensans: 'Open Sans', Helvetica, Arial, sans-serif !default;

  // line height
  $line-height-normal: 22px !default;
  $line-height-headline: 1.3em;
  $line-height-hero: 1.6em;
  $line-height-small: 18px;
  
  // margin
  $headline-margin: 1em;
  
  $space-text: 1.5em !default;

  // icon size
  $icon-48: 48px !default;
  $icon-32: 32px !default;
  $icon-24: 24px !default;
  $icon-16: 16px !default;

// ----------------------------
// SIZES

  $page-viewport: 1280px !default;
  $page-viewport-xl: 1280px !default;
  
  $page-side-padding: 40px !default;
  $page-side-padding-xl: 40px !default;
  $page-side-padding-m: 10px !default;
  $page-side-padding-s: 10px !default;
  
  $space-horizontal: 20px !default;
  $space-horizontal-xl: 20px !default;
  $space-horizontal-m: 5px !default;
  $space-horizontal-s: 5px !default;

  $space-vertical-small: 10px !default;
  $space-vertical: 20px !default;
  $space-vertical2x: 40px !default;
  
  $border-radius-main: 3px !default;
  
  $box-padding: 15px !default;
  
  $input-height: 30px !default;

// ----------------------------
// COLORS

  $color-white: #fff !default;
  $color-smokewhite: #fcfcfc !default;
  $color-smokewhite-dark: #f5f5f5 !default;
  $color-smokewhite-bg: #f3f3f3 !default;
  $color-black: #141414 !default;
  
  $color-lightgreen: #62c05d !default;
  $color-green: #44a041 !default;
  $color-darkgreen: #003f00 !default;
  $color-smokegreen: #e9f6e8 !default;
  
  $color-grey: #8f8f8f !default;
  $color-grey-dark: #6f6f6f !default;
  $color-gray-darker: #353535 !default;
  
  $color-lightgrey: #afb1af !default;
  $color-lightgrey-light: #ccc !default;
  $color-lightgrey-lighter: #eee !default;
  $color-lightgrey-dark: #b0b0b0 !default;
  
  $color-orange: #fe884f !default;
  $color-orange-dark: #d96933 !default;
  $color-smokeorange: #fff4f0 !default;

  $color-red: #ff2b2b !default;

  $color-blue: #1c91fe !default;
  
  $color-yellow: #edc446 !default;
  $color-smokeyellow: #fff7d1 !default;
  $color-smokeyellow-dark: #b5a972 !default;
  $color-smokeyellow-light: #fffced !default;
  $color-smokeyellow-lighter: #fdfcf5 !default;
  
  $color-orange-light: lighten($color-orange,5%) !default;
  $color-orange-lighter: lighten($color-orange,10%) !default;
  $color-orange-dark: darken($color-orange,10%) !default;

  $color-semiwhite: rgba(255,255,255,0.5) !default;
  $color-semiblack: rgba(0,0,0,0.5) !default;
  $color-semiblack-40: rgba(0,0,0,0.4) !default;
  $color-semiblack-20: rgba(0,0,0,0.2) !default;
  $color-semiblack-08: rgba(0,0,0,0.08) !default;
  $color-semiblack-04: rgba(0,0,0,0.04) !default;
  
  $color-facebook: #3c5b9a !default;
  $color-google: #dd4b39 !default;
  $color-twitter: #55acee !default;
  $color-linkedin: #007bb6 !default;
  $color-city: #979797 !default;
  $color-city-bg: #d8d8d8 !default;
  
// ----------------------------
// SHADOWS

  $box-shadow-inner-bottom: inset 0 -3px 0 rgba(#000, 0.15), inset 0 2px rgba(#000, 0);
  $box-shadow-inner-top: inset 0 -3px 0 rgba(#000, 0), inset 0 2px rgba(#000, 0.15);
  
  $box-shadow-thin-inner-top: inset 0 1px 0 rgba(#000, 0.08), 0 0 7px rgba(0,0,0,0);
  $box-shadow-thin-dark-inner-top: inset 0 1px 0 rgba(#000, 0), 0 0 7px rgba(0,0,0,0.15);
  
  $box-shadow-light-inner-bottom: inset 0 -3px 0 rgba(#000, 0.08), inset 0 2px rgba(#000, 0);
  $box-shadow-light-inner-top: inset 0 -3px 0 rgba(#000, 0), inset 0 2px rgba(#000, 0.08);
  $box-shadow-none-inner-bottom: inset 0 -3px 0 rgba(#000, 0), inset 0 2px rgba(#000, 0);
  
  $box-shadow-green-inner-bottom: inset 0 -3px 0 rgba($color-lightgreen, 0.58), inset 0 2px rgba($color-lightgreen, 0);
  $box-shadow-green-inner-top: inset 0 -1px 0 rgba($color-lightgreen, 0.58), inset 0 2px rgba($color-lightgreen, 0.20);
  
  $box-shadow-simple-inner-bottom: inset 0 -2px 0 rgba(0,0,0,0.2);
  $box-shadow-simple-inner-top: inset 0 2px 0 rgba(0,0,0,0.2);

  $box-shadow-outer-bottom: 0 2px 0 rgba(#000, 0.08);
  
  $box-shadow-lvl-1: 0 3px 6px rgba(0,0,0,0.3) !default;

// ---------------------------------------------
// Z-INDEX

  $z-index-default: 100 !default;
  $z-index-overlay: 150 !default;

// ---------------------------------------------
// EASINGS

  $ease-300: 0.3s ease 0s !default;
  $ease-100: 0.1s ease 0s !default;
  $ease-200: 0.2s ease 0s !default;
  $ease-in-200: 0.2s ease-in 0s !default;
  $ease-200-delayed: 0.2s ease 0.2s !default;
  $ease-600: 0.6s ease 0s !default;

  $slow-end-anim: cubic-bezier(0.250, 0.250, 0.000, 0.995) !default;

